<div class="page-layout " fusePerfectScrollbar *ngIf="loginService.validatePermissionTree('users') && loginService.validatePermissionTree('settings','catalogs','read')">

  <mat-sidenav-container>

      <!-- SIDENAV -->
      <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                  fuseMatSidenavHelper="simple-left-sidenav" mat-is-locked-open="gt-md">

          <div class="sidenav-content p-24" fusePerfectScrollbar>

              
              <div class="demo-sidenav">
                  <mat-list>
                      
                      <h3 matSubheader>Catálogo</h3>
              
                      <mat-list-item class="sidenav-item" *ngFor="let col of collections"  (click)="setCollection(col)" mat-ripple [ngClass]="{'active': current_collection==col.collection}">
                          <span> {{ col.label }} </span>
                      </mat-list-item>
              
              
              
                  </mat-list>
              </div>
  

          </div>

      </mat-sidenav>
      <!-- / SIDENAV -->

      <!-- CENTER -->
      <div class="center" fusePerfectScrollbar>

          <!-- HEADER -->
          <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">

              <button mat-button class="mat-icon-button sidenav-toggle"
                      fuseMatSidenavToggler="simple-left-sidenav"
                      fxHide.gt-md>
                  <mat-icon>menu</mat-icon>
              </button>

              <div>
                  <h2>Editar Catálogo</h2>
              </div>

          </div>
          <!-- / HEADER -->

          <!-- CONTENT -->
          <div class="content p-24 mat-white-bg">
              <!-- DEMO CONTENT -->
              <div class="demo-content">

                  <table class="table table-condensed table-grey-header table-bordered table-striped table-hover kasax-table settings-table" *ngIf="collection_config && collection_config.headers && collection_config.headers.length">
                          <thead class="settings-headers">
                          <tr>
                            <th *ngFor="let head of collection_config.headers" class="{{ 'field_'+head }}">
                              {{ head }}
                            </th>
                            <th width="60"></th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of collection_data">
                              <td *ngFor="let field of collection_config.headers" class="{{ 'field_'+field }}">
                                <div *ngIf="type(item[field])!='object'" fxLayout="column" fxLayout.gt-mat="row">
                                  <mat-input-container fxFlex>
                                    <input matInput [(ngModel)]="item[field]">
                                  </mat-input-container>
                                </div>
                                <div *ngIf="type(item[field])=='object'">
                                  <div *ngFor="let subitem of item[field]; let i=index" fxLayout="row">
                                    <mat-input-container fxFlex>
                                      <input matInput [(ngModel)]="item[field][i].value">
                                    </mat-input-container>
                                    <mat-icon class="remove-item" (click)="removeSubitem(item[field],i)">remove_circle_outline</mat-icon>
                                  </div>
                                  <div fxLayout="row" fxLayoutAlign="end center">
                                    <button mat-raised-button color="primary" class="add-button" (click)="addSubitem(item[field])">
                                      New
                                    </button>
                                  </div>
                                </div>
                              </td>
                              <td class="action-button">
                                  <mat-icon (click)="updateItem(item)" >save</mat-icon>
                                  <mat-icon (click)="deleteItem(item)" >delete</mat-icon>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot >
                            <tr>
                              <th *ngFor="let head of collection_config.headers" class="{{ 'field_'+head }}">
                                {{ head }}
                              </th>
                              <th>
                              </th>
                            </tr>
                            <tr>
                              <th *ngFor="let head of collection_config.headers" class="{{ 'field_'+head }}">
                                <div *ngIf="type(newitem[head])!='object'" fxLayout="column" fxLayout.gt-mat="row">
                                  <mat-input-container fxFlex>
                                    <input matInput [(ngModel)]="newitem[head]">
                                  </mat-input-container>
                                </div>
                                <div *ngIf="type(newitem[head])=='object'">
                                  <div *ngFor="let subitem of newitem[head]; let i=index" fxLayout="row">
                                    <mat-input-container fxFlex>
                                      <input matInput [(ngModel)]="newitem[head][i].value">
                                    </mat-input-container>
                                    <mat-icon class="remove-item" (click)="removeSubitem(newitem[head],i)">remove_circle_outline</mat-icon>
                                  </div>
                                  <div fxLayout="row" fxLayoutAlign="end center">
                                    <button mat-raised-button color="primary" class="add-button" (click)="addSubitem(newitem[head])">
                                      New
                                    </button>
                                  </div>
                                </div>
                              </th>
                              <th>
                                <button mat-raised-button color="accent" (click)="addItem()">
                                  Add
                                </button>
                              </th>
                            </tr>
                          </tfoot>
                          
                  </table>
              </div>
                  
          </div>
          <!-- / CONTENT -->

      </div>
      <!-- / CENTER -->

  </mat-sidenav-container>

  </div>