
<div class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- CONTENT HEADER -->
      <div class="header white-fg p-24" fxLayout="column" fxLayoutAlign="start start"
          fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
          <!-- APP TITLE -->
          <div fxLayout="row" fxLayoutAlign="start center">
  
              <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">place</mat-icon>
                  <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Accesos a SDR</span>
              </div>
  
          </div>
          <!-- / APP TITLE -->
  
      </div>
      
      <!-- / CONTENT HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg mb-24">

          <!-- CONTENT -->
          <div class="content" fusePerfectScrollbar>
              <div class="mat-white-bg" fxFlex>
      
                  <!-- HORIZONTAL STEPPER EXAMPLE -->
                  <mat-horizontal-stepper class="" [linear]="true" *ngIf="userEdithAuthorized()">

                    <mat-step >
                        <form #solicitudForm="ngForm" autocomplete="off">
                          <ng-template matStepLabel>Datos de la Visita</ng-template>

                            <section>
                                <div class="content-auto-scroll-no-bar">
                                    <div class="padded-20">
                                            
                                      <section>
                                          <mat-list style="padding-top:0; background: #fbfbfb; border-radius: 5px;" *ngIf="tmp_fields.organizador">
                                            <mat-list-item class="small-list-item">
                                                
                                              <mat-icon  class="mat-icon-custom" mat-list-avatar *ngIf="!tmp_fields.organizador.avatar">person</mat-icon>
                                              <img [src]="tmp_fields.organizador.avatar" mat-list-avatar *ngIf="tmp_fields.organizador.avatar && !tmp_fields.organizador.business">
                                              <img [src]="avatarPath+tmp_fields.organizador.avatar" mat-list-avatar *ngIf="tmp_fields.organizador.avatar && tmp_fields.organizador.business">
                                              <h3 class="name" mat-line>{{tmp_fields.organizador.firstname}} {{tmp_fields.organizador.lastname}}</h3>
                                              <!-- <p mat-line *ngIf="tmp_fields.organizador.keywe"><small> {{ tmp_fields.organizador.keywe.puesto }} - {{ tmp_fields.organizador.keywe.ubicacion }}</small></p>-->
                                              <p mat-line *ngIf="tmp_fields.organizador.business"><small> {{ tmp_fields.organizador.business.name }}</small></p>
              
                                              <span class="badge primary badge-title">Organizador{{ tmp_fields.organizador.sede }}</span>
                                            </mat-list-item>
                                          </mat-list>
                                          
                                         
                                          <section>
                                              <div fxLayout="column" fxLayout.gt-md="row" style="margin-top:20px">
                                                <label style="margin-right:20px; line-height:25px;">Solicitar ingreso a:</label>
                                                <section class="example-section">
                                                    <mat-checkbox class="example-margin"   [(ngModel)]="evento.type[0].acceso_edificio" name="type_acceso_edicio">Acceso al Edificio</mat-checkbox>
                                                    <mat-checkbox class="example-margin"   [(ngModel)]="evento.type[0].datacenter"       name="type_datacenter">Datacenter</mat-checkbox>
                                                    <mat-checkbox class="example-margin"   [(ngModel)]="evento.type[0].comunicaiones"    name="type_comunicaciones">Cuarto comunicaciones</mat-checkbox>
                                                   <mat-checkbox class="example-margin"     [(ngModel)]="evento.type[0].registros_vitales" name="type_registros_vitales"      >Registros vitales</mat-checkbox>
                                                    <mat-checkbox class="example-margin"   [(ngModel)]="evento.type[0].posiciones_alternas" name="type_posiciones_alternas">Posiciones alternas de trabajo</mat-checkbox>
                                                    <mat-checkbox class="example-margin"   [(ngModel)]="evento.type[0].areas_comunes"    name="type_areas_comunes" >Areas comunes</mat-checkbox>
                                                  </section>
                                              </div>
                                             
                                              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%">
                                                <mat-input-container fxFlex class="custom-input">
                                                  <input matInput placeholder="Título del Evento" name="name_event" autocomplete="off"  required [(ngModel)]="evento.name_event">
                                                </mat-input-container>
                                                <mat-input-container fxFlex class="custom-input">
                                                    <mat-select placeholder="Ubicación" name="sede" [(ngModel)]="evento.sede">
                                                      <mat-option value=""></mat-option>
                                                      <mat-option *ngFor="let office of offices" value="{{office.name}}">{{office.name}}</mat-option>
                                                    </mat-select>
                                                </mat-input-container>
                                              </div>
                                              <div fxLayout="column" fxLayout.gt-md="row" style="margin-top:20px">
                                                <h3>Fecha de la visita:</h3>
                                              </div>
                                              <div fxLayout="column" fxLayout.gt-md="row" style="margin-top:20px;" fxLayoutGap="1%">
                                                <mat-form-field>
                                                  <input matInput [matDatepicker]="dp" placeholder="Inicia" disabled name="start_date" [(ngModel)]="tmp_dates.start_date"  (ngModelChange)="setupDate('start_date')" >
                                                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                                  <mat-datepicker #dp disabled="false"></mat-datepicker>
                                                </mat-form-field>   
                                                <mat-form-field fxFlex="19">
                                                    <mat-select placeholder="Hora" name="hora_inicio" [(ngModel)]="tmp_dates.hora_inicio" (ngModelChange)="setupDate('start_date')" >
                                                        <mat-option *ngFor="let hour of available_hours" value="{{hour}}">{{hour}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>                       
                                                

                                                <span fxFlex style="text-align:center; line-height:36px;">a</span>

                                                <mat-form-field>
                                                  <input matInput [matDatepicker]="dp3" placeholder="Termina" disabled name="end_date" [(ngModel)]="tmp_dates.end_date"  (ngModelChange)="setupDate('end_date')" >
                                                  <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                                  <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field fxFlex="19">
                                                  <mat-select placeholder="Hora" name="hora_fin" [(ngModel)]="tmp_dates.hora_fin" (ngModelChange)="setupDate('end_date')">
                                                    <mat-option *ngFor="let hour of available_hours" value="{{hour}}">{{hour}}</mat-option>
                                                  </mat-select>
                                                </mat-form-field>
                                                
                                                  
                                              </div> 
                                              
                                              <div fxLayout="column" fxLayout.gt-md="row">
                                                <mat-checkbox  name="device_manage" style="margin-top:16px"   [disabled]="!loginService.identity.business || !loginService.identity.dc_access" [(ngModel)]="evento.device_manage" (change)="resetDeviceRequests($event.checked)" *ngIf="evento.type=='datacenter'">
                                                  ¿Vas a ingresar o retirar dispositivos del DataCenter?
                                                </mat-checkbox>
                                              </div>
                                              <div fxLayout="column" fxLayout.gt-md="row" style="margin-top:20px;">
                                                <mat-input-container fxFlex>
                                                    <textarea matInput
                                                          placeholder="Detalles adicionales"
                                                          maxlength="200"
                                                          rows="5"
                                                          #characterCountHintExample [(ngModel)]="evento.descripcion"  [ngModelOptions]="{standalone: true}">
                                                        </textarea>
                                                    <mat-hint align="end">{{ characterCountHintExample.value.length }} / 200</mat-hint>
                                                  </mat-input-container>
                                              </div>
                                            
                                          </section>
                                   
                                        
                                      </section>
                                      
                                    </div>

                                </div>
                              
                            </section>
                            
                          <div class="p-24" fxLayout="row">
                            <div fxFlex class="text-right">
                                <button mat-raised-button matStepperNext type="button" color="primary">
                                    Siguiente
                                </button>
                            </div>
                          </div>
                        </form>   
                    </mat-step>

                    <mat-step >
                      <form #solicitudForm="ngForm" autocomplete="off">
                        <ng-template matStepLabel>Asistentes y Detalles</ng-template>

                        <div fxLayout="column" fxLayout.gt-md="row">
                           <div fxFlex>
                            <h3>Personal de SDR</h3>

                            <!-- BEGIN AUTOCOMPLETE -->
                            <section class="padded-20" style="padding-bottom:0;">
                              <div fxLayout="column" fxLayout.gt-md="row">
                                <mat-input-container fxFlex>
                                  <input type="text" matInput [matAutocomplete]="userAuto" autocomplete="off" placeholder="Escribe un nombre o email*" name="user_query"  [(ngModel)]="tmp_fields.user_query" (input)="onSearchUserChange($event.target.value)" #myInputUserEmail>
                                </mat-input-container>
                                <mat-autocomplete #userAuto="matAutocomplete">
                                  <mat-option *ngFor="let user of tmp_fields.user_suggest" (click)="selectUser(user)" [value]="''">
                                    {{ user.firstname }} {{ user.lastname }} <small>({{user.email}})</small>
                                  </mat-option>
                                  <!--
                                  <mat-option [value]="''" fxLayout="row" *ngIf="tmp_fields.business_user_query.length>=1 && tmp_fields.business_user_suggest.length==0">
                                    <span fxFlex>No se encontró el usuario</span>
                                  </mat-option>
                                  -->
                                </mat-autocomplete>
                              </div>
                            </section>
                             <!-- END AUTOCOMPLETE -->

                            <div class="roles-list">
                                
                              <mat-nav-list class="chat-contacts">
                                <mat-list-item *ngFor="let user of invites.users" matRipple>
                                  <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user.avatar">person</mat-icon>
                                  <img [src]="user.avatar" mat-list-avatar *ngIf="user.avatar">
                                  <h3 class="name" mat-line>{{user.firstname}} {{user.lastname}}</h3>
                                  <!--<p mat-line *ngIf="user.keywe"><small> {{ user.keywe.puesto }} - {{ user.keywe.ubicacion }}</small></p> -->
                                  <button mat-icon-button *ngIf="(user._id != loginService.identity._id && !loginService.identity.business) || loginService.identity.business" (click)="removeUser(user._id)">
                                    <mat-icon>clear</mat-icon>
                                  </button>
                                </mat-list-item>
                              </mat-nav-list>
                              
                            </div>

                         


                           </div>
                           <div fxFlex>
                             <h3>Clientes de SDR</h3>
                             <!-- BEGIN AUTOCOMPLETE -->
                               
                             <section class="padded-20" style="padding-bottom:0;">
                               <div fxLayout="column" fxLayout.gt-md="row">
                                 <mat-input-container fxFlex>
                                   <input type="text" matInput [matAutocomplete]="businessAuto" autocomplete="off" placeholder="Escribe un nombre o email*" name="business_user_query" [(ngModel)]="tmp_fields.business_user_query" (input)="onSearchBusinessChange($event.target.value)" #myInputBusinessEmail>
                                 </mat-input-container>
                                 <mat-autocomplete #businessAuto="matAutocomplete">
                                   <mat-option *ngFor="let user of tmp_fields.business_user_suggest" (click)="selectBusinessUser(user)" [value]="''">
                                     {{ user.firstname }} {{ user.lastname }} <small>({{user.email}})</small>
                                   </mat-option>
                                   
                                 </mat-autocomplete>
                               </div>
                             </section>
                           
                             <!-- END AUTOCOMPLETE -->

                             <div class="roles-list">
                                
                              <mat-nav-list class="chat-contacts">
                                <mat-list-item *ngFor="let user of invites.business" matRipple>
                                  <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user.avatar">person</mat-icon>
                                  <img [src]="avatarPath+user.avatar" mat-list-avatar *ngIf="user.avatar">
                                  <h3 class="name" mat-line>{{user.firstname}} {{user.lastname}}</h3>
                                  <p mat-line *ngIf="user.business"><small> {{ user.business.name }}</small></p>
                                  
                                  <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                                    <mat-icon>assignment_ind</mat-icon>
                                  </button>
                                  <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                    <mat-icon>transfer_within_a_station</mat-icon>
                                  </button>
                                  <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                    <mat-icon>laptop</mat-icon>
                                  </button>
                                  <button mat-icon-button matTooltip="Registar Dispositivo DC" *ngIf="loginService.validatePermissionTree('access','dcregistration')" [routerLink]="['/access/device/'+user.qr]">
                                    <mat-icon>router</mat-icon>
                                  </button>
                                  <button mat-icon-button *ngIf="(user._id != loginService.identity._id && loginService.identity.business) || !loginService.identity.business" (click)="removeBusinessUser(user._id)">
                                    <mat-icon>clear</mat-icon>
                                  </button>
                                
                                </mat-list-item>
                              </mat-nav-list>
                              
                            </div>
                           </div>
                           <div fxFlex>
                             <h3>Personal externo</h3>
                             <div>
                               <section class="padded-20" style="padding-bottom:0;" *ngIf="!tmp_fields.new_external">
                                 <div fxLayout="column" fxLayout.gt-md="row">
                                   
                                   <mat-input-container fxFlex>
                                     <input type="text" matInput [matAutocomplete]="externalAuto" autocomplete="off" placeholder="Escribe un nombre o email*" name="external_user_query"  [(ngModel)]="tmp_fields.external_user_query" (input)="onSearchExternalChange($event.target.value)" #myInputExternalEmail>
                                   </mat-input-container>
                                   <mat-autocomplete #externalAuto="matAutocomplete">
                                     <mat-option *ngFor="let user of tmp_fields.external_user_suggest" (click)="selectExternalUser(user)" [value]="''">
                                       {{ user.name }} <small>({{user.email}})</small>
                                     </mat-option>
                                     
                                   </mat-autocomplete>
                                   <button  mat-button  color="accent" (click)="createExternalUser()" [value]="''" fxLayout="row" *ngIf="tmp_fields.external_user_query.length>=1 && loginService.validatePermissionTree('access','externaluser','create')">
                                     <mat-icon>person_add</mat-icon>
                                     <small>Nuevo Usuario</small> 
                                   </button>
                                 </div>
                               </section>
                               <section *ngIf="tmp_fields.new_external">
                                 <div fxLayout="column" fxLayout.gt-md="row">
                                   <mat-input-container fxFlex>
                                     <input matInput autocomplete="off" placeholder="Email*" name="ext_email" [(ngModel)]="tmp_fields.external_user.email">	
                                     <span matPrefix><mat-icon>email</mat-icon></span>
                                   </mat-input-container>
                                 </div>
                                 <div fxLayout="column" fxLayout.gt-md="row">
                                   <mat-input-container fxFlex>
                                     <input matInput autocomplete="off" placeholder="Nombre completo*" name="ext_name" [(ngModel)]="tmp_fields.external_user.name">	
                                     <span matPrefix><mat-icon>person</mat-icon></span>
                                   </mat-input-container>
                                 </div>
                                 <div fxLayout="column" fxLayout.gt-md="row">
                                   <mat-input-container fxFlex>
                                     <input matInput autocomplete="off" placeholder="Telefono" name="ext_cel" [(ngModel)]="tmp_fields.external_user.cel">	
                                     <span matPrefix><mat-icon>phone_iphone</mat-icon></span>
                                   </mat-input-container>
                                   <mat-input-container fxFlex fxFlexOffset="2%">
                                     <input matInput autocomplete="off" placeholder="Compañia" name="ext_company" [(ngModel)]="tmp_fields.external_user.company">	
                                     <span matPrefix><mat-icon>location_city</mat-icon></span>
                                   </mat-input-container>
                                   
                                 </div>
                                 <div fxLayout="column" fxLayout.gt-md="row" >
                                   
                                       <button mat-button color="default" (click)="cancelAddExternalUser()" fxFlexOffset="2%">Cancelar</button>
                                       <button mat-button color="accent" (click)="addExternalUser()" fxFlexOffset="2%">Agregar</button>
                                   
                                 </div>
                                 
                               </section>

                               <div class="roles-list">
                                
                                  <mat-nav-list class="chat-contacts">
                                    <mat-list-item *ngFor="let user of invites.external" matRipple>
                                      <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user.avatar">person</mat-icon>
                                      <img [src]="avatarPath+user.avatar" mat-list-avatar *ngIf="user.avatar">
                                      <h3 class="name" mat-line>{{user.name}}</h3>
                                      <p mat-line><small>({{ user.email }}) {{ user.company }}</small></p>
                                      
                                      <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                                        <mat-icon>assignment_ind</mat-icon>
                                      </button>
                                      <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                        <mat-icon>transfer_within_a_station</mat-icon>
                                      </button>
                                      <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                        <mat-icon>laptop</mat-icon>
                                      </button>
                                      <button mat-icon-button matTooltip="Registar Dispositivo DC" *ngIf="loginService.validatePermissionTree('access','dcregistration')" [routerLink]="['/access/device/'+user.qr]">
                                        <mat-icon>router</mat-icon>
                                      </button>
                                      <button mat-icon-button (click)="removeExternalUser(user._id)">
                                        <mat-icon>clear</mat-icon>
                                      </button>
                                  
                                    </mat-list-item>
                                  </mat-nav-list>
                                
                               </div>

                             </div>
                           </div>
                        </div>

                      
                       

                        <div class="p-24" fxLayout="row">
                          <div fxFlex>
                             <button class="mr-8" mat-raised-button matStepperPrevious type="button">
                                 Anterior
                             </button>
                          </div>
                          <div fxFlex class="text-right">
                             <button mat-raised-button matStepperNext type="button" color="primary">
                                 Siguiente
                             </button>
                          </div>
                        </div>
                       </form>
                    </mat-step>

                    <mat-step>

                        <ng-template matStepLabel>Enviar</ng-template>
    
                        <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                            <p>Envía la invitación a los usuarios correspondientes.<br/><br/>
                            Se generará un código QR para el acceso al sitio.</p>
                        </div>
    
                        <div class="p-24" fxLayout="row">
                            <div fxFlex>
                                <button class="mr-8" mat-raised-button matStepperPrevious type="button">
                                    Anterior
                                </button>
                            </div>
                            <div fxFlex class="text-right">
                                <button mat-raised-button type="button" color="accent" [disabled]="!solicitudForm.valid" (click)="saveEvent()" >
                                   Actualizar
                                </button>
                            </div>
                            
                        </div>
    
                    </mat-step>

                  </mat-horizontal-stepper>

                  <!-- HORIZONTAL STEPPER EXAMPLE -->
                  <mat-horizontal-stepper class="" [linear]="true" *ngIf="!userEdithAuthorized()">

                    <mat-step >
                        <form #solicitudForm="ngForm" autocomplete="off">
                          <ng-template matStepLabel>Datos de la Visita</ng-template>
                          <section>
                              
                             <span class="badge primary badge-title" [ngClass]="{'primary': this.evento.status=='Autorizado', 'warning': this.evento.status!=='Autorizado'}">Status: {{ this.evento.status }}</span>
                          
                              <mat-list style="padding-top:0; background: #fff; border-radius: 5px;" *ngIf="tmp_fields.organizador">
                                <mat-list-item class="small-list-item">
                                  <span class="badge primary badge-title">Organizador</span>
                                  <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!tmp_fields.organizador.avatar">person</mat-icon>
                                  <img [src]="tmp_fields.organizador.avatar" mat-list-avatar *ngIf="tmp_fields.organizador.avatar && !tmp_fields.organizador.business">
                                  <img [src]="avatarPath+tmp_fields.organizador.avatar" mat-list-avatar *ngIf="tmp_fields.organizador.avatar && tmp_fields.organizador.business">
                                  
                                  <h3 class="name" mat-line>{{tmp_fields.organizador.firstname}} {{tmp_fields.organizador.lastname}}</h3>
                                  <!-- <p mat-line *ngIf="tmp_fields.organizador.keywe"><small> {{ tmp_fields.organizador.keywe.puesto }} - {{ tmp_fields.organizador.keywe.ubicacion }}</small></p> -->
                                  <p mat-line *ngIf="tmp_fields.organizador.business"><small> {{ tmp_fields.organizador.business.name }}</small></p>
                                </mat-list-item>
                              </mat-list>
                              <ul class="list-details">
                                <li><span class="label">Ingreso a:</span><span *ngIf="evento.type==='oficina'">Oficina</span><span *ngIf="evento.type==='datacenter'">DataCenter</span></li>
                                <li><span class="label">Título:</span><span>{{ evento.name_event }}</span></li>
                                <li><span class="label">Fecha de la Visita:</span><span>{{ tmp_fields.start_date | date:'yyyy-MM-dd HH:mm a ' }} a {{ tmp_fields.end_date |  date:'yyyy-MM-dd HH:mm a ' }}</span></li>
                                <li><span class="label">Ubicación:</span><span>{{ evento.sede }} (<span *ngIf="evento.type==='datacenter'">Fase </span>{{ evento.sala}})</span></li>
                                <li><span class="label">Detalles:</span><span>{{ evento.descripcion }}</span></li>
                                <!--
                                <li *ngIf="evento.type==='datacenter'"><span class="label">Ingresa/Retira dispositivos:</span> 
                                  <span class="badge badge-title primary" *ngIf="evento.device_manage"><i class="fa fa-check"></i></span>
                                  <span class="badge badge-title danger" *ngIf="!evento.device_manage"><i class="fa fa-close"></i></span>
                                </li>
                              -->
                                <li *ngIf="full_evento && full_evento._user_authorize"><span class="label">Autoriza:</span><span>{{ full_evento._user_authorize.firstname + ' ' + full_evento._user_authorize.lastname }}</span></li>
                              </ul>
                              <mat-nav-list class="chat-contacts" *ngIf="tmp_fields.infra_user">
                                  <h4 style="margin-top: 10px; margin-bottom:0;">Ingeniero asignado:</h4>
                                <mat-list-item matRipple>
                                  <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!tmp_fields.infra_user.avatar">person</mat-icon>
                                  <img [src]="tmp_fields.infra_user.avatar" mat-list-avatar *ngIf="tmp_fields.infra_user.avatar">
                                  <h3 class="name" mat-line>{{tmp_fields.infra_user.firstname}} {{tmp_fields.infra_user.lastname}}</h3>
                                  <p mat-line *ngIf="tmp_fields.infra_user.keywe"><small> {{ tmp_fields.infra_user.keywe.puesto }} - {{ tmp_fields.infra_user.keywe.ubicacion }}</small></p>
                                </mat-list-item>
                              </mat-nav-list>
                              <div fxLayout="row" class="example-container " fxLayoutAlign="center stretch" fxLayoutWrap="wrap"  *ngIf="this.evento.status=='Autorizado' && loginService.identity.business && my_invite">
                                <!--<button mat-raised-button color="accent" [routerLink]="['/access/invite/'+evento._id+'/'+my_invite]"><mat-icon>grain</mat-icon> Obtener Código de Ingreso</button>}-->
                                <img style="" [src]="qr_url" *ngIf="qr_url">
                                <div *ngIf="loginService.identity.business" >
                                  <mat-divider style="margin: 15px 0;"></mat-divider>
                                  <h4 class="text-center">¿Vas a ingresar con Laptop?</h4>
                                  <div *ngIf="loginService.identity.devices && loginService.identity.devices.length">
                                    <p>Actualmente tienes registrados los siguientes dispositivos:</p>
                                    <ul class="list-details">
                                      <li *ngFor="let device of loginService.identity.devices">{{ device.brand+' '+device.model }} - {{ device.series }}</li>
                                    </ul>
                                  </div>
                                  <div *ngIf="!loginService.identity.devices || !loginService.identity.devices.length">
                                    <p> No cuentas con ningún dispositivo registrado.</p> 
                                  </div>
                                 <p ><small>*Puedes gestionar tus dispositivos desde tu <a [routerLink]="['/profile']">Perfil de Usuario</a>.</small></p>
                                </div>
                              </div>
  
                            </section>
                            
                          <div class="p-24" fxLayout="row">
                            <div fxFlex class="text-right">
                                <button mat-raised-button matStepperNext type="button" color="primary">
                                    Siguiente
                                </button>
                            </div>
                          </div>
                        </form>   
                    </mat-step>

                    <mat-step >
                        <form #solicitudForm="ngForm" autocomplete="off">
                        <ng-template matStepLabel>Asistentes y Detalles</ng-template>

                        <div fxLayout="column" fxLayout.gt-md="row">
                            <div fxFlex>
                            <h3>Personal de SDR</h3>
                              
                              <div class="roles-list">                              
                                  <mat-list class="chat-contacts">
                                    <mat-list-item *ngFor="let user of invites.users" matRipple>
                                      <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user.avatar">person</mat-icon>
                                      <img [src]="user.avatar" mat-list-avatar *ngIf="user.avatar">
                                      <h3 class="name" mat-line>{{user.firstname}} {{user.lastname}}</h3>
                                      <!-- <p mat-line *ngIf="user.keywe"><small> {{ user.keywe.puesto }} - {{ user.keywe.ubicacion }}</small></p>-->
                                    </mat-list-item>
                                  </mat-list>
                              </div>


                              
                            </div>
                            <div fxFlex>
                              <h3>Clientes de SDR</h3>
                              <!-- BEGIN AUTOCOMPLETE -->
                              <div *ngFor="let user of invites.business">
                                <mat-nav-list class="chat-contacts">
                                <mat-list-item *ngIf="user" matRipple>
                                  <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user.avatar">person</mat-icon>
                                  <img [src]="avatarPath+user.avatar" mat-list-avatar *ngIf="user.avatar">
                                  <h3 class="name" mat-line>{{user.firstname}} {{user.lastname}}</h3>
                                  <p mat-line *ngIf="user.business"><small> {{ user.business.name }}</small></p>
                                
                                  <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                                    <mat-icon>assignment_ind</mat-icon>
                                  </button>
                                  <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                    <mat-icon>transfer_within_a_station</mat-icon>
                                  </button>
                                  <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                    <mat-icon>laptop</mat-icon>
                                  </button>
                                  <button mat-icon-button matTooltip="Registar Dispositivo DC" *ngIf="loginService.validatePermissionTree('access','dcregistration')" [routerLink]="['/access/device/'+user.qr]">
                                    <mat-icon>router</mat-icon>
                                  </button>
                                
                                </mat-list-item>
                              </mat-nav-list>
                              </div>

                            
                              <!-- END AUTOCOMPLETE -->

                  
                            </div>
                            <div fxFlex>
                              <h3>Personal externo</h3>
                              <div class="roles-list">
                                
                                  <mat-list class="chat-contacts">
                                    <mat-list-item *ngFor="let user of invites.external" matRipple>
                                      <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user.avatar">person</mat-icon>
                                      <img [src]="avatarPath+user.avatar" mat-list-avatar *ngIf="user.avatar">
                                      <h3 class="name" mat-line>{{user.name}}</h3>
                                      <p mat-line><small>({{ user.email }}) {{ user.company }}</small></p>
                                      
                                      <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                                        <mat-icon>assignment_ind</mat-icon>
                                      </button>
                                      <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                        <mat-icon>transfer_within_a_station</mat-icon>
                                      </button>
                                      <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                        <mat-icon>laptop</mat-icon>
                                      </button>
                                    
                                    </mat-list-item>
                                  </mat-list>
                                  
                                </div>
  
                            </div>
                        </div>


            
                          

                        <div class="p-24" fxLayout="row">
                          <div fxFlex>
                              <button class="mr-8" mat-raised-button matStepperPrevious type="button">
                                  Anterior
                              </button>
                          </div>
                          <div fxFlex class="text-right">
                          </div>
                        </div>
                        </form>
                    </mat-step>

                   

                  </mat-horizontal-stepper>
                

              </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->
  
    </div>
    <!-- / CENTER -->
  
  </div>
  
