<div class="page-layout carded left-sidenav" fusePerfectScrollbar >
    
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                     fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">

            <!-- SIDENAV HEADER -->
            <div class="header p-24" ngClass="mat-accent-bg" layout="row" layout-align="center center" ngClass.gt-md="white-fg">
               
            </div>
            <!-- / SIDENAV HEADER -->

            <!-- SIDENAV CONTENT -->
            <div class="content" fusePerfectScrollbar>

                <div class="demo-sidenav">
                    <mat-list>
                        <h3 matSubheader>Secciones</h3>
                        <div class="sidenav-item" (click)="section='detalle'" [ngClass]="{'active': section=='detalle' }">
                            <mat-list-item>
                                <span>Detalle</span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="sidenav-item" (click)="section='usuarios'" [ngClass]="{'active': section=='usuarios' }">
                            <mat-list-item>
                                <span>Usuarios</span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="sidenav-item"(click)="router.navigate(['my-business/my-files'])"  [ngClass]="{'active': section=='archivos' }">
                            <mat-list-item>
                                <span>Archivos</span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                </div>
                        

            </div>
            <!-- / SIDENAV CONTENT -->

        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center">

            <!-- CONTENT HEADER -->
            <div class="header white-fg p-24" *ngIf="business">

                <h2  >{{ business.name }}</h2>
            </div>
            <!-- / CONTENT HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg" *ngIf="section=='detalle'">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">
                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span >Detalle de la Empresa</span>
                    <span fxFlex><!-- fill space --></span>
                    <button mat-button class="mat-icon-button"
                          (click)="saveBusiness()"
                          matTooltip="Guardar"
                          aria-label="save">
                      <mat-icon>save</mat-icon>
                    </button>
                    
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content p-24" fusePerfectScrollbar>

                    <!-- CONTENT -->
                    <form  flayout="row" fxFlex #myBusinessForm="ngForm"  *ngIf="business">

                      <div fxLayout="row">
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Nombre" name="name" required [(ngModel)]="business.name" >
                            </mat-input-container>
                        </div>

                        <div fxLayout="row">
                            <!--<mat-input-container fxFlex>
                                <input matInput placeholder="Nombre" name="logo" required [(ngModel)]="business.logo">
                            </mat-input-container> -->
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Acronimo" name="acronimo" required [(ngModel)]="business.acronimo" >
                            </mat-input-container>
                        </div>
                    
                        <div fxLayout="row">
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Calle y No." name="calle" required [(ngModel)]="business.calle" >
                            </mat-input-container>
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Colonia" name="colonia" required [(ngModel)]="business.colonia" >
                            </mat-input-container>
                        </div>
                    
                        <div fxLayout="row">
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Municipio" name="municipio" required [(ngModel)]="business.municipio" >
                            </mat-input-container>
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Estado" name="estado" required [(ngModel)]="business.estado" >
                            </mat-input-container>
                        </div>
                    
                        <div fxLayout="row">
                            <mat-input-container fxFlex>
                                <input matInput placeholder="País" name="pais" required [(ngModel)]="business.pais" >
                            </mat-input-container>
                            <mat-input-container fxFlex>
                                <input matInput placeholder="C.P." name="cp" required [(ngModel)]="business.cp" >
                            </mat-input-container>
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Teléfono" name="tel" required [(ngModel)]="business.tel" >
                            </mat-input-container>
                        </div>
                        <h3 class="mat-body-2">Campos Adicionales</h3>
                        <div fxLayout="row">
                            <div fxFlex>
                              
                              <table class="table table-condensed table-grey-header table-bordered">
                                <tbody>
                                <tr *ngFor="let ext of business.extradata; let i = index; let lst = last;">
                                  <td>
                                    <div fxLayout="column" *ngIf="lst">
                                      <mat-input-container fxFlex>
                                        <input matInput placeholder="Clave" name="clave" type="text" [(ngModel)]="ext.clave">
                                      </mat-input-container>
                                    </div>
                                    <span *ngIf="!lst">
                                      <strong>Clave:</strong> {{ ext.clave}}
                                    </span>
                                  </td>
                                  <td>
                                    <div fxLayout="column" *ngIf="lst">
                                      <mat-input-container fxFlex>
                                        <input matInput placeholder="Valor" name="valor" type="text" [(ngModel)]="ext.valor">
                                      </mat-input-container>
                                    </div>
                                    <span *ngIf="!lst">
                                      <strong>Valor:</strong> {{ ext.valor}}
                                    </span>
                                  </td>
                                  <td>
                                    <button mat-icon-button mdTooltip="Borrar elemento" (click)="removeExtradata(i)">
                                      <mat-icon>remove_circle_outline</mat-icon>
                                    </button>
                                  </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td width="48" >
                                        <button mat-icon-button mdTooltip="Agregar elemento" (click)="addExtradata()">
                                            <mat-icon>add_circle_outline</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                              </table>
                              
                              
                            </div>
                        </div>
                      

                    </form>
                   
                    
                    <!-- / DEMO CONTENT -->


                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg" *ngIf="section=='usuarios'">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">
                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span >Usuarios</span>
                    <span fxFlex><!-- fill space --></span>
                    <!-- / USER -->
                   
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content" fusePerfectScrollbar>

                    <!-- DEMO CONTENT -->
                    <fuse-my-users-list></fuse-my-users-list>
                    <!-- / DEMO CONTENT -->


                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg" *ngIf="section=='archivos'">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">
                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span >Archivos</span>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content" fusePerfectScrollbar>

                    <!-- DEMO CONTENT -->
                    <!--<fuse-file-manager-business *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}" [business]="business"></fuse-file-manager-business>-->
                    files
                    <!-- / DEMO CONTENT -->


                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>
