<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

        <!-- HEADER -->
        <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
    
                <button mat-button class="mat-icon-button sidenav-toggle mr-12"
                        fuseMatSidenavToggler="contacts-main-sidenav"
                        fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>
    
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">group</mat-icon>
                    <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Usuarios</span>
                </div>
    
            </div>
            <!-- / APP TITLE -->
    
            <!-- SEARCH -->
            <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon>search</mat-icon>
                </label>
                <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
                    <input matInput [formControl]="searchInput" id="search" placeholder="Buscar un usuario">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
    
        </div>
        <!-- / HEADER -->
    
        <!-- SELECTED BAR -->
        <!--<fuse-selected-bar class="mat-accent-600-bg" *ngIf="hasSelectedContacts" [@slideInTop]></fuse-selected-bar>-->
        <!-- / SELECTED BAR -->
    
        <mat-sidenav-container>
    
            <!-- SIDENAV -->
            <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                         fuseMatSidenavHelper="contacts-main-sidenav" mat-is-locked-open="gt-sm">
                
                <div id="contacts-sidenav">
                    <div class="sidenav-content">

                        <div class="card mat-white-bg">
                            <!-- SIDENAV HEADER -->
                            <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
                    
                                <!-- USER -->
                                <span class="h5">Perfiles</span>
                                <span fxFlex><!-- fill space --></span>
                                <!-- / USER -->
                                <button mat-button class="mat-icon-button"
                                        *ngIf="loginService.hasPermission(['users-roles-create','users-roles-update','users-roles-delete'])"
                                        [matMenuTriggerFor]="rolesMenu"
                                        aria-label="more">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #rolesMenu="matMenu">
                                    <button mat-menu-item (click)="router.navigate(['users/roles'])">
                                        Gestionar Perfiles
                                    </button>
                                </mat-menu>
                            </div>
                            <!-- / SIDENAV HEADER -->
                    
                            <!-- SIDENAV CONTENT -->
                            <div class="content py-16" fusePerfectScrollbar>
                    
                                <div class="nav">
                    
                                    <div class="nav-item" aria-label="all">
                                        <a class="nav-link" matRipple (click)="changeFilter('')" [ngClass]="{'active': !filterBy }">
                                            <span class="title">Todos los perfiles</span>
                                        </a>
                                    </div>
                                    <div class="nav-item" *ngFor="let rol of roles" >
                                        <a class="nav-link" matRipple (click)="changeFilter(rol._id)" [ngClass]="{'active':filterBy === rol._id }">
                                            <span class="title">{{ rol.name }}</span>
                                        </a>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- / SIDENAV CONTENT -->
                <!--
                <fuse-contacts-main-sidenav *fuseIfOnDom [@animate]="{value:'*'}"></fuse-contacts-main-sidenav>
                -->
    
            </mat-sidenav>
            <!-- / SIDENAV -->
    
            <!-- CENTER -->
            <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
    
                <!-- CONTENT -->
                <div class="mat-white-bg">
                    
                    <div id="contact-list">
                        <div class="example-container mat-elevation-z8">
                            <mat-table #table [dataSource]="dataSource"
                                    [@animateStagger]="{value:'50'}"
                                    matSort>
                                <!-- Checkbox Column
                                <ng-container cdkColumnDef="checkbox">
                                    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)"
                                                    (click)="$event.stopPropagation()">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                -->

                                <!-- Avatar Column -->
                                <ng-container cdkColumnDef="avatar">
                                    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <img class="avatar" [alt]="contact.firstname"
                                            src="assets/images/avatars/profile.jpg"/>
                                    </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container cdkColumnDef="firstname">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <p class="text-truncate font-weight-600">{{contact.firstname}} {{contact.lastname}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Email Column -->
                                <ng-container cdkColumnDef="email">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <p class="email text-truncate">
                                            {{contact.email}}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Company Column -->
                                <ng-container cdkColumnDef="created">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Creado</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <p class="company text-truncate">
                                            {{contact.created_at | date:'d MMM yyyy'}}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *cdkRowDef="let contact; columns: displayedColumns;"
                                        class="contact"
                                        (click)="editContact(contact)"                                        
                                        matRipple
                                        [@animate]="{value:'*',params:{y:'100%'}}">
                                </mat-row>
                            </mat-table>
                            <mat-paginator #paginator
                                        [length]="dataSource.filteredData.length"
                                        [pageIndex]="0"
                                        [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                          </div>
                    </div>
    
                </div>
                <!-- / CONTENT -->
    
            </div>
            <!-- / CENTER -->
    
        </mat-sidenav-container>
    
    </div>
    
    <!-- ADD CONTACT BUTTON -->
    <button mat-fab class="mat-accent-bg" id="add-contact-button" (click)="newContact()" aria-label="add contact"
            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" *ngIf="loginService.hasPermission(['users-users-create'])">
        <mat-icon>person_add</mat-icon>
    </button>
    <!-- / ADD CONTACT BUTTON -->
    