<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Nuevoss cliente de SDR</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">business_center</mat-icon>
                <mat-form-field fxFlex>
                    <input name="name" formControlName="name" placeholder="Nombre" autocomplete="off" matInput required [(ngModel)]="contact.name">
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.name.invalid && contactForm.controls.name.touched ">
                    Campo requerido
                </mat-error>
            

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="acronimo" formControlName="acronimo" placeholder="Acrónimo" autocomplete="off" matInput required [(ngModel)]="contact.acronimo">
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.acronimo.invalid && contactForm.controls.acronimo.touched ">
                    Campo requerido
                </mat-error>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="calle" formControlName="calle" matInput autocomplete="off" placeholder="Calle" [(ngModel)]="contact.calle">
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.calle.invalid && contactForm.controls.calle.touched ">
                    Campo requerido
                </mat-error>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="colonia" formControlName="colonia" matInput autocomplete="off" placeholder="Colonia" [(ngModel)]="contact.colonia">
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.colonia.invalid && contactForm.controls.colonia.touched ">
                    Campo requerido
                </mat-error>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="municipio" formControlName="municipio" matInput autocomplete="off" placeholder="Municipio" [(ngModel)]="contact.municipio">
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.municipio.invalid && contactForm.controls.municipio.touched ">
                    Campo requerido
                </mat-error>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="estado" formControlName="estado" matInput autocomplete="off" placeholder="Estado" [(ngModel)]="contact.estado">
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.estado.invalid && contactForm.controls.estado.touched ">
                    Campo requerido
                </mat-error>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="pais" formControlName="pais" matInput autocomplete="off" placeholder="País" [(ngModel)]="contact.pais">
                </mat-form-field>
            </div>
                 <mat-error class="error-message" *ngIf="contactForm.controls.pais.invalid && contactForm.controls.pais.touched ">
                    Campo requerido
                </mat-error>



            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="cp" formControlName="cp" matInput autocomplete="off" placeholder="C.P." [(ngModel)]="contact.cp">
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.cp.errors.required && contactForm.controls.cp.touched">
                        Este campo es requerido
                </mat-error>
                <mat-error class="error-message" *ngIf="contactForm.controls.cp.errors.pattern && contactForm.controls.cp.touched">
                        Introduzca ùnicamente nùmeros
                </mat-error>
                
            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">local_phone</mat-icon>
                <mat-form-field fxFlex>
                    <input name="tel" formControlName="tel" matInput autocomplete="off" placeholder="Teléfono" [(ngModel)]="contact.tel">
                </mat-form-field>
            </div>
            <mat-error class="error-message" *ngIf="contactForm.controls.tel.invalid && contactForm.controls.tel.touched ">
                    Campo requerido
                    </mat-error>
                    <mat-error class="error-message" *ngIf="contactForm.controls.tel.errors.maxlength && contactForm.controls.tel.touched ">
                        El campo acepta 10 dìgitos
                    </mat-error>
            <h3 class="mat-body-2">Campos Adicionales</h3>
            <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start center">
                                                
                                                
                <table class="table table-condensed table-grey-header table-bordered">
                    <tbody>
                        <tr *ngFor="let ext of contact.extradata; let i = index; let lst = last;">
                            <td>
                                <div fxLayout="column" fxLayout.gt-md="row" *ngIf="lst">
                                <mat-input-container fxFlex>
                                    <input matInput placeholder="Calve" name="clave" type="text" [(ngModel)]="ext.clave" [ngModelOptions]="{standalone: true}">
                                </mat-input-container>
                                </div>
                                <span *ngIf="!lst">
                                <strong>Clave:</strong> {{ ext.clave}}
                                </span>
                            </td>
                            <td>
                                <div fxLayout="column" fxLayout.gt-md="row" *ngIf="lst">
                                <mat-input-container fxFlex>
                                    <input matInput placeholder="Valor" name="valor" type="text" [(ngModel)]="ext.valor" [ngModelOptions]="{standalone: true}">
                                </mat-input-container>
                                </div>
                                <span *ngIf="!lst">
                                <strong>Valor:</strong> {{ ext.valor}}
                                </span>
                            </td>
                            <td width="48">
                                <button mat-icon-button matTooltip="Borrar elemento" (click)="removeExtradata(i)">
                                <mat-icon>remove_circle_outline</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td width="48">
                                <button mat-icon-button matTooltip="Agregar elemento" (click)="addExtradata()">
                                    <mat-icon>add_circle_outline</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                
                
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                mat-raised-button
                (click)="dialogRef.close(contact)"
                class="save-button mat-accent"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            GUARDAR
        </button>

        <button *ngIf="action ==='edit'"
                mat-raised-button
                (click)="dialogRef.close(['save',contact])"
                class="save-button mat-accent"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            ACTUALIZAR
        </button>

        <button *ngIf="action ==='edit' && loginService.validatePermissionTree('users','users','delete')"
                mat-button
                class="mat-icon-button"
                (click)="tryDeleteUser(contact)"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
</div>
