<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header  white-fg p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

   

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
    

        <div id="about" class="p-24" fxLayout="row" fxLayoutWrap>
            <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="70" fxFlex.gt-md="85">
            

              <!-- If event selected -->
              <div class="conten" *ngIf="evento && user_type=='sdr'">
                
                <div style="padding-top:20px;">
                  <div fxLayout="row" fxLayoutAlign="center stretch">
                    <mat-card fxFlex="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100">
                      <mat-card-header>
                          <h3 style="text-align:center;">{{ evento.name_event }}</h3>
                      </mat-card-header>
                      <mat-card-content>
                        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start center">
                          <div fxFlex="40" class="avatar-container">
                            <div class="avatar-image">
                              <!-- End webcam -->
                              <img mat-card-avatar src="assets/images/avatars/profile.jpg" *ngIf="!user._user.avatar"/>
                              <img [src]="user._user.avatar" mat-card-avatar class="profile-avatar" *ngIf="user._user.avatar">
                            </div>
                            <h3 class="name" mat-line>{{user._user.firstname}} {{user._user.lastname}}</h3>
                            <!--<p mat-line *ngIf="user._user.keywe"><small>{{ user._user.keywe.puesto }} - {{ user._user.keywe.ubicacion }}</small></p>-->
                          </div>
                          <div fxFlex>
                            <ul class="list-details" style="margin-top:20px;">
                              <li><span class="label">Fecha de la Visita:</span><span>{{ tmp_fields.start_date }} a {{ tmp_fields.end_date }}</span></li>
                              <li><span class="label">Ingreso a:</span>
                                <span *ngIf="evento.type[0].acceso_edificio===true">Acceso al Edificio, </span>
                                <span *ngIf="evento.type[0].datacenter===true">DataCenter, </span>
                                <span *ngIf="evento.type[0].comunicaiones===true">Cuarto comunicaciones, </span>
                                <span *ngIf="evento.type[0].registros_vitales===true">Registros vitales, </span>
                                <span *ngIf="evento.type[0].posiciones_alternas===true">Posiciones alternas de trabajo, </span>
                                <span *ngIf="evento.type[0].areas_comunes===true">Areas comunes</span>
                              </li>
                              <li><span class="label">Ubicación:</span><span>{{ evento.sede }} ({{ evento.sala}})</span></li>
                              <li><span class="label">Detalles:</span><span>{{ evento.descripcion }}</span></li>
                              <li ><span class="label">Ingresa/Retira dispositivos:</span> 
                                <span class="badge badge-title primary" *ngIf="evento.device_manage"><i class="fa fa-check"></i></span>
                                <span class="badge badge-title danger" *ngIf="!evento.device_manage"><i class="fa fa-close"></i></span>
                              </li>
                              <li *ngIf="evento._user_authorize"><span class="label">Autoriza:</span><span>{{evento._user_authorize.firstname}} {{evento._user_authorize.lastname}}</span><br/>
                                <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize && evento._user_authorize.keywe">{{ evento._user_authorize.keywe.puesto }} - {{ evento._user_authorize.keywe.ubicacion }}</small><br/>
                                <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize">{{ evento._user_authorize.email }}</small>
                              </li>
                              <li *ngIf="!evento._user_authorize"><span class="label">Autoriza:</span><span><strong>NO Autorizado</strong></span></li>
                            </ul>
                            <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap" style="margin-top:20px;">
                              <div class="alert alert-danger">El usuario no requiere registro</div>
                            </div>
                          </div>
                        </div>

                        <h4 style="text-align:center; margin-top: 20px;">Asistentes</h4>
                        <mat-divider></mat-divider>

                        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start" fxLayoutAlign="start start">
                          <div>
                            <h4 class="user-list-title">SDR</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.users_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._user.avatar">person</mat-icon>
                                <img [src]="user._user.avatar" mat-list-avatar *ngIf="user._user.avatar">
                                <h3 class="name" mat-line>{{user._user.firstname}} {{user._user.lastname}}</h3>
                                <!--<p mat-line *ngIf="user._user.keywe"><small> {{ user._user.keywe.puesto }} - {{ user._user.keywe.ubicacion }}</small></p>-->
                              </mat-list-item>
                            </mat-list>
                          </div>
                          <div fxFlex>
                            <h4 class="user-list-title">Clientes SDR</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.business_users_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._business_user.avatar">person</mat-icon>
                                <img [src]="avatarPath+user._business_user.avatar" mat-list-avatar *ngIf="user._business_user.avatar">
                                <h3 class="name" mat-line>{{user._business_user.firstname}} {{user._business_user.lastname}}</h3>
                                <span class="badge badge-title primary" *ngIf="user.entry_date">{{ user.entry_date.format('HH:mm') }}</span>
                                <span class="badge badge-title danger" *ngIf="user.exit_date" style="margin-left:10px;">{{ user.exit_date.format('HH:mm') }}</span>
                                <p mat-line *ngIf="user._business_user.business"><small> {{ user._business_user.business.name }}</small></p>
                                <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                                  <mat-icon>assignment_ind</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                  <mat-icon>transfer_within_a_station</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                  <mat-icon>laptop</mat-icon>
                                </button>
                              </mat-list-item>
                            </mat-list>
                          </div>
                          <div fxFlex>
                            <h4 class="user-list-title">Externos</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.external_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._external_user.avatar">person</mat-icon>
                                <img [src]="avatarPath+user._external_user.avatar" mat-list-avatar *ngIf="user._external_user.avatar">
                                <h3 class="name" mat-line>{{user._external_user.name}} <small *ngIf="user.company">({{user._external_user.company}})</small></h3>
                                <p mat-line><small> {{ user._external_user.company }}</small></p>
                                <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                                  <mat-icon>assignment_ind</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                  <mat-icon>transfer_within_a_station</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                  <mat-icon>laptop</mat-icon>
                                </button>
                              </mat-list-item>
                            </mat-list>
                          </div>
                        </div>
                      <!-- <ms-loading-overlay [isLoading]="loadingContent"></ms-loading-overlay> -->
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>

              
              <div class="content-auto-scroll-no-bar" *ngIf="evento && user_type=='business'">
                <div style="padding-top:20px;">
                  <div fxLayout="row" fxLayoutAlign="center stretch">
                    <mat-card fxFlex="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100">
                      <mat-card-header>
                          <h3 style="text-align:center;">{{ evento.name_event }}</h3>
                      </mat-card-header>
                      <mat-card-content>
                        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start center">
                          <div fxFlex="40" class="avatar-container">
                            <div class="take-photo" *ngIf="takePhoto && !base64">
                              <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
                              <div class="take-photo-button" *ngIf="webcam">
                                <button mat-button (click)="captureBase64()"><mat-icon>camera_alt</mat-icon></button>
                              </div>
                              <button mat-mini-fab class="return-button" (click)="takePhoto=false"><mat-icon>reply</mat-icon></button>
                            </div>
                            <div class="take-photo" *ngIf="takePhoto && base64" style="max-width:320px; margin: 0 auto;">
                              <img [src]="base64" style="width:320px; max-width:100%;" />
                              
                              <button mat-mini-fab class="return-button" (click)="clearPhoto()"><mat-icon>reply</mat-icon></button>
                              <button mat-mini-fab class="save-button" (click)="savePhoto()"><mat-icon>cloud_upload</mat-icon></button>
                              <!--
                              <div style="overflow:hidden;width:320px;height:240px;text-align:center;background-position:center;background-size:contain;background-repeat:no-repeat;" [hidden]="!captured" [style.background-image]="base64?'url('+base64+')':null"></div>
                              <button (click)="genBase64()"> generate base64 </button>
                              <button (click)="genPostData()"> generate post data </button>
                              <button *ngIf="webcam" (click)="captureBase64()" style="padding:1em;font-size:1.2em;width:100%">Capture</button>
                              -->
                            </div>
                            <div class="avatar-image" *ngIf="!takePhoto">
                              <!-- End webcam -->
                              <img mat-card-avatar src="assets/images/avatars/profile.jpg" *ngIf="!user._business_user.avatar"/>
                              <img [src]="avatarPath+user._business_user.avatar" mat-card-avatar class="profile-avatar" *ngIf="user._business_user.avatar">
                              <div class="change-photo-button" *ngIf="loginService.hasPermission('business-users-updateavatar')">
                                <button mat-button (click)="takePhoto=true"><mat-icon>camera_alt</mat-icon> Tomar Foto</button>
                              </div>
                            </div>
                            <h3 class="name" mat-line>{{user._business_user.firstname}} {{user._business_user.lastname}}</h3>
                            <p mat-line *ngIf="user._business_user.business"><small> {{ user._business_user.business.name }}</small></p>
                          </div>
                          <div fxFlex>
                            <ul class="list-details" style="margin-top:20px;">
                              <li><span class="label">Fecha de la Visita:</span><span>{{ tmp_fields.start_date }} a {{ tmp_fields.end_date }}</span></li>
                              <li><span class="label">Ingreso a:</span>

                                <span *ngIf="evento.type[0].acceso_edificio===true">Acceso al Edificio, </span>
                                <span *ngIf="evento.type[0].datacenter===true">DataCenter, </span>
                                <span *ngIf="evento.type[0].comunicaiones===true">Cuarto comunicaciones, </span>
                                <span *ngIf="evento.type[0].registros_vitales===true">Registros vitales, </span>
                                <span *ngIf="evento.type[0].posiciones_alternas===true">Posiciones alternas de trabajo, </span>
                                <span *ngIf="evento.type[0].areas_comunes===true">Areas comunes</span>
                              

                              </li>
                              <li><span class="label">Ubicación:</span><span>{{ evento.sede }} ({{ evento.sala}})</span></li>
                              <li><span class="label">Detalles:</span><span>{{ evento.descripcion }}</span></li>
                              <li><span class="label">Ingresa/Retira dispositivos:</span> 
                                <span class="badge badge-title primary" *ngIf="evento.device_manage"><i class="fa fa-check"></i></span>
                                <span class="badge badge-title danger" *ngIf="!evento.device_manage"><i class="fa fa-close"></i></span>
                              </li>
                              <li *ngIf="evento._user_authorize"><span class="label">Autoriza:</span><span>{{evento._user_authorize.firstname}} {{evento._user_authorize.lastname}}</span><br/>
                                <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize && evento._user_authorize.keywe">{{ evento._user_authorize.keywe.puesto }} - {{ evento._user_authorize.keywe.ubicacion }}</small><br/>
                                <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize">{{ evento._user_authorize.email }}</small>
                              </li>
                              <li *ngIf="!evento._user_authorize"><span class="label">Autoriza:</span><span><strong>NO Autorizado</strong></span></li>
                            </ul>
                            <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap" style="margin-top:20px;" *ngIf="evento._user_authorize">
                              <button mat-raised-button color="accent" (click)="registerUserEvent(true)" *ngIf="!user.entry_date && loginService.hasPermission('access-userregistration-entry')"><mat-icon>beenhere</mat-icon> Registrar Ingreso</button>
                              <button mat-raised-button color="warn" (click)="registerUserEvent(false)" *ngIf="user.entry_date && !user.exit_date && loginService.hasPermission('access-userregistration-exit')"><mat-icon>exit_to_app</mat-icon> Registrar Salida</button>
                              <!--<button mat-raised-button color="primary" (click)="registerUserLaptop()" style="margin-left:15px;"><mat-icon>laptop</mat-icon> Registrar Laptop</button>-->
                            </div>
                          </div>
                        </div>

                        <h4 style="text-align:center; margin-top: 20px;">Asistentes</h4>
                        <mat-divider></mat-divider>

                        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start" fxLayoutAlign="start start">
                          <div fxFlex>
                            <h4 class="user-list-title">SDR</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.users_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._user.avatar">person</mat-icon>
                                <img [src]="user._user.avatar" mat-list-avatar *ngIf="user._user.avatar">
                                <h3 class="name" mat-line>{{user._user.firstname}} {{user._user.lastname}}</h3>
                              <!-- <p mat-line *ngIf="user._user.keywe"><small> {{ user._user.keywe.puesto }} - {{ user._user.keywe.ubicacion }}</small></p>-->
                              </mat-list-item>
                            </mat-list>
                          </div>
                          <div fxFlex>
                            <h4 class="user-list-title">Clientes SDR</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.business_users_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._business_user.avatar">person</mat-icon>
                                <img [src]="avatarPath+user._business_user.avatar" mat-list-avatar *ngIf="user._business_user.avatar">
                                <h3 class="name" mat-line>{{user._business_user.firstname}} {{user._business_user.lastname}}</h3>
                                <span class="badge badge-title primary" *ngIf="user.entry_date">{{ user.entry_date.format('HH:mm') }}</span>
                                <span class="badge badge-title danger" *ngIf="user.exit_date" style="margin-left:10px;">{{ user.exit_date.format('HH:mm') }}</span>
                                <p mat-line *ngIf="user._business_user.business"><small> {{ user._business_user.business.name }}</small></p>
                                <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                                  <mat-icon>assignment_ind</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                  <mat-icon>transfer_within_a_station</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                  <mat-icon>laptop</mat-icon>
                                </button>
                              </mat-list-item>
                            </mat-list>
                          </div>
                          <div fxFlex>
                            <h4 class="user-list-title">Externos</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.external_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._external_user.avatar">person</mat-icon>
                                <img [src]="avatarPath+user._external_user.avatar" mat-list-avatar *ngIf="user._external_user.avatar">
                                <h3 class="name" mat-line>{{user._external_user.name}} <small *ngIf="user.company">({{user._external_user.company}})</small></h3>
                                <p mat-line><small> {{ user._external_user.company }}</small></p>
                                <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/admin/access/event/id/'+user.qr]">
                                  <mat-icon>assignment_ind</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                  <mat-icon>transfer_within_a_station</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                  <mat-icon>laptop</mat-icon>
                                </button>
                              </mat-list-item>
                            </mat-list>
                          </div>
                        </div>
                      <!-- <ms-loading-overlay [isLoading]="loadingContent"></ms-loading-overlay> -->
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>

              <div class="content-auto-scroll-no-bar" *ngIf="evento && user_type=='external'">
                <div style="padding-top:20px;">
                  <div fxLayout="row" fxLayoutAlign="center stretch">
                    <mat-card fxFlex="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100">
                      <mat-card-header>
                          <h3 style="text-align:center;">{{ evento.name_event }}</h3>
                      </mat-card-header>
                      <mat-card-content>
                        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start center">
                          <div fxFlex="40" class="avatar-container">
                            <div class="take-photo" *ngIf="takePhoto && !base64">
                              <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
                              <div class="take-photo-button" *ngIf="webcam">
                                <button mat-button (click)="captureBase64()"><mat-icon>camera_alt</mat-icon></button>
                              </div>
                              <button mat-mini-fab class="return-button" (click)="takePhoto=false"><mat-icon>reply</mat-icon></button>
                            </div>
                            <div class="take-photo" *ngIf="takePhoto && base64" style="max-width:320px; margin: 0 auto;">
                              <img [src]="base64" style="width:320px; max-width:100%;" />
                              
                              <button mat-mini-fab class="return-button" (click)="clearPhoto()"><mat-icon>reply</mat-icon></button>
                              <button mat-mini-fab class="save-button" (click)="savePhoto()"><mat-icon>cloud_upload</mat-icon></button>
                              <!--
                              <div style="overflow:hidden;width:320px;height:240px;text-align:center;background-position:center;background-size:contain;background-repeat:no-repeat;" [hidden]="!captured" [style.background-image]="base64?'url('+base64+')':null"></div>
                              <button (click)="genBase64()"> generate base64 </button>
                              <button (click)="genPostData()"> generate post data </button>
                              <button *ngIf="webcam" (click)="captureBase64()" style="padding:1em;font-size:1.2em;width:100%">Capture</button>
                              -->
                            </div>
                            <div class="avatar-image" *ngIf="!takePhoto">
                              <!-- End webcam -->
                              <img mat-card-avatar src="assets/images/avatars/profile.jpg" *ngIf="!user._external_user.avatar"/>
                              <img [src]="avatarPath+user._external_user.avatar" mat-card-avatar class="profile-avatar" *ngIf="user._external_user.avatar">
                              <div class="change-photo-button" *ngIf="loginService.hasPermission('access-externaluser-updateavatar')">
                                <button mat-button (click)="takePhoto=true"><mat-icon>camera_alt</mat-icon> Tomar Foto</button>
                              </div>
                            </div>
                            <h3 class="name" mat-line>{{user._external_user.name}}</h3>
                            <p mat-line *ngIf="user._external_user.company"><small> {{ user._external_user.company }}</small></p>
                          </div>
                          <div fxFlex>
                            <ul class="list-details" style="margin-top:20px;">
                              <li><span class="label">Fecha de la Visita:</span><span>{{ tmp_fields.start_date }} a {{ tmp_fields.end_date }}</span></li>
                              <li><span class="label">Ingreso a:</span>
                                <span *ngIf="evento.type[0].acceso_edificio===true">Acceso al Edificio, </span>
                                <span *ngIf="evento.type[0].datacenter===true">DataCenter, </span>
                                <span *ngIf="evento.type[0].comunicaiones===true">Cuarto comunicaciones, </span>
                                <span *ngIf="evento.type[0].registros_vitales===true">Registros vitales, </span>
                                <span *ngIf="evento.type[0].posiciones_alternas===true">Posiciones alternas de trabajo, </span>
                                <span *ngIf="evento.type[0].areas_comunes===true">Areas comunes</span>
                              </li>
                              <li><span class="label">Ubicación:</span><span>{{ evento.sede }} ({{ evento.sala}})</span></li>
                              <li><span class="label">Detalles:</span><span>{{ evento.descripcion }}</span></li>
                              <li><span class="label">Ingresa/Retira dispositivos:</span> 
                                <span class="badge badge-title primary" *ngIf="evento.device_manage"><i class="fa fa-check"></i></span>
                                <span class="badge badge-title danger" *ngIf="!evento.device_manage"><i class="fa fa-close"></i></span>
                              </li>
                              <li *ngIf="evento._user_authorize"><span class="label">Autoriza:</span><span>{{evento._user_authorize.firstname}} {{evento._user_authorize.lastname}}</span><br/>
                                <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize && evento._user_authorize.keywe">{{ evento._user_authorize.keywe.puesto }} - {{ evento._user_authorize.keywe.ubicacion }}</small><br/>
                                <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize">{{ evento._user_authorize.email }}</small>
                              </li>
                              <li *ngIf="!evento._user_authorize"><span class="label">Autoriza:</span><span><strong>NO Autorizado</strong></span></li>
                            </ul>
                            <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap" style="margin-top:20px;" *ngIf="evento._user_authorize">
                              <button mat-raised-button color="accent" (click)="registerUserEvent(true)" *ngIf="!user.entry_date && loginService.hasPermission('access-deviceregistration-entry')"><mat-icon>beenhere</mat-icon> Registrar Ingreso</button>
                              <button mat-raised-button color="warn" (click)="registerUserEvent(false)" *ngIf="user.entry_date && !user.exit_date && loginService.hasPermission('access-deviceregistration-exit')"><mat-icon>exit_to_app</mat-icon> Registrar Salida</button>
                              <!--<button mat-raised-button color="primary" (click)="registerUserLaptop()" style="margin-left:15px;"><mat-icon>laptop</mat-icon> Registrar Laptop</button>-->
                            </div>
                          </div>
                        </div>

                        <h4 style="text-align:center; margin-top: 20px;">Asistentes</h4>
                        <mat-divider></mat-divider>

                        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start" fxLayoutAlign="start start">
                          <div fxFlex>
                            <h4 class="user-list-title">SDR</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.users_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._user.avatar">person</mat-icon>
                                <img [src]="user._user.avatar" mat-list-avatar *ngIf="user._user.avatar">
                                <h3 class="name" mat-line>{{user._user.firstname}} {{user._user.lastname}}</h3>
                              <!--  <p mat-line *ngIf="user._user.keywe"><small> {{ user._user.keywe.puesto }} - {{ user._user.keywe.ubicacion }}</small></p>-->
                              </mat-list-item>
                            </mat-list>
                          </div>
                          <div fxFlex>
                            <h4 class="user-list-title">Clientes SDR</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.business_users_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._business_user.avatar">person</mat-icon>
                                <img [src]="avatarPath+user._business_user.avatar" mat-list-avatar *ngIf="user._business_user.avatar">
                                <h3 class="name" mat-line>{{user._business_user.firstname}} {{user._business_user.lastname}}</h3>
                                <span class="badge badge-title primary" *ngIf="user.entry_date">{{ user.entry_date.format('HH:mm') }}</span>
                                <span class="badge badge-title danger" *ngIf="user.exit_date" style="margin-left:10px;">{{ user.exit_date.format('HH:mm') }}</span>
                                <p mat-line *ngIf="user._business_user.business"><small> {{ user._business_user.business.name }}</small></p>
                                <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/admin/access/event/id/'+user.qr]">
                                  <mat-icon>assignment_ind</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                  <mat-icon>transfer_within_a_station</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                  <mat-icon>laptop</mat-icon>
                                </button>
                              </mat-list-item>
                            </mat-list>
                          </div>
                          <div fxFlex>
                            <h4 class="user-list-title">Externos</h4>
                            <mat-list class="chat-contacts">
                              <mat-list-item *ngFor="let user of evento.external_invitations" matRipple>
                                <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._external_user.avatar">person</mat-icon>
                                <img [src]="avatarPath+user._external_user.avatar" mat-list-avatar *ngIf="user._external_user.avatar">
                                <h3 class="name" mat-line>{{user._external_user.name}} <small *ngIf="user.company">({{user._external_user.company}})</small></h3>
                                <span class="badge badge-title primary" *ngIf="user.entry_date">{{ user.entry_date.format('HH:mm') }}</span>
                                <span class="badge badge-title danger" *ngIf="user.exit_date" style="margin-left:10px;">{{ user.exit_date.format('HH:mm') }}</span>
                                <p mat-line><small> {{ user._external_user.company }}</small></p>
                                <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                                  <mat-icon>assignment_ind</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                                  <mat-icon>transfer_within_a_station</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                                  <mat-icon>laptop</mat-icon>
                                </button>
                              </mat-list-item>
                            </mat-list>
                          </div>
                        </div>
                        <!--<ms-loading-overlay [isLoading]="loadingContent"></ms-loading-overlay>-->
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>

            </div>
          </div>
      
  
  
    </div>
  </div>