@import "src/app/core/scss/fuse";
.avatar-container{
    text-align: center;
    .avatar-image{
        position: relative;
        margin-bottom: 20px;
        img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            margin-bottom: 10px;
        }
        img.profile-avatar{
            width: 180px;
            height:180px ;
            border-radius: 50%;
            margin-bottom: 10px;
        }
        .change-photo-button{
            position: absolute;
            bottom: 0;
            width: 100%;
            button{
                border: solid 1px #939393;
                background-color: rgba(0,0,0,0.2);
                border-radius: 5px;
                color: #fff;
                opacity: 0.5;
            }
            button:hover{
                opacity: 1;
            }
        }
    }
    .take-photo{
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 12px;
        ack-webcam /deep/ video{
            width: 100%;
            height: auto;
        }
        .take-photo-button{
            position: absolute;
            bottom: 10px;
            width: 100%;
            button{
                background-color: #FFC107;
                border-radius: 50px;
                color: #fff;
            }
        }
        .return-button{
            position: absolute;
            left: 10px;
            bottom: 10px;
            background-color: rgba(255,255,255,0.5);
            color: #fff;
            z-index: 1000;
        }
        .save-button{
            position: absolute;
            right: 10px;
            bottom: 10px;
            background-color: #2196F3;
            color: #fff;
            z-index: 1000;
        }
    }
}

.user-list-title{
    text-align: center;
    margin-bottom: 0;
    background-color: #e0e0e0;
    padding: 10px 0;
}

.cssWebCam{
	width: 480px;
	height: 480px;
}


#profile {

    .header {
        height: 160px;
        min-height: 160px;
        max-height: 160px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}

#about {
    max-width: 1200px;

    .about-content {
        bottom: 100px;
        position: relative;
        margin: auto;
         z-index: 99;
        .general {

            .location {

                mat-icon {
                    line-height: 13px !important;
                }
            }
        }

        .work {

            .job {

                .company {
                    padding: 0 16px 0 0;
                    font-weight: 500;
                }

                .date {
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
    }

    .about-sidebar {
        padding-left: 32px;

        @include media-breakpoint('sm') {
            padding: 8px
        }

        .friends {

            .content {

                .friend {
                    padding: 4px;
                }
            }
        }

        .groups {

            .content {

                .group {
                    margin-bottom: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .logo {
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        margin-right: 16px;
                    }

                    .name {
                        font-weight: 500;
                        font-size: 15px;
                    }

                    .category,
                    .members {
                        color: rgba(0, 0, 0, 0.54);
                    }

                    .members {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}

// Profile boxes
.profile-box {
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
        padding: 16px;

        .title {
            font-size: 17px;
        }

        .more {
            cursor: pointer;
        }
    }

    .content {
        padding: 16px;
        background-color: #FFF;
    }

    footer {
        padding: 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        background-color: rgba(0, 0, 0, 0.06);
    }

    &.info-box {

        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 500;
                padding-bottom: 4px;
            }

            .info {

            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
}

.tabs{
    background-color: #03a9f4;

}

md-tab-group {
    background-color: #03a9f4;
  }

mat-tab-labels{
    background-color: #03a9f4;
}

