<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar *ngIf="evento">

  <!-- HEADER -->
  <div class="header  white-fg p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
       fxLayoutAlign.gt-sm="space-between end">
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
      <div id="about" class="p-24" fxLayout="row" fxLayoutWrap>
          
  
          <mat-card fxFlex="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100">
            <mat-card-header>
                <h3 style="text-align:center;">{{ evento.name_event }}</h3>
                <span fxFlex><!-- fill space --></span>
                <button mat-icon-button matTooltip="Nuevo dispositivo" (click)="new_device=true" *ngIf="!new_device && user_type!='sdr'">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Escanear código" (click)="new_device=false; new_device_data={}" *ngIf="new_device && user_type!='sdr'">
                  <mat-icon>scanner</mat-icon>
                </button>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start center" *ngIf="!new_device" [hidden]="user_type=='sdr'">
                <div fxFlex="10" style="text-align:center;" >
                  <img src="assets/images/icons/qr-code-icon.png" style="width:50px;">
                </div>
                <div fxFlex>
                  <section>
                    <div fxLayout="column" fxLayout.gt-md="row">
                      <mat-input-container fxFlex>
                        <!--<input type="text" [(ngModel)]="qr_code" (input)="onSearchChange($event.target.value)" #myInput />-->
                        <input matInput autocomplete="off" placeholder="Número de Serie" [(ngModel)]="serialDevice" (input)="onSearchChange($event.target.value)" #serialDeviceInput>
                      </mat-input-container>
                      <button mat-button color="accent" (click)="searchSerial()">Buscar</button>
                    </div>
                  </section>
                </div>
              </div>

              <div class="alert alert-danger" *ngIf="user_type=='sdr'">El usuario no necesita registrar dispositivos</div>
              
              <form #newDeviceForm="ngForm" novalidate fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start center" fxLayoutGap="3%" *ngIf="new_device && user_type!='sdr'">
                <mat-input-container fxFlex>
                  <input matInput autocomplete="off" placeholder="Marca" name="brand" required [(ngModel)]="new_device_data.brand">
                </mat-input-container>
                <mat-input-container fxFlex>
                  <input matInput autocomplete="off" placeholder="Modelo" name="model" required [(ngModel)]="new_device_data.model">
                </mat-input-container>
                <mat-input-container fxFlex>
                  <input matInput autocomplete="off" placeholder="Serie" name="series" required [(ngModel)]="new_device_data.series">
                </mat-input-container>
                <button mat-button mat-raised-button color="accent" [disabled]="!newDeviceForm.valid" (click)="addDevice()">Agregar</button>
              </form>
              
              <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start center" *ngIf="user_type=='business'">
                <div fxFlex="40" class="avatar-container">
                  
                  <div class="avatar-image">
                    <!-- End webcam -->
                    <img mat-card-avatar src="assets/images/avatars/profile.jpg" *ngIf="!user._business_user.avatar"/>
                    <img [src]="avatarPath+user._business_user.avatar" mat-card-avatar *ngIf="user._business_user.avatar">
                  </div>
                  <h3 class="name" mat-line>{{user._business_user.firstname}} {{user._business_user.lastname}}</h3>
                  <p mat-line *ngIf="user._business_user.business"><small> {{ user._business_user.business.name }}</small></p>
                </div>
                <div fxFlex>
                  <ul class="list-details" style="margin-top:20px;">
                    <li><span class="label">Fecha de la Visita:</span><span>{{ tmp_fields.start_date }} a {{ tmp_fields.end_date }}</span></li>
                    <li><span class="label">Ingreso a:</span>
                      <span *ngIf="evento.type[0].acceso_edificio===true">Acceso al Edificio, </span>
                      <span *ngIf="evento.type[0].datacenter===true">DataCenter, </span>
                      <span *ngIf="evento.type[0].comunicaiones===true">Cuarto comunicaciones, </span>
                      <span *ngIf="evento.type[0].registros_vitales===true">Registros vitales, </span>
                      <span *ngIf="evento.type[0].posiciones_alternas===true">Posiciones alternas de trabajo, </span>
                      <span *ngIf="evento.type[0].areas_comunes===true">Areas comunes</span>
                    </li>
                    <li><span class="label">Ubicación:</span><span>{{ evento.sede }} ({{ evento.sala}})</span></li>
                    <li><span class="label">Detalles:</span><span>{{ evento.descripcion }}</span></li>
                    <li ><span class="label">Ingresa/Retira dispositivos:</span> 
                      <span class="badge badge-title primary" *ngIf="evento.device_manage"><i class="fa fa-check"></i></span>
                      <span class="badge badge-title danger" *ngIf="!evento.device_manage"><i class="fa fa-close"></i></span>
                    </li>
                    <li *ngIf="evento._user_authorize"><span class="label">Autoriza:</span><span>{{evento._user_authorize.firstname}} {{evento._user_authorize.lastname}}</span><br/>
                      <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize && evento._user_authorize.keywe">{{ evento._user_authorize.keywe.puesto }} - {{ evento._user_authorize.keywe.ubicacion }}</small><br/>
                      <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize">{{ evento._user_authorize.email }}</small>
                    </li>
                    <li *ngIf="!evento._user_authorize"><span class="label">Autoriza:</span><span><strong>NO Autorizado</strong></span></li>
                    <li><span class="label">Dispositivos del usuario:</span>
                      <ul class="devices-list">
                        <li *ngFor="let device of user._business_user.devices">
                          {{ device.brand+' '+device.model }} - {{ device.series }}
                          <span class="badge badge-title primary" *ngIf="device.entry_date">{{ toMoment(device.entry_date) }}</span>
                          <span class="badge badge-title danger" *ngIf="device.exit_date" style="margin-left:10px;">{{ toMoment(device.exit_date) }}</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start center" *ngIf="user_type=='external'">
                <div fxFlex="40" class="avatar-container">
                  
                  <div class="avatar-image">
                    <!-- End webcam -->
                    <img mat-card-avatar src="assets/images/avatars/profile.jpg" *ngIf="!user._external_user.avatar"/>
                    <img [src]="avatarPath+user._external_user.avatar" mat-card-avatar *ngIf="user._external_user.avatar">
                  </div>
                  <h3 class="name" mat-line>{{user._external_user.name}}</h3>
                  <p mat-line *ngIf="user._external_user.business"><small> {{ user._external_user.company }}</small></p>
                </div>
                <div fxFlex>
                  <ul class="list-details" style="margin-top:20px;">
                    <li><span class="label">Fecha de la Visita:</span><span>{{ tmp_fields.start_date }} a {{ tmp_fields.end_date }}</span></li>
                    <li><span class="label">Ingreso a:</span>
                      <span *ngIf="evento.type[0].acceso_edificio===true">Acceso al Edificio, </span>
                      <span *ngIf="evento.type[0].datacenter===true">DataCenter, </span>
                      <span *ngIf="evento.type[0].comunicaiones===true">Cuarto comunicaciones, </span>
                      <span *ngIf="evento.type[0].registros_vitales===true">Registros vitales, </span>
                      <span *ngIf="evento.type[0].posiciones_alternas===true">Posiciones alternas de trabajo, </span>
                      <span *ngIf="evento.type[0].areas_comunes===true">Areas comunes</span>  
                  </li>
                    
                    
                    <li><span class="label">Ubicación:</span><span>{{ evento.sede }} ({{ evento.sala}})</span></li>
                    <li><span class="label">Detalles:</span><span>{{ evento.descripcion }}</span></li>
                    <li><span class="label">Ingresa/Retira dispositivos:</span> 
                      <span class="badge badge-title primary" *ngIf="evento.device_manage"><i class="fa fa-check"></i></span>
                      <span class="badge badge-title danger" *ngIf="!evento.device_manage"><i class="fa fa-close"></i></span>
                    </li>
                    <li *ngIf="evento._user_authorize"><span class="label">Autoriza:</span><span>{{evento._user_authorize.firstname}} {{evento._user_authorize.lastname}}</span><br/>
                      <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize && evento._user_authorize.keywe">{{ evento._user_authorize.keywe.puesto }} - {{ evento._user_authorize.keywe.ubicacion }}</small><br/>
                      <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize">{{ evento._user_authorize.email }}</small>
                    </li>
                    <li *ngIf="!evento._user_authorize"><span class="label">Autoriza:</span><span><strong>NO Autorizado</strong></span></li>
                    <li><span class="label">Dispositivos del usuario:</span>
                      <ul class="devices-list">
                        <li *ngFor="let device of user._external_user.devices">
                          {{ device.brand+' '+device.model }} - {{ device.series }}
                          <span class="badge badge-title primary" *ngIf="device.entry_date">{{ toMoment(device.entry_date) }}</span>
                          <span class="badge badge-title danger" *ngIf="device.exit_date" style="margin-left:10px;">{{ toMoment(device.exit_date) }}</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <h4 style="text-align:center; margin-top: 20px;">Asistentes</h4>
              <mat-divider></mat-divider>

              <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start" fxLayoutAlign="start start">
                <div fxFlex>
                  <h4 class="user-list-title">SDR</h4>
                  <mat-nav-list class="chat-contacts" >
                    <mat-list-item *ngFor="let user of evento.users_invitations" matRripple>
                      <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._user.avatar">person</mat-icon>
                      <img [src]="user._user.avatar" mat-list-avatar *ngIf="user._user.avatar">
                      <h3 class="name" mat-line>{{user._user.firstname}} {{user._user.lastname}}</h3>
                      <p mat-line *ngIf="user._user.keywe"><small> {{ user._user.keywe.puesto }} - {{ user._user.keywe.ubicacion }}</small></p>
                    </mat-list-item>
                  </mat-nav-list>
                </div>
                <div fxFlex>
                  <h4 class="user-list-title">Clientes SDR</h4>
                  <mat-nav-list class="chat-contacts">
                    <mat-list-item *ngFor="let user of evento.business_users_invitations" matRipple>
                      <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._business_user.avatar">person</mat-icon>
                      <img [src]="avatarPath+user._business_user.avatar" mat-list-avatar *ngIf="user._business_user.avatar">
                      <h3 class="name" mat-line>{{user._business_user.firstname}} {{user._business_user.lastname}}</h3>
                      <span class="badge badge-title primary" *ngIf="user.entry_date">{{ user.entry_date.format('HH:mm') }}</span>
                      <span class="badge badge-title danger" *ngIf="user.exit_date" style="margin-left:10px;">{{ user.exit_date.format('HH:mm') }}</span>
                      <p mat-line *ngIf="user._business_user.business"><small> {{ user._business_user.business.name }}</small></p>
                      <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['/access/id/'+user.qr]">
                        <mat-icon>assignment_ind</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                        <mat-icon>transfer_within_a_station</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                        <mat-icon>laptop</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Registar Dispositivo DC" *ngIf="loginService.validatePermissionTree('access','dcregistration')" [routerLink]="['/access/device/'+user.qr]">
                        <mat-icon>router</mat-icon>
                      </button>
                    </mat-list-item>
                  </mat-nav-list>
                </div>
                <div fxFlex>
                  <h4 class="user-list-title">Externos</h4>
                  <mat-nav-list class="chat-contacts">
                    <mat-list-item *ngFor="let user of evento.external_invitations" matRipple>
                      <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!user._external_user.avatar">person</mat-icon>
                      <img [src]="avatarPath+user._external_user.avatar" mat-list-avatar *ngIf="user._external_user.avatar">
                      <h3 class="name" mat-line>{{user._external_user.name}} <small *ngIf="user.company">({{user._external_user.company}})</small></h3>
                      <p mat-line><small> {{ user._external_user.company }}</small>
                      <button mat-icon-button matTooltip="ID" *ngIf="loginService.validatePermissionTree('access','id')" [routerLink]="['access/id/'+user.qr]">
                        <mat-icon>assignment_ind</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Ingreso / Salida" *ngIf="loginService.validatePermissionTree('access','userregistration')" [routerLink]="['/access/user/'+user.qr]">
                        <mat-icon>transfer_within_a_station</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Registar Laptop" *ngIf="loginService.validatePermissionTree('access','deviceregistration')" [routerLink]="['/access/laptop/'+user.qr]">
                        <mat-icon>laptop</mat-icon>
                      </button>
                    </mat-list-item>
                  </mat-nav-list>
                </div>
              </div>
            <!-- <ms-loading-overlay [isLoading]="loadingContent"></ms-loading-overlay> -->
            </mat-card-content>
          </mat-card>
          
        
    
      </div>
    </div>
    <!-- / CONTENT -->

</div>

