.avatar-container{
    text-align: center;
    .avatar-image{
        position: relative;
        margin-bottom: 20px;
        img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            margin-bottom: 10px;
        }
        img.profile-avatar{
            width: 100%;
            border-radius: 10px;
            margin-bottom: -10px;
            max-width: 268px;
        }
        .change-photo-button{
            position: absolute;
            bottom: 0;
            width: 100%;
            button{
                border: solid 1px #939393;
                background-color: rgba(0,0,0,0.2);
                border-radius: 5px;
                color: #fff;
                opacity: 0.5;
            }
            button:hover{
                opacity: 1;
            }
        }
    }
    .take-photo{
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 12px;
        ack-webcam /deep/ video{
            width: 100%;
            height: auto;
        }
        .take-photo-button{
            position: absolute;
            bottom: 10px;
            width: 100%;
            button{
                background-color: #FFC107;
                border-radius: 50px;
                color: #fff;
            }
        }
        .return-button{
            position: absolute;
            left: 10px;
            bottom: 10px;
            background-color: rgba(255,255,255,0.5);
            color: #fff;
            z-index: 1000;
        }
        .save-button{
            position: absolute;
            right: 10px;
            bottom: 10px;
            background-color: #2196F3;
            color: #fff;
            z-index: 1000;
        }
    }
}

.user-list-title{
    text-align: center;
    margin-bottom: 0;
    background-color: #e0e0e0;
    padding: 10px 0;
}

.cssWebCam{
	width: 480px;
	height: 480px;
}

.devices-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.devices-list /deep/ li{
    padding: 2px 10px 2px 30px;
    font-size: 0.9em;
}