<div tfFlex="100%" class="no-padd full-height">
  <mat-toolbar>
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button (click)="router.navigate(['/admin/']);">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h4>{{ title }}</h4>
    </div>
  </mat-toolbar>
  
  <div class="content-auto-scroll-no-bar">
    <div style="padding-top:20px;">
      <div fxLayout="row" fxLayoutAlign="center stretch">
        <mat-card fxFlex="70" fxFlex.md="70" fxFlex.sm="90" fxFlex.xs="100">
          <mat-card-content>
            <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start center">
              <div fxFlex="40" style="text-align:center;" >
                <img src="assets/img/icons/scanner.png">
              </div>
              <div fxFlex>
                <section>
                  <h3>Por favor ingresa los datos del QR.</h3>
                  <div fxLayout="column" fxLayout.gt-md="row">
                    <mat-input-container fxFlex>
                      <!--<input type="text" [(ngModel)]="qr_code" (input)="onSearchChange($event.target.value)" #myInput />-->
                      <input matInput autocomplete="off" placeholder="Datos del QR" [(ngModel)]="qr_code" (input)="onSearchChange($event.target.value)" #myInput>
                    </mat-input-container>
                    <button mat-button color="accent" (click)="searchEvent()">Buscar</button>
                  </div>
                </section>
              </div>
            </div>
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</div>