@import "src/app/core/scss/fuse";
.sidenav-item {
  cursor: pointer;
}
.sidenav-item.active {
  background: mat-color($accent);
  mat-list-item {
    color: #fff;
  }
}
#add-contact-button {
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
.mat-white-bg .mat-accent-bg .mat-icon, .mat-white-bg .mat-accent-bg .icon{
    color: white !important;
}