<div class="page-layout carded left-sidenav" fusePerfectScrollbar>
    
        <!-- TOP BACKGROUND -->
        <div class="top-bg mat-accent-bg"></div>
        <!-- / TOP BACKGROUND -->
    
        <mat-sidenav-container>
    
            <!-- SIDENAV -->
            <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                         fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">
    
                <!-- SIDENAV HEADER -->
                <div class="header p-24" ngClass="mat-accent-bg" layout="row" layout-align="center center" ngClass.gt-md="white-fg">
                    <button mat-button class="mat-icon-button"
                            *ngIf="loginService.validatePermissionTree('users')"
                            (click)="router.navigate(['users'])"
                            aria-label="return">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <span class="mat-subheading-1" *ngIf="loginService.validatePermissionTree('users')">Ir a usuarios</span>
                </div>
                <!-- / SIDENAV HEADER -->
    
                <!-- SIDENAV CONTENT -->
                <div class="content" fusePerfectScrollbar>
    
                    <div class="demo-sidenav">
                        <mat-list>
                            <h3 matSubheader>Lista de Perfiles</h3>
                            <div class="sidenav-item" (click)="setActiveRole(rol)" *ngFor="let rol of roles"  [ngClass]="{'active': rol._id==current_role._id}">
                                <mat-list-item>
                                    <span>{{rol.name}}</span>
                                </mat-list-item>
                        
                                <mat-divider></mat-divider>
                            </div>
                        </mat-list>
                    </div>
                            
    
                </div>
                <!-- / SIDENAV CONTENT -->
    
            </mat-sidenav>
            <!-- / SIDENAV -->
    
            <!-- CENTER -->
            <div class="center">
    
                <!-- CONTENT HEADER -->
                <div class="header white-fg p-24">
                    <h2>Perfiles de Usuarios</h2>
                </div>
                <!-- / CONTENT HEADER -->
    
                <!-- CONTENT CARD -->
                <div class="content-card mat-white-bg">
    
                    <!-- CONTENT TOOLBAR -->
                    <div class="toolbar px-24 py-8">
                        <button mat-button class="mat-icon-button sidenav-toggle"
                                fuseMatSidenavToggler="carded-left-sidenav"
                                fxHide.gt-md>
                            <mat-icon>menu</mat-icon>
                        </button>
                        <span *ngIf="current_role && current_role._id">{{ current_role.name }}</span>
                        <span *ngIf="current_role && !current_role._id">Nuevo Rol</span>
                        <span fxFlex><!-- fill space --></span>
                        <button mat-button class="mat-icon-button"
                                *ngIf="current_role && !current_role._id"
                                (click)="setFirstRol()"
                                matTooltip="Cancelar"
                                aria-label="cancel">
                            <mat-icon>cancel</mat-icon>
                        </button>
                        <button mat-button class="mat-icon-button"
                                *ngIf="loginService.hasPermission(['users-roles-update', 'users-roles-create'])"
                                [disabled]="!roleForm.valid"
                                (click)="saveRole()"
                                matTooltip="Guardar"
                                aria-label="save">
                            <mat-icon>save</mat-icon>
                        </button>
                        <button mat-button class="mat-icon-button"
                                *ngIf="current_role && current_role._id && loginService.hasPermission(['users-roles-delete'])"
                                (click)="deleteRol()"
                                matTooltip="Eliminar"
                                aria-label="delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <!-- / CONTENT TOOLBAR -->
    
                    <!-- CONTENT -->
                    <div class="content p-24" fusePerfectScrollbar>
    
                        <!-- DEMO CONTENT -->
                        <div class="demo-content">
                            <form #roleForm="ngForm" fxLayout="column" fxLayoutAlign="start">
                                <div class="permissions-list" *ngIf="current_role">    
                                    <div fxLayout="column" fxLayout.gt-md="row" *ngIf="current_role && loginService.hasPermission(['users-roles-update', 'users-roles-create'])">
                                        <mat-input-container fxFlex>
                                            <input matInput name="name" required placeholder="Nombre del rol" autocomplete="off" [(ngModel)]="current_role.name">
                                            <span matPrefix><mat-icon>group</mat-icon>&nbsp;</span>
                                        </mat-input-container>
                                    </div>
                                    
                                    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutWrap="wrap">
                                        <div *ngFor="let per of permissions" fxFlex="33%">
                                            <mat-checkbox [checked]=" (current_role.permissions.indexOf(per._id)>=0) " (change)="addOrRemovePermission($event.checked,per._id)"><span class="mat-body-2">{{per.name}}</span></mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </form>    
                        </div>
                        <!-- / DEMO CONTENT -->
                        
                        <!-- ADD CONTACT BUTTON -->
                        <button mat-fab class="mat-accent-bg" id="add-contact-button" (click)="newRol()" aria-label="add-contact" matTooltip="Nuevo Perfil"
                            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" *ngIf="current_role && current_role._id && loginService.hasPermission(['users-roles-create'])">
                        <mat-icon>group_add</mat-icon>
                        </button>
                        <!-- / ADD CONTACT BUTTON -->
    
                    </div>
                    <!-- / CONTENT -->
    
                </div>
                <!-- / CONTENT CARD -->
    
            </div>
            <!-- / CENTER -->
    
        </mat-sidenav-container>
    
    </div>
    
