@import "src/app/core/scss/fuse";


#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

    }

}
#profile {

    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}

#about {
    max-width: 1200px;

    .about-content {

        .general {

            .location {

                mat-icon {
                    line-height: 13px !important;
                }
            }
        }

        .work {

            .job {

                .company {
                    padding: 0 16px 0 0;
                    font-weight: 500;
                }

                .date {
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
    }

    .about-sidebar {
        padding-left: 32px;

        @include media-breakpoint('sm') {
            padding: 8px
        }

        .friends {

            .content {

                .friend {
                    padding: 4px;
                }
            }
        }

        .groups {

            .content {

                .group {
                    margin-bottom: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .logo {
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        margin-right: 16px;
                    }

                    .name {
                        font-weight: 500;
                        font-size: 15px;
                    }

                    .category,
                    .members {
                        color: rgba(0, 0, 0, 0.54);
                    }

                    .members {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}

// Profile boxes
.profile-box {
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
        padding: 16px;

        .title {
            font-size: 17px;
        }

        .more {
            cursor: pointer;
        }
    }

    .content {
        padding: 16px;
        background-color: #FFF;
    }

    footer {
        padding: 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        background-color: rgba(0, 0, 0, 0.06);
    }

    &.info-box {

        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 500;
                padding-bottom: 4px;
            }

            .info {

            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
}

.tabs{
    background-color: #03a9f4;

}

md-tab-group {
    background-color: #03a9f4;
  }

mat-tab-labels{
    background-color: #03a9f4;
}

#add-contact-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
  
   
  }
  
  
  .full-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      overflow: hidden;
      -webkit-box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
      box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
  }
  .toolbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border-bottom: 1px solid rgba(0,0,0,.12);
      height: 64px;
      min-height: 64px;
      max-height: 64px;
  }
  .empty-box {
      text-align: center;
      padding: 40px 0;
      font-size: 1.4em;
      color: #808080 !important;
  }
  #contacts {
      .actions {
  
          button {
              float: right;
              text-transform: none;
              padding: 0 16px;
              height: 32px;
              line-height: 32px;
              margin: 0 0 0 8px;
          }
      }
  
    #contacts-sidenav {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        height: 100%;
  
        .sidenav-content {
            display: flex;
            flex-direction: column;
            padding: 0;
  
            @include media-breakpoint(gt-sm) {
                padding: 24px 4px 24px 24px;
            }
  
            .card {
                display: flex;
                flex-direction: column;
                flex: 0 1 auto;
                padding: 0;
  
                @include media-breakpoint(gt-sm) {
                    @include mat-elevation(4);
                }
  
                > .header {
                    flex: 0 1 auto;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                }
  
                > .content {
                    flex: 0 1 auto;
                }
            }
  
        }
    }
  }
  
  .fuse-mail-list {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: auto;
      padding: 0;
      border-right: 1px solid rgba(0, 0, 0, .12);
  
      .no-messages-text {
          font-size: 24px;
          font-weight: 300;
      }
  
      .mail-list {
          position: relative;
          display: flex;
          flex-direction: column;
          flex: 1;
      }
  }
  
  .fuse-mail-list-item {
      flex-shrink: 0;
      position: relative;
      padding: 16px 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      cursor: pointer;
  
      &.unread {
          background: #FFFFFF;
  
          .info {
  
              .name {
                  font-weight: 700;
              }
  
              .row-2 {
  
                  .subject {
                      font-weight: 700;
                  }
  
                  .labels {
                      background: #FFFFFF;
                  }
              }
          }
      }
  
      &.selected {
          background: #FFF8E1;
  
          .info {
  
              .row-2 {
  
                  .labels {
                      background: #FFF8E1;
                  }
              }
          }
      }
  
      &.current-mail {
          background: #E3F2FD;
  
          .info {
  
              .row-2 {
  
                  .labels {
                      background: #E3F2FD;
                  }
              }
          }
      }
  
      .info {
          overflow: hidden;
          width: 0;
          margin-left: 16px;
          position: relative;
          .avatar-container {
              max-width: 40px;
          }
          .row-1 {
              margin-bottom: 8px;
  
              .name {
                  font-size: 15px;
                  font-weight: 500;
  
                  .avatar {
                      min-width: 32px;
                      width: 32px;
                      height: 32px;
                      line-height: 32px;
                      background-color: mat-color($accent);
                  }
              }
  
              .user-info {
                  font-size: .8em;
                  color: #636363;
                  margin-top: 2px;
              }
  
              .actions {
                  margin-left: 4px;
  
                  .mat-icon-button {
                      width: 32px;
                      height: 32px;
                      line-height: 1;
                  }
              }
          }
  
          .row-2 {
  
              .subject,
              .message {
                  width: 100%;
              }
  
              .message {
                  position: relative;
                  color: rgba(0, 0, 0, 0.54);
              }
  
              .labels {
                  position: absolute;
                  background: #FFFFFF;
                  bottom: 0;
                  right: 0;
                  padding-left: 6px;
  
                  .label {
                      font-size: 11px;
                      border-radius: 2px;
                      margin: 0 4px 0 0;
                      padding: 3px 8px;
                      background-color: rgba(0, 0, 0, 0.08);
  
                      .label-color {
                          width: 8px;
                          height: 8px;
                          margin-right: 8px;
                          border-radius: 50%;
                      }
                  }
              }
          }
      }
  }