<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

       <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button (click)="router.navigate(['call-tree'])">
                    <mat-icon>arrow_back</mat-icon>
                </button>


                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                     <div class="subtitle secondary-text">
                        <span>Grupo</span>
                    </div>
                    <div class="h2" *ngIf="group && users" >
                      {{group.name}}
                    </div>
                    
                   
            
                </div>
            </div>
            <!-- / APP TITLE -->

           

            <button mat-raised-button class="mt-16 mt-sm-0" color="accent" (click)="testNotifier()" *ngIf="loginService.hasPermission(['mybusiness-notification-test'])">
                <span>Probar Notificador</span> <mat-icon>notifications_active</mat-icon>
            </button>
        </div>
            <!-- / HEADER -->
    
            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">
    
                <!-- CONTENT -->
                <div class="content">
    
                    <div class="product w-100-p" fxLayout="column" fxFlex>
    
                        <mat-tab-group>
    
                            <mat-tab label="Contactos"  *ngIf="users && loginService.validatePermissionTree('mybusiness','groupsnotification','create')">
                                <div class="tab-content p-24" fusePerfectScrollbar>
                                        
                

                                    <div class="toolbar" >
                                        <div class="" fxFlex="row" fxLayoutAlign="start center">
                                            <div fxFlex>Usuario en el grupo</div>
                                            <div fxFlex>Usuarios disponibles</div>
                                        </div>
                                    </div>
                                                
                                    <div fxLayoutAlign="row">
                                        <div fusePerfectScrollbar fxFlex class="" >
                                            <div class="" > 
                                                <div matRipple *ngFor="let usr of selectedUsers()" class="fuse-mail-list-item" [@animate]="{value:'*',params:{y:'100%'}}">
                                                    <div fxLayout="row" fxLayoutAlign="start center" (click)="unselectUser(usr._id)">
                                                            <mat-icon>keyboard_arrow_right</mat-icon>
                                                        <div class="info" fxFlex FlexLayout="row">
                                                    
                                                            <div class="row-1" fxFlex="50px" fxLayout="row" fxLayoutAlign="start center">
                                                                <img class="avatar" *ngIf="!usr.avatar" alt="{{ usr.firstname+' '+usr.lastname }}" src="assets/images/avatars/profile.jpg"/>
                                                                <img class="avatar" *ngIf="usr.avatar" alt="{{ usr.firstname+' '+usr.lastname }}" [src]="avatarPath+usr.avatar"/>
                                                            </div>
                                                            <div class="row-1" fxFlex fxLayout="column" fxLayoutAlign="start start">    
                                                                <span class="text-truncate">{{ usr.firstname+' '+usr.lastname }}</span>
                                                                <span class="user-info">{{ usr.email }} - {{ usr.phone }}</span>
                                                            </div>
                                                    
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                
                                            </div>
                                        </div>
                                        <div fusePerfectScrollbar fxFlex class="fuse-mail-list">
                                            <div class="mail-list" >            
                                                <div matRipple *ngFor="let usr of unselectedUsers()" class="fuse-mail-list-item" [@animate]="{value:'*',params:{y:'100%'}}">
                                                    <div fxLayout="row" fxLayoutAlign="start center" (click)="selectUser(usr._id)">
                                                        <mat-icon>keyboard_arrow_left</mat-icon>
                                                        <div class="info" fxFlex FlexLayout="row">
                                                    
                                                            <div class="row-1" fxFlex="50px" fxLayout="row" fxLayoutAlign="start center">
                                                                <img class="avatar" *ngIf="!usr.avatar" alt="{{ usr.firstname+' '+usr.lastname }}" src="assets/images/avatars/profile.jpg"/>
                                                                <img class="avatar" *ngIf="usr.avatar" alt="{{ usr.firstname+' '+usr.lastname }}" [src]="avatarPath+usr.avatar"/>
                                                            </div>
                                                            <div class="row-1" fxFlex fxLayout="column" fxLayoutAlign="start start">    
                                                                <span class="text-truncate">{{ usr.firstname+' '+usr.lastname }}</span>
                                                                <span class="user-info">{{ usr.email }} - {{ usr.phone }}</span>
                                                            </div>
                                                    
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                                
                                            
                                    
                                </div>
                            </mat-tab>
    
                            <mat-tab label="Notificaciones"  *ngIf="loginService.validatePermissionTree('mybusiness','groupsnotification','create')" >
                                <div class="tab-content p-24" fusePerfectScrollbar>
                                        <div id="about" class="p-24" fxLayout="row" fxLayoutWrap>
                    
                                                <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                                    <div class="profile-box info-box general" fxLayout="column" *ngIf="loginService.validatePermissionTree('mybusiness','groupsnotification','create') &&  loginService.validatePermissionTree('mybusiness','groupsnotification','read')">
                                                        <header class="mat-accent-bg">
                                                            <div class="title">Configuración de Correo</div>
                                                        </header>
                                                        <div class="content">
                                            
                                    
                                                            <div class="padded-20">
                                                            
                                                                <form #formEmail="ngForm" *ngIf="current_email">
                                                                    
                                                                    
                                                                    <div fxLayout="column" fxLayout.gt-md="row">
                                                                    <mat-input-container fxFlex>
                                                                        <input matInput
                                                                            placeholder="Encabezado" type="text" name="head" [(ngModel)]="current_email.configemail.head" required>
                                                                    </mat-input-container>
                                                                    </div>       
                                                                    <div fxLayout="column" fxLayout.gt-md="row">
                                                                    <mat-input-container fxFlex>
                                                                        <textarea matInput
                                                                            placeholder="Mensaje" type="text" name="message" [(ngModel)]="current_email.configemail.message" required >
                                                                        </textarea>      
                                                                    </mat-input-container> 
                                                                    </div>
                                                                    <div fxLayout="column" fxLayout.gt-md="row">
                                                                        Opción 1:
                                                                        <mat-input-container fxFlex>
                                                                            <input matInput
                                                                                placeholder="Respuesta" type="text" name="option1" [(ngModel)]="current_email.configemail.response.option1" required >
                                                                        </mat-input-container> 
                                                                    </div>
                                                                    <div fxLayout="column" fxLayout.gt-md="row">
                                                                        Opción 2:
                                                                        <mat-input-container fxFlex>
                                                                            <input matInput
                                                                                placeholder="Respuesta" type="text" name="option2" [(ngModel)]="current_email.configemail.response.option2" required >
                                                                        </mat-input-container> 
                                                                    </div>
                                                                    <div fxLayout="column" fxLayout.gt-md="row">
                                                                        Opción 3:
                                                                        <mat-input-container fxFlex>
                                                                            <input matInput
                                                                                placeholder="Respuesta" type="text" name="option3" [(ngModel)]="current_email.configemail.response.option3" required >
                                                                        </mat-input-container> 
                                                                    </div>
                                                                    <div fxLayout="column" fxLayout.gt-md="row">
                                                                        <div fxFlex>
                                                                                <button button color="accent" (click)="_saveNotifictionEmail()"  *ngIf="loginService.validatePermissionTree('mybusiness','groupsnotification','create') &&  loginService.validatePermissionTree('mybusiness','groupsnotification','update')" mat-raised-button>
                                                                    
                                                                                Guardar
                                                                                </button>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </form>
                                                                
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                                    <div class="profile-box info-box work" fxLayout="column" *ngIf="loginService.validatePermissionTree('mybusiness','groupsnotification','create') &&  loginService.validatePermissionTree('mybusiness','groupsnotification','read')">
                                    
                                                        <header class="mat-accent-bg">
                                                            <div class="title">Configuracion de SMS</div>
                                                        </header>
                                            
                                                        <div class="content">
                                                            <div  class="padded-20" *ngIf="current_sms">
                                                                    <div fxLayout="column" fxLayout.gt-md="row">
                                                                    <mat-input-container fxFlex>
                                                                    <textarea matInput   maxlength="117" #characterCountHintExample
                                                                            placeholder="Mensaje" type="text" name="message_sms" [(ngModel)]="current_sms.configsms.message_sms" required >
                                                                    </textarea>  
                                                                    <mat-hint align="end">{{ characterCountHintExample.value.length }} / 117</mat-hint>    
                                                                    </mat-input-container> 
                                                                </div>
                                                                <div fxLayout="column" fxLayout.gt-md="row">
                                                                    Opción 1:
                                                                    <mat-input-container fxFlex>
                                                                        <input matInput
                                                                            placeholder="Respuesta" type="text" name="option_1" [(ngModel)]="current_sms.configsms.response_sms.option_1" required >
                                                                    </mat-input-container> 
                                                                </div>
                                                                <div fxLayout="column" fxLayout.gt-md="row">
                                                                    Opción 2:
                                                                    <mat-input-container fxFlex>
                                                                        <input matInput
                                                                            placeholder="Respuesta" type="text" name="option_2" [(ngModel)]="current_sms.configsms.response_sms.option_2" required >
                                                                    </mat-input-container> 
                                                                </div>
                                                                <div fxLayout="column" fxLayout.gt-md="row">
                                                                    Opción 3:
                                                                    <mat-input-container fxFlex>
                                                                        <input matInput
                                                                            placeholder="Respuesta" type="text" name="option_3" [(ngModel)]="current_sms.configsms.response_sms.option_3" required >
                                                                    </mat-input-container> 
                                                                </div>  
                                                            </div>
                                                            <div fxLayout="column" fxLayout.gt-md="row">
                                                                <div fxFlex>
                                                                        <button button color="accent" (click)="_saveNotifictionSMS()"  *ngIf="loginService.validatePermissionTree('mybusiness','groupsnotification','create') &&  loginService.validatePermissionTree('mybusiness','groupsnotification','update')"  mat-raised-button>
                                                            
                                                                        Guardar
                                                                        </button>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                    
                                                </div>
                                                <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50"  >
                                                    <div class="profile-box info-box general" fxLayout="column"  *ngIf="group && loginService.validatePermissionTree('mybusiness','groupsnotification','create') &&  loginService.validatePermissionTree('mybusiness','groupsnotification','read')">
                                    
                                                        <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                                            <div class="title">Configuración de Grabación</div>    
                                                        </header>
                                    
                                                        <div class="content">
                                                            <div fxLayout="column" fxLayout.gt-md="row">
                                                                
                                                                <input type="file" (change)="detectAudio($event)">
                                                        
                                                            </div><br>
                                                            <div fxLayout="column" fxLayout.gt-md="row">
                                                                <div fxFlex  fxLayoutAlign="start center"> 
                                                                    <button  button color="accent"  mat-raised-button 
                                                                    (click)="uploadAudio()"  *ngIf="loginService.validatePermissionTree('mybusiness','groupsnotification','create') &&  loginService.validatePermissionTree('mybusiness','groupsnotification','update')">
                                                                    Subir
                                                                    </button>
                                                                </div>       
                                                              
                                                                
                                                            </div><br>
                                                            <div class="profile-box info-box general" fxLayout="column" *ngIf="group.audio && show">
                                                                <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                                                    <div class="title">Reproducir audio</div>    
                                                                </header><br>

                                                                <div class="content">
                                                                    <div fxLayout="column" fxLayout.gt-md="row">
                                                                        <div  fxFlex  fxLayoutAlign="center">
                                                                            <audio controls>
                                                                                <source [src]="url_fileserve" type="audio/wav">
                                                                            </audio>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                       
                                                                                                                                    
                                                            </div>                       
                                                        </div>
                                                       
                                                        <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                                            <span class="mat-caption">Solo archivos WAV (codificación PCM, 16 bit, 8000Hz)</span>
                                                        </header>
                                                        
                                                    </div>
                                    
                                        
                                                </div>
                                                
                                                
                                    
                                            </div>
                                </div>
                            </mat-tab>
    
                           
    
                        </mat-tab-group>
                    </div>
    
                </div>
                <!-- / CONTENT -->
    
            </div>
            <!-- / CONTENT CARD -->
    
        </div>
        <!-- / CENTER -->
    </div>
    