<div class="dialog-content-wrapper"  fusePerfectScrollbar>
   
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ title }}</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>



        <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center" *ngIf="data.data">
            <img src="{{ server + info.img.file }}" class=" avatar contact-avatar huge"
                 [alt]="info.name+' '+info.tel"/>
            <div class="contact-name">
                <span *ngIf="info.name">{{info.name}}</span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
        
       
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar> 
        <form [formGroup]="contactForm">
            
                                                     
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput  placeholder="Nombre"  formControlName="name" [(ngModel)]="info.name" required >
                </mat-form-field>
            </div> 
            <mat-error class="error-message" *ngIf="contactForm.controls.name.invalid && contactForm.controls.name.touched ">
                Campo requerido
            </mat-error>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input  matInput maxlength="10" placeholder="Telefono" formControlName="tel" [(ngModel)]="info.tel"required>
                </mat-form-field>
            </div>
               

            <div fxLayout="row" fxLayoutAlign="start start">        
                <mat-form-field fxFlex>
                        <input matInput placeholder="Calle" formControlName="calle" [(ngModel)]="info.calle" required>
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.calle.invalid && contactForm.controls.calle.touched ">
                    Campo requerido
                </mat-error>

 
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Colonia" formControlName="colonia" [(ngModel)]="info.colonia" required>
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.colonia.invalid && contactForm.controls.colonia.touched ">
                    Campo requerido
                </mat-error>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Municipio" formControlName="municipio" [(ngModel)]="info.municipio" required>
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.municipio.invalid && contactForm.controls.municipio.touched ">
                    Campo requerido
                </mat-error>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Estado" formControlName="estado" [(ngModel)]="info.estado"  required>
                </mat-form-field>
            </div>
                <mat-error class="error-message" *ngIf="contactForm.controls.estado.invalid && contactForm.controls.estado.touched ">
                    Campo requerido
                </mat-error>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input matInput #postalCode maxlength="5" placeholder="Codigo Postal"  formControlName="codigo" [(ngModel)]="info.codigo" required>
                </mat-form-field>
            </div>
           


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex> 
                        <input matInput placeholder="Latigud" formControlName="lat" [(ngModel)]="info.lat" required>
                </mat-form-field>
            </div>
            <mat-error class="error-message" *ngIf="contactForm.controls.lat.invalid && contactForm.controls.lat.touched">
                    Este campo es requerido
            </mat-error>
            

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex> 
                        <input matInput placeholder="Longitud" formControlName="lng" [(ngModel)]="info.lng" required>
                </mat-form-field>
            </div>
            <mat-error class="error-message" *ngIf="contactForm.controls.lng.invalid && contactForm.controls.lng.touched">
                    Este campo es requerido
            </mat-error>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                        <textarea  #areaText maxlength="150" matInput placeholder="Autosize textarea" matTextareaAutosize matAutosizeMinRows="2"
                        matAutosizeMaxRows="5" formControlName="description" [(ngModel)]="info.description" required></textarea>
                        <mat-hint align="end">{{areaText.value.length}} / 150</mat-hint>
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="start start"> 
                
                <input type="file" (change)="detectAudio($event)" required>
            
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <div class="button-row">
                     
                            <button mat-raised-button (click)="dialogRef.close()">Cancelar</button>

                            <button mat-raised-button color="accent" (click)="editSite(info)" *ngIf="data.data"  [disabled]="contactForm.invalid">Actualizar</button>
                            <button mat-raised-button color="accent" (click)="crearSite(info)" *ngIf="!data.data" [disabled]="contactForm.invalid">Crear</button>
                  
                </div>
            </div>

        </form>
    </div>
</div>