<div class="toolbar-button" fxLayout="row" fxLayoutAlign="start center" (msClickOutside)="onClickOutside()" *ngIf="dc_access_requests && dc_access_requests.length>0">
  <button class="icon-button" type="button" mat-button (click)="toggleDropdown()" [class.open]="isOpen" matTooltip="Solicitudes de acceso a DC">
    <mat-icon class="icon">person_pin</mat-icon>
    <span class="badge danger">{{ dc_access_requests.length }}</span>
  </button>

  <div class="dropdown dropdown-notifications mat-elevation-z1" [class.open]="isOpen">
    <div class="card">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
          <div class="name">Solicitudes de Acceso a DC</div>
          <div class="extra">Teienes {{ dc_access_requests.length }} solicitudes por autorizar.</div>
        </div>
      </div>
      <div class="content">
        <div *ngFor="let rq of dc_access_requests">
          <div class="notification" fxLayout="row" fxLayoutAlign="start center" matRipple *ngIf="rq._business_user">
            <div class="avatar-container" fxLayout="column">
              <img class="middle avatar" src="assets/img/avatars/noavatar.png" *ngIf="!rq._business_user.avatar"/>
              <img class="middle avatar" [src]="avatarPath+rq._business_user.avatar" *ngIf="rq._business_user.avatar"/>
            </div>
            <div class="title" fxLayout="column">
              <div class="name">{{ rq._business_user.firstname }} {{ rq._business_user.lastname }} <small>{{ rq.request_date | date:'d/M/y' }}</small></div>
              <div class="time">
                <span *ngFor="let item of rq.datacenters; let isLast=last">
                  {{item.name}}{{isLast ? '' : ', '}}
                </span>
              </div>
              <div class="time">
                <span *ngFor="let item of rq.days; let isLast=last">
                  {{ getDayName(item) }}{{isLast ? '' : ', '}}
                </span>
              </div>
              <div class="time">
                  {{ rq.from }} - {{ rq.to }}
              </div>
            </div>
            <span fxFlex></span>
            <button type="button" mat-icon-button color="warn" matTooltip="Rechazar" (click)="rejectAccess(rq._id)">
              <mat-icon class="md-24" aria-label="Rechazar">not_interested</mat-icon>
            </button>
            <button type="button" mat-icon-button color="primary" matTooltip="Autorizar" (click)="authorizeAccess(rq._id)">
              <mat-icon class="md-24" aria-label="Autorizar">done</mat-icon>
            </button>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</div>