:host {
  display: block;
}

.news-marquee {
  background: #2c303b;
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-left: 50px;
      margin-right: 50px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.alert-container {
  text-align: center;
  background-color: #607d8b;
  color: #fff;
  font-weight: 400;
  padding: 20px;
}

.dashboard-container {
  padding: 1%;
  position: relative;
}

.calendar-widget{
  width: 650px;
  padding:0;
  mat-card-header{
    margin: inherit;
    height: 70px;
    background-color: #666;
    position: relative;
  //  background-image: url(../../../../assets/img/revolukion.png);
    background-repeat: no-repeat;
    background-position: center right;
    margin: 0;
    .add-button{
      position: absolute;
      right: 23px;
      bottom: -27px;
      z-index: 100;
    }
    .avatar-widget{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-top: 10px;
      margin-right: 10px;
      margin-left: 10px;
    }
    mat-card-subtitle{
      margin-top: 25px;
      font-size: 16px;
      color: #fff;
      margin-bottom: 10px;
    }
    mat-card-title{
      color: #fff;
      font-weight: 500;
    }
  }
  mat-card-content{
    .no-events-info{
      margin: 31px;
      text-align: center;
      font-weight: bold;
    }
    mat-list{
      max-height: 234px;
      overflow-y: auto;
      padding-top: 0;
      mat-list-item{
        border-bottom: solid 1px rgb(220, 220, 220);
        h3{
          color: #039be5;
          font-weight: 500;
        }
        .item-date{
          //margin-bottom: 0;
          .item-day{
            color: #039be5;
            font-size: 1.5em;
          }
          .subline{
            font-size: .7em;
          }
        }
      }
      mat-list-item:hover{
        background-color: #f9f9f9;
      }
    }
  }
  
}



.daily-events-card {
  .title-container {
    background-color: #fff;
    .item-date{
      margin-bottom: 0;
      .item-day{
        color: #ffc50f;
        font-size: 1.5em;
      }
      .subline{
        font-size: .8em;
      }
    }
  }
  .no-events-info{
    padding: 31px 0;
    text-align: center;
    font-weight: bold;
  }
  .events-container{
    max-height: 207px;
    overflow-y: auto;
    padding-top: 0;
    .table{
      tr{
        .hour{
          width: 62px;
          color: #666;
          font-weight: 400;
          font-size: 2em;
        }
        .location{
          width: 49px;
          text-align: center;
        }
        h3{
          color: #ffc50f;
          font-weight: 500;
          margin: 0;
          font-size: 1.2em;
        }
        .item-subtitle {
          margin: 0;
        }
        .status{
          width: 75px;
          text-align: right;
        }
      }
    }
  }
}

.contenedor {
  
  text-align:justify;
  padding:35px;
  

}

.imagen {
  width:155px;
  height:155px;
  margin-right:10px;
  margin-left:0px;
    float:left;
}

.button{
  position: absolute;
  bottom: 12px; right: 12px;
  
}

.invite-button {
  background: linear-gradient(0deg, #f5c122, #ffd659);
 // border-radius: 38px;
  width: 100%;
  padding: 5px;
  border: solid 0.5px #ffffffbf;
  text-shadow: 0.5px 0.5px 0px #bb9116;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  img {
    border-radius: 50%;
    background: rgba(255,255,255,.4);
    padding: 5px;
    margin-right: 10px;
  }
}

