<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center"></div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">      

      <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

          <!-- REACTIVE FORM EXAMPLE -->

          <div class=" mr-20 mb-24" fxLayout="column" fxLayoutAlign="start"
                fxFlex >
            <mat-card class="calendar-widget margin-bottom" *ngIf="loginService.hasPermission('access-event-read')">
              <mat-card-header>
                <img mat-card-avatar="" class="avatar-widget mat-elevation-z2" [src]="loginService.identity.avatar" *ngIf="loginService.identity.avatar && !loginService.identity.business"/>
                <img mat-card-avatar="" class="avatar-widget mat-elevation-z2" [src]="avatarPath+loginService.identity.avatar" *ngIf="loginService.identity.avatar && loginService.identity.business"/>
                <img mat-card-avatar="" class="avatar-widget mat-elevation-z2" src="assets/images/avatars/profile.jpg" *ngIf="!loginService.identity.avatar"/>
                <mat-card-subtitle>
                  {{loginService.identity.firstname}} {{loginService.identity.lastname}}
                </mat-card-subtitle>
                <button mat-fab color="accent" class="add-button" matTooltip="Registrar Visita" (click)="router.navigate(['access/solicitud'])" *ngIf="loginService.hasPermission('access-event-create')">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-card-header>
              <mat-card-content>
                <mat-tab-group [selectedIndex]="3">
    
                  <mat-tab label="Mis Próximas Visitas">  
                    <div class="no-events-info" *ngIf="!nexts_events || !nexts_events.length">
                      No hay eventos registrados.
                    </div>
                    <mat-list *ngIf="nexts_events">
                      <mat-list-item *ngFor="let event of nexts_events" class="pointer" (click)="router.navigate(['/access/solicitud/'+event._id])">
                        <img mat-list-avatar [src]="event._user_authorize.avatar" *ngIf="event._user_authorize && event._user_authorize.avatar">
                        <img mat-list-avatar src="assets/images/avatars/profile.jpg" *ngIf="!event._user_authorize || !event._user_authorize.avatar">
                        <h3 mat-line>{{event.name_event}}</h3>
                        <p mat-line>
                          <span class="badge primary" *ngIf="event.type=='oficina'">Oficina</span>
                          <span class="badge warning" *ngIf="event.type=='datacenter'">DC</span>
                          {{event.sede}} - {{event.sala}}
                        </p>
                        <p mat-line class="subline" *ngIf="event._user_authorize">{{event._user_authorize.firstname}} {{event._user_authorize.lastname}}</p>
                        <p mat-line class="subline" *ngIf="!event._user_authorize">Pendiente de Autorización</p>
                        <p class="item-date">
                          <span class="">{{ event.start_date.format('D') }}-{{ event.start_date.format('MMM') }}</span>
                          <span mat-line class="subline">{{ event.start_date.format('HH:mm') }} - {{ event.end_date.format('HH:mm') }}</span>
                        </p>
                      </mat-list-item>
                    </mat-list>
                  </mat-tab>
    
                </mat-tab-group>
              </mat-card-content>
              <!-- <ms-loading-overlay [isLoading]="!nexts_events"></ms-loading-overlay> -->
            </mat-card>
          </div>

          

          

       
            <!-- / REACTIVE FORM EXAMPLE -->

           

           
    

      </div>

      

    
      <div fxFlex="30" fxFlex.sm="100%" *ngIf="loginService.hasPermission('access-users-create') || loginService.hasPermission('access-id-print') || loginService.validatePermissionTree('access','userregistration') || loginService.validatePermissionTree('access','deviceregistration') || loginService.validatePermissionTree('access','dcregistration')">
        <div class=" mr-20 mb-24">
          <mat-card fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap" fxLayoutGap="10px" style="margin-bottom:10px;" *ngIf="loginService.hasPermission('access-id-print')" [style.background]="'linear-gradient(60deg, #f3f3f3, #bfbfbf)'" style="cursor:pointer;" (click)="router.navigate(['/access/register/id'])">  
            <div  [style.color]="'#333333'" fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column">
                <img src="assets/images/icons/id-card-black.png" width="64">
              </div>
              <span fxFlex></span>
              <div fxLayout="column">
                <strong>Imprimir<br/>Identificador</strong>
              </div>
              <span fxFlex></span>
            </div>        
          </mat-card>
         

          
          <!-- 
         
          
          
        -->
        </div>
        <div class=" mr-20 mb-24">
          <mat-card fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap" fxLayoutGap="10px" style="margin-bottom:10px;" [style.background]="'linear-gradient(60deg, #4e4d4d, #000000)'" style="cursor:pointer;" (click)="router.navigate(['/access/register/user'])" *ngIf="loginService.validatePermissionTree('access','userregistration')">
              
            <div  [style.color]="'#FFFFFF'" fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column">
                <img src="assets/images/icons/qr-code.png" width="64">
              </div>
              <span fxFlex></span>
              <div fxLayout="column">
                <span *ngIf="loginService.hasPermission('access-userregistration-entry') && loginService.hasPermission('access-userregistration-exit')">Registrar visita<br/>(entrada o salida)</span>
                <span *ngIf="loginService.hasPermission('access-userregistration-entry') && !loginService.hasPermission('access-userregistration-exit')">Registrar visita<br/>(entrada)</span>
                <span *ngIf="loginService.hasPermission('access-userregistration-exit') && !loginService.hasPermission('access-userregistration-entry')">Registrar visita<br/>(salida)</span>
              </div>
              <span fxFlex></span>
            </div>

          </mat-card>
        </div>
        <div class=" mr-20 mb-24">
          <mat-card fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap" fxLayoutGap="10px" style="margin-bottom:10px;" [style.background]="'linear-gradient(60deg, #607d8b, #264e61)'" fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.gt-md style="cursor:pointer" (click)="router.navigate(['/access/register/laptop'])" *ngIf="loginService.validatePermissionTree('access','deviceregistration')">
            <div  [style.color]="'#FFFFFF'" fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column">
                <img src="assets/images/icons/laptop.png" width="64">
              </div>
              <span fxFlex></span>
              <div fxLayout="column">
                <span *ngIf="loginService.hasPermission('access-deviceregistration-entry') && loginService.hasPermission('access-deviceregistration-exit')">Registrar laptop<br/>(entrada o salida)</span>
                <span *ngIf="loginService.hasPermission('access-deviceregistration-entry') && !loginService.hasPermission('access-deviceregistration-exit')">Registrar laptop<br/>(entrada)</span>
                <span *ngIf="loginService.hasPermission('access-deviceregistration-exit') && !loginService.hasPermission('access-deviceregistration-entry')">Registrar laptop<br/>(salida)</span>
              </div>
              <span fxFlex></span>
            </div>
          </mat-card> 
        </div>
        <div class=" mr-20 mb-24">
          <mat-card [style.background]="'linear-gradient(60deg, #3d8e74, #275d4b)'" fxFlex style="cursor:pointer" (click)="router.navigate(['/access/register/device'])" *ngIf="loginService.validatePermissionTree('access','dcregistration')">
            <div  >
              <div  [style.color]="'#FFFFFF'" fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                  <img src="assets/images/icons/server.png" width="64">
                </div>
                <span fxFlex></span>
                <div fxLayout="column">
                  <span  *ngIf="loginService.hasPermission('access-dcregistration-entry') && loginService.hasPermission('access-dcregistration-exit')">Registrar dispositivo DataCenter<br/>(entrada o salida)</span>
                  <span  *ngIf="loginService.hasPermission('access-dcregistration-entry') && !loginService.hasPermission('access-dcregistration-exit')">Registrar dispositivo DataCenter<br/>(entrada)</span>
                  <span  *ngIf="loginService.hasPermission('access-dcregistration-exit') && !loginService.hasPermission('access-dcregistration-entry')">Registrar dispositivo DataCenter<br/>(entrada)</span>
                </div>
                <span fxFlex></span>
              </div>
            </div>
  
          </mat-card>
        </div>
        <div>
              
         

        </div>
       

      </div>

         


  </div>
  <!-- / CONTENT -->

</div>


