:host {

    .content {

        form {
            width: 100%;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}
.title-ingreso{
    margin: 20px;
    line-height:25px;
}
.example-section{
margin-top: 10px;
}
.example-margin {
    margin: 0 10px;
}

