<mat-tab-group class="tab-group">
  <mat-tab label="Catálogos">
      <div class="page-layout " fusePerfectScrollbar *ngIf="loginService.validatePermissionTree('users') && loginService.validatePermissionTree('settings','catalogs','read')">
        <fuse-catalog></fuse-catalog>
      </div>
  </mat-tab>
  <mat-tab label="KPI">
      <div class="page-layout " fusePerfectScrollbar *ngIf="loginService.validatePermissionTree('users') && loginService.validatePermissionTree('settings','catalogs','read')">
        <fuse-kpi></fuse-kpi>
      </div>
  </mat-tab>
</mat-tab-group>

