<div fxLayout="row"   style="margin: 0px 0; width:100%; height:100%;" *ngIf="evento">
  <mat-card fxFlex="100%">
    <mat-card-title><h4>Registar Visita</h4></mat-card-title>

    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0" style="height:100%">
      <div fxFlex fxFlex.gt-md="40%" style="margin-right: 24px;">
          <mat-card-title><h4>Detalles</h4></mat-card-title>
          <mat-divider></mat-divider>
          <form #userForm="ngForm">
            <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>
                <input matInput placeholder="P.ej.,Reunión en SDR"  name="name_event" required [(ngModel)]="evento.name_event"  [ngModelOptions]="{standalone: true}">
                <span matPrefix><mat-icon>domain</mat-icon></span>
              </mat-input-container>	
            </div>																																																	
            <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>
                <input matInput placeholder="Fecha de Evento" name="start" ngui-datetime-picker [close-on-select]="false" required [(ngModel)]="evento.start"  [ngModelOptions]="{standalone: true}">	
                <span maPrefix><mat-icon>event_available</mat-icon></span>
              </mat-input-container>	
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>
                <input matInput placeholder="Fin del Evento" name="end" ngui-datetime-picker [close-on-select]="false" required [(ngModel)]="evento.end"  [ngModelOptions]="{standalone: true}">	
                <span matPrefix><mat-icon>event_busy</mat-icon></span>
              </mat-input-container>	
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>
                <input matInput
                      placeholder="Address" [(ngModel)]="evento.sede"  [ngModelOptions]="{standalone: true}">
                <span matPrefix><mat-icon>place</mat-icon></span>
              </mat-input-container>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>
                <input matInput
                      placeholder="Descripción"
                      maxlength="100"
                      #characterCountHintExample [(ngModel)]="evento.descripcion"  [ngModelOptions]="{standalone: true}"/>
                <mat-hint align="end">{{ characterCountHintExample.value.length }} / 100</mat-hint>
                <span matPrefix><mat-icon>description</mat-icon></span>
              </mat-input-container>
            </div>
          </form>
      </div>
      <div fxFlex fxFlex.gt-md="60%" style="margin-right: 24px;">
        <form #userForm="ngForm">
          <mat-card-content>
          <mat-tab-group>
          <mat-tab label="Personal de SDR">
            <h4>Invitar</h4>
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayout.gt-md="row" *ngFor="let current of evento.users_invitations">
              <mat-input-container fxFlex>																							
                <input matInput type="text" placeholder="Email" autocomplete="off" [(ngModel)]="current._user" [ngModelOptions]="{standalone: true}"/>
                <span matPrefix><mat-icon>email</mat-icon></span>
              </mat-input-container>
               <button mat-icon-button matTooltip="Borrar elemento">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>												
            </div>
             <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>																							
                <input matInput type="text" ngui-auto-complete 
                placeholder="Email"
                [source]="current_email" 
                no-match-found-text="No Match Found"
                list-formatter="formatted_address"
                [(ngModel)]="newSDR.users_invitations._user"	
                path-to-data="results"
                loading-text="Email Is Thinking..."
                [loading-template]="loadingTemplate"
                [ngModelOptions]="{standalone: true}"
                max-num-list="5"
                min-chars="2"/>
                <span matPrefix><mat-icon>email</mat-icon></span>
              </mat-input-container>				
               <button mat-icon-button matTooltip="Agregar elemento" (click)="addInvitation(newSDR.users_invitations)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>							
            </div>
          </mat-tab>
          <mat-tab label="Clientes">
              <h4>Invitar</h4>
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayout.gt-md="row" *ngFor="let current of evento.business_users_invitations">
              <mat-input-container fxFlex>																							
                <input matInput type="text" placeholder="Email" autocomplete="off" [(ngModel)]="current._business_user"	[ngModelOptions]="{standalone: true}" />
                <span maPrefix><mat-icon>email</mat-icon></span>
              </mat-input-container>	
              <button mat-icon-button matTooltip="Agregar elemento">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>												
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>																							
                <input matInput type="text" ngui-auto-complete 
                placeholder="Email"
                [(ngModel)]="newBusiness.business_users_invitations._business_user"	
                [source]="current_email2" 
                no-match-found-text="No Match Found"
                list-formatter="formatted_address"
                path-to-data="results"
                loading-text="Email Is Thinking..."
                [loading-template]="loadingTemplate"
                [ngModelOptions]="{standalone: true}"
                max-num-list="5"
                min-chars="2"/>
                <span matPrefix><mat-icon>email</mat-icon></span>
              </mat-input-container>
              <button mat-icon-button matTooltip="Agregar elemento" (click)="addInvitation(newBusiness.business_users_invitations)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>													
            </div>
          </mat-tab>
          <mat-tab label="Personal Externo">
             <h4>Invitar</h4>
            <mat-divider></mat-divider>

            <div fxLayout="column" fxLayout.gt-md="row" *ngFor="let current of evento.external_invitations">
              <mat-input-container fxFlex>
                <input matInput placeholder="Nombre" name="name" [(ngModel)]="current.name" autocomplete="off">	
                <span matPrefix><mat-icon>person</mat-icon></span>
              </mat-input-container>	
              <mat-input-container fxFlex>
                <input matInput placeholder="Email" name="email"  [(ngModel)]="current.email" autocomplete="off">	
                <span matPrefix><mat-icon>email</mat-icon></span>
              </mat-input-container>	
              <mat-input-container fxFlex>
                <input matInput placeholder="Telefono" name="cel" [(ngModel)]="current.cel"  autocomplete="off">	
                <span matPrefix><mat-icon>phone_iphone</mat-icon></span>
              </mat-input-container>	
              <mat-input-container fxFlex>
                <input matInput placeholder="Compañia" name="company"  [(ngModel)]="current.company" autocomplete="off">	
                <span matPrefix><mat-icon>location_city</mat-icon></span>
              </mat-input-container>
               <button mat-icon-button matTooltip="Borrar elemento">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>		
            </div>

            <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>
                <input matInput placeholder="Nombre" name="name" autocomplete="off" [(ngModel)]="newExternal.external_invitations.name">	
                <span matPrefix><mat-icon>person</mat-icon></span>
              </mat-input-container>	
              <mat-input-container fxFlex>
                <input matInput placeholder="Email" name="email"  autocomplete="off" [(ngModel)]="newExternal.external_invitations.email">	
                <span matPrefix><mat-icon>email</mat-icon></span>
              </mat-input-container>	
              <mat-input-container fxFlex>
                <input matInput placeholder="Telefono" name="cel" autocomplete="off" [(ngModel)]="newExternal.external_invitations.cel" >	
                <span maPrefix><mat-icon>phone_iphone</mat-icon></span>
              </mat-input-container>	
              <mat-input-container fxFlex>
                <input matInput placeholder="Compañia" name="company" autocomplete="off" [(ngModel)]="newExternal.external_invitations.company" >	
                <span matPrefix><mat-icon>location_city</mat-icon></span>
              </mat-input-container>
              <button mat-icon-button matTooltip="Agregar elemento" (click)="addInvitation(newExternal.external_invitations)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
            
          </mat-tab>
          </mat-tab-group>
          </mat-card-content>
        </form>
        <div fxLayout="column" fxLayout.gt-md="row">
          <div fxFlex class="text-right">
            <button mat-raised-button mat-button (click)="route.navigate(['/admin/calendar'])">Cancelar</button>
            <button mat-raised-button mat-button color="accent" (click)="saveEvent()" (click)="route.navigate(['/admin/calendar'])">Actualizar Visita</button>
          </div>
        </div>
      </div>    
    </div>
     
  </mat-card>
</div>