<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

   
        <div *ngIf="loginService.identity.business && loginService.identity._id">
            <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                  fxLayoutAlign.gt-sm="start center">   
                  <div *ngIf="!loginService.identity.avatar" >
                      <img class="profile-image avatar huge" src="assets/images/avatars/profile.jpg"  *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"/>
                  </div>
                  <div *ngIf="loginService.identity.avatar && loginService.identity.business">
                      <img class="profile-image avatar huge" [src]="avatarPath+loginService.identity.avatar"  *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"/>
                  </div>               
                  <div class="name" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{ loginService.identity.firstname }} {{ loginService.identity.lastname }}
                </div>
            </div>
        </div>

        <div *ngIf="!loginService.identity.business && loginService.identity._id" style="margin-top:50px; margin-bottom:20px;">
          <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start center">   
            <div *ngIf="!loginService.identity.avatar" >
                <img class="profile-image avatar huge" src="assets/images/avatars/profile.jpg"  *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"/>
            </div>
            <div *ngIf="loginService.identity.avatar" >
                <img class="profile-image avatar huge" [src]="loginService.identity.avatar"  *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"/>
            </div>               
            <div class="name" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{ loginService.identity.firstname }} {{ loginService.identity.lastname }}
            </div>
          </div>
        </div>


    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div id="about" class="p-24" fxLayout="row" fxLayoutWrap>

            <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">
                <div class="profile-box info-box general" fxLayout="column">
                    <header class="mat-accent-bg">
                        <div class="title">Información General</div>
                    </header>
                    <div class="content">
                        <div class="info-line">
                            <div class="title">Nombre</div>
                            <div class="info">{{loginService.identity.firstname}} {{loginService.identity.lastname}}</div>
                        </div>
        
                        <div class="info-line">
                            <div class="title">Email</div>
                            <div class="info">{{loginService.identity.email}}</div>
                        </div>
        

                        <div class="padded-20" *ngIf="loginService.identity.business && loginService.identity._id">
                            <h3 class="text-center">¿Deseas cambiar tu password?</h3>
                              <form #formPassword="ngForm">
                                <div fxLayout="column" fxLayout.gt-md="row">
                                  <mat-input-container fxFlex>
                                    <input matInput
                                          placeholder="Password Actual" type="password" name="current_password" [(ngModel)]="current_password" required>
                                  </mat-input-container>  
                                </div>
                                <div fxLayout="column" fxLayout.gt-md="row">
                                  <mat-input-container fxFlex>
                                    <input matInput
                                          placeholder="Nuevo Password (Al menos 8 caracteres)" type="password" name="new_password" [(ngModel)]="new_password" required>
                                  </mat-input-container>
                                </div>       
                                <div fxLayout="column" fxLayout.gt-md="row">
                                  <mat-input-container fxFlex>
                                    <input matInput
                                          placeholder="Confirmar Password" type="password" name="confirm_password" [(ngModel)]="confirm_password" required >
                                  </mat-input-container> 
                                </div>
                  
                                <div fxLayout="column" fxLayout.gt-md="row">
                                  <div fxFlex class="text-right">
                                    <button color="accent"  mat-raised-button [disabled]="!formPassword.form.valid || new_password != confirm_password || !new_password || new_password.length < 8 || !current_password" (click)="UpdatePassword()">Cambiar Password</button>
                                  </div>
                                </div>
                  
                              </form>
                        </div>

                    </div>
                </div>
                <div class="profile-box info-box work" fxLayout="column" *ngIf="loginService.identity.business && loginService.identity._id">

                    <header class="mat-accent-bg">
                        <div class="title">Mis Dispositivos</div>
                    </header>
        
                    <div class="content">
                            <div fxLayout="column" fxLayout.gt-md="row" id="equipos" class="padded-20">
                                <div fxFlex>
                                    <table class="settings-table">
                                    <thead>
                                    <tr>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Serie</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let equip of user.devices">
                                        <td>{{equip.brand}}</td>
                                        <td>{{equip.model}} </td>
                                        <td>{{equip.series}}</td>
                                        <td width="48">
                                        <button mat-icon-button matTooltip="Borrar" (click)="deleteDevices(equip._id)">
                                            <mat-icon>remove_circle_outline</mat-icon>
                                        </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                        <th>
                                            <mat-input-container>
                                            <input matInput placeholder="Marca" name="brand" type="text" [(ngModel)]="brand">
                                            </mat-input-container><br>
                                        </th>
                                        <th>
                                            <mat-input-container>
                                            <input matInput placeholder="Modelo" name="model" type="text" [(ngModel)]="model">
                                            </mat-input-container><br>
                                        </th>
                                        <th>
                                            <mat-input-container>
                                            <input matInput placeholder="Serie" name="series" type="text" [(ngModel)]="series">
                                            </mat-input-container><br>
                                        </th>
                                        <th>
                                            <button mat-icon-button matTooltip="Agregar" (click)="addDevices()">
                                            <mat-icon>add_circle_outline</mat-icon>
                                            </button>
                                        </th>
                                        </tr>
                                    </tfoot>
                                    </table>
                                
                                </div>
                                </div>
              
                        
                    </div>
                </div>

            </div>
            <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35" *ngIf="loginService.identity.business && loginService.identity._id">
                <div class="profile-box info-box general" fxLayout="column">

                    <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="title">Empresa</div>
                        <div class="more secondary-text">
                            <span>Detalles ...</span>
                        </div>
                    </header>

                    <div class="content">
                        <div class="info-line">
                            <div class="title">Nombre</div>
                            <div class="info">{{loginService.identity.business.name}}</div>
                        </div>

                        <div class="info-line">
                            <div class="title">Acronimo</div>
                            <div class="info">{{loginService.identity.business.acronimo}}</div>
                        </div>

                        <div class="info-line">
                            <div class="title">Telefono</div>
                            <div class="info">{{loginService.identity.business.tel}}</div>
                        </div>

                        <div class="info-line">
                            <div class="title">Dirección</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center"
                                >
                                <div class="info">
                                <span>{{loginService.identity.business.calle}}, </span>
                                <span>{{loginService.identity.business.colonia}}, </span>
                                <span>{{loginService.identity.business.municipio}}, </span>
                                <span>{{loginService.identity.business.estado}}</span></div>
                                <mat-icon class="s-16 ml-4">location_on</mat-icon>
                            </div>
                        </div>

                        <div class="info-line">
                            <div class="title">Código Postal</div>
                            <div class="info">{{loginService.identity.business.cp}}</div>
                        </div>
                    </div>

                </div>

    
            </div>
            
            

        </div>
    </div>
    <!-- / CONTENT -->

</div>




