@import "src/app/core/scss/fuse";
.sidenav{
  width: 20%;
}
.tab-group{
  width: 80%;
}
.mat-tab-group{
  width: 100%; 
}
.page-layout{
  width: 100%;
  height: 100%;
  position: relative;
}
.active {
    background: mat-color($accent);
    mat-list-item {
      color: #fff;
    }
  }

  .field__id{
    display: none;
  }
  tfoot{
    background-color: #c5c6cb;
  }
  

  @import "src/app/core/scss/fuse";

#profile {

    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}

#about {
    max-width: 1200px;

    .about-content {

        .general {

            .location {

                mat-icon {
                    line-height: 13px !important;
                }
            }
        }

        .work {

            .job {

                .company {
                    padding: 0 16px 0 0;
                    font-weight: 500;
                }

                .date {
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
    }

    .about-sidebar {
        padding-left: 32px;

        @include media-breakpoint('sm') {
            padding: 8px
        }

        .friends {

            .content {

                .friend {
                    padding: 4px;
                }
            }
        }

        .groups {

            .content {

                .group {
                    margin-bottom: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .logo {
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        margin-right: 16px;
                    }

                    .name {
                        font-weight: 500;
                        font-size: 15px;
                    }

                    .category,
                    .members {
                        color: rgba(0, 0, 0, 0.54);
                    }

                    .members {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}

// Profile boxes
.profile-box {
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
        padding: 16px;

        .title {
            font-size: 17px;
        }

        .more {
            cursor: pointer;
        }
    }

    .content {
        padding: 16px;
        background-color: #FFF;
    }

    footer {
        padding: 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        background-color: rgba(0, 0, 0, 0.06);
    }

    &.info-box {

        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 500;
                padding-bottom: 4px;
            }

            .info {

            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
}

.tabs{
    background-color: #03a9f4;

}

md-tab-group {
    background-color: #03a9f4;
  }

mat-tab-labels{
    background-color: #03a9f4;
}

.kpi-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.kpi-input{
  width: 100%;
}

table {
    width: 100%;
}