@import "src/app/core/scss/fuse";

#add-contact-button {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
  mat-icon {
    color: #FFFFFF;
  }
}


  #contacts-sidenav {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      height: 100%;

      .sidenav-content {
          display: flex;
          flex-direction: column;
          padding: 0;

          @include media-breakpoint(gt-sm) {
              padding: 24px 4px 24px 24px;
          }

          .card {
              display: flex;
              flex-direction: column;
              flex: 0 1 auto;
              padding: 0;

              @include media-breakpoint(gt-sm) {
                  @include mat-elevation(4);
              }

              > .header {
                  flex: 0 1 auto;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
              }

              > .content {
                  flex: 0 1 auto;
              }
          }

      }
  }

  #contact-list {
    
      flex: 1;
  
      .mat-table {
          background: transparent;
          box-shadow: none;
  
          .mat-column-checkbox {
              flex: 0 1 48px;
  
              .mat-checkbox-ripple {
                  display: none !important; //fix for broken rendering
              }
          }
  
          .mat-column-avatar {
              flex: 0 1 64px;
          }
  
          .mat-column-buttons {
              flex: 0 1 80px;
          }
  
          .mat-row {
              position: relative;
              cursor: pointer;
              padding: 8px 8px 8px 24px;
  
              .mat-cell {
                  min-width: 0;
  
                  &.mat-column-detail-button {
                      flex: 0 1 auto;
                      padding: 0 24px 0 0;
                      @include media-breakpoint('gt-md') {
                          display: none;
                      }
                  }
              }
          }
      }
  }


  .content {
      overflow: hidden;
  }
