<div class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header white-fg p-24" fxLayout="column" fxLayoutAlign="start start"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
    
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">business_center</mat-icon>
                    <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Clientes SDR</span>
                </div>
    
            </div>
            <!-- / APP TITLE -->
    
            <!-- SEARCH -->
            <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon>search</mat-icon>
                </label>
                <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
                    <input matInput name="" [formControl]="searchInput" id="search" placeholder="Buscar una empresa">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
        </div>
        
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content" fusePerfectScrollbar>

                <div class="mat-white-bg" fxFlex>
                    
                    <div id="contact-list">
                        <div class="example-container">
                            <mat-table #table [dataSource]="dataSource"
                                    [@animateStagger]="{value:'50'}"
                                    matSort
                                    >
                                <!-- Checkbox Column
                                <ng-container cdkColumnDef="checkbox">
                                    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)"
                                                    (click)="$event.stopPropagation()">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                -->

                                <!-- Avatar Column -->
                                <ng-container cdkColumnDef="acronimo">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Acrónimo</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        {{ contact.acronimo }}
                                    </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container cdkColumnDef="name">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <p class="text-truncate font-weight-600">{{contact.name}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Email Column -->
                                <ng-container cdkColumnDef="tel">
                                    <mat-header-cell *cdkHeaderCellDef>Tel</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <p class="email text-truncate">
                                            {{contact.tel}}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Company Column -->
                                <ng-container cdkColumnDef="created">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Creado</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <p class="company text-truncate">
                                            {{contact.created_at | date:'d MMM yyyy'}}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *cdkRowDef="let contact; columns: displayedColumns;"
                                        class="contact"
                                        (click)="router.navigate(['business/details/'+contact._id])"
                                        matRipple
                                        [@animate]="{value:'*',params:{y:'100%'}}">
                                </mat-row>
                            </mat-table>
                            <mat-paginator #paginator
                                        [length]="dataSource.filteredData.length"
                                        [pageIndex]="0"
                                        [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                    <!-- ADD CONTACT BUTTON -->
                    <button mat-fab class="mat-accent-bg" id="add-contact-button" (click)="newBusiness()" aria-label="add contact"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" *ngIf="loginService.hasPermission(['business-business-create'])">
                        <mat-icon>add</mat-icon>
                    </button>
                    <!-- / ADD CONTACT BUTTON -->
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
