<!-- BOARDS -->
<div id="boards" class="mat-primary-400-bg" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>

    <div class="header pt-44 pt-mat-88" fxFlex="0 0 auto" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1>Ubicaciones</h1>
    </div>
  
    <!-- BOARD LIST -->
    <div class="board-list" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap
         *fuseIfOnDom [@animateStagger]="{value:'50'}">
  
        <!-- BOARD -->
        <div class="board-list-item"  *ngFor="let cat of current_catalog"
             fxLayout="column" fxLayoutAlign="center center"
             [@animate]="{value:'*',params:{y:'100%'}}" (click)="router.navigate(['kiosko/catalogo/'+cat._id])" >
            <mat-icon class="s-64">{{ cat.icon }}</mat-icon>
            <div class="board-name">{{ cat.name }}</div>
        </div>
        <!-- / BOARD -->
    
    </div>
    <!-- / BOARD LIST -->
  </div>
  <!-- / BOARDS -->
  