@import "src/app/core/scss/fuse";
:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;

    > .header {
        flex: 0 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}
#fav{
    &.star {
        &:before {
            content: 'folder';
            color: #FFB300;
        }
    }
}
.mat-header-row {
    position: sticky;
    top: 0;
    background: white;
  }

.filter{
    color: #fff;
    background-color: transparent;    
}
.filter::placeholder {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
#file-manager {

    mat-sidenav-container {

        .sidenav {
            width: 320px !important;
            min-width: 320px !important;
            max-width: 320px !important;

            &.left-sidenav {
            }

            &.right-sidenav {
                @include media-breakpoint('gt-md') {
                    z-index: 0;
                }
            }
        }

        > .mat-sidenav-content,
        > .mat-drawer-content {
            z-index: 1;

            .center {

                .header {
                    position: relative;
                    height: 160px;
                    min-height: 160px;
                    max-height: 160px;

                    @include media-breakpoint-down('sm') {
                        height: 120px;
                        min-height: 120px;
                        max-height: 120px;
                    }

                    .add-file-button {
                        position: absolute;
                        bottom: -28px;
                        left: 16px;
                        z-index: 999;
                    }
                }

                .content {
                }
            }
        }
    }

    .type-icon {

        &.folder {
            &:before {
                content: 'folder';
                color: #FFB300;
            }
        }
        

        &.document {
            &:before {
                content: 'picture_as_pdf';
                color: rgb(238, 9, 9);
            }
        }

        &.image {
            &:before {
                content: 'image';
                color: #4CAF50;
            }
        }
    }
}
:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;

    > .header {
        flex: 0 1 auto;
        height: 160px;
        min-height: 160px;
        max-height: 160px;
    }

    > .content {
        flex: 1;

        .file-details {

            .preview {
                height: 240px;
            }

            .offline-switch {
                padding-bottom: 16px;
                font-weight: 500;
            }

            .title {
                padding: 16px 0;
            }

            table {
                width: 100%;
                text-align: left;

                tr {

                    th, td {
                        padding: 16px 0;
                    }

                    th {

                    }

                    td {

                    }

                    &.type {
                        text-transform: capitalize;
                    }

                    &.size {
                    }

                    &.location {
                    }

                    &.owner {
                        text-transform: capitalize;
                    }

                    &.opened {
                    }

                    &.created {
                    }
                }
            }
        }
    }
}
@import "src/app/core/scss/fuse";

:host {
    width: 100%;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }
}
.create-dirs{
    margin-top: 10px;
}
