<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="avatarPath+contact.avatar" class=" avatar contact-avatar huge"
                 [alt]="contact.firstname+' '+contact.lastname" *ngIf="contact.avatar"/>
            <img src="assets/images/avatars/profile.jpg" class=" avatar contact-avatar huge"
                 [alt]="contact.firstname+' '+contact.lastname" *ngIf="!contact.avatar"/>
            <div class="contact-name">
                <span *ngIf="contact.firstname">{{contact.firstname}}</span>
                <span *ngIf="contact.lastname">{{' '+contact.lastname}}</span>
                <span *ngIf="!contact.firstname && !contact.lastname">Usuario</span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">account_circle</mat-icon>
                <mat-form-field fxFlex>
                    <input name="firstname" formControlName="firstname" placeholder="Nombre" autocomplete="off" matInput required [(ngModel)]="contact.firstname">
                </mat-form-field>
            </div>
            

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <input name="lastname" formControlName="lastname" placeholder="Apellidos" autocomplete="off" matInput required [(ngModel)]="contact.lastname">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">email</mat-icon>
                <mat-form-field fxFlex>
                    <input name="email" formControlName="email" matInput type="email" autocomplete="off" placeholder="Email" required [(ngModel)]="contact.email">
                </mat-form-field>
            </div>
            

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">phone_iphone</mat-icon>
                <mat-form-field fxFlex>
                    <input name="phone" formControlName="phone" matInput autocomplete="off" placeholder="Celular" [(ngModel)]="contact.phone">
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12">note</mat-icon>
                <mat-form-field fxFlex>
                    <mat-select placeholder="Rol de Usuario" name="role" formControlName="role" required [(ngModel)]="contact.role">
                        <mat-option *ngFor="let rol of roles" value="{{rol._id}}">{{rol.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-checkbox formControlName="externo" [(ngModel)]="contact.externo">Usuario externo</mat-checkbox>
            </div>
            
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                mat-raised-button
                (click)="dialogRef.close(contact)"
                class="save-button mat-accent"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            GUARDAR
        </button>

        <button *ngIf="action ==='edit'"
                mat-raised-button
                (click)="dialogRef.close(['save',contact])"
                class="save-button mat-accent"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            ACTUALIZAR
        </button>
        <div fxFlex></div>
        <button *ngIf="action ==='edit' && loginService.validatePermissionTree('users','users','update')"
                mat-button
                class="mat-icon-button"
                (click)="restorePassword(contact)"
                aria-label="pass-restore"
                matTooltip="Reestrablecer Password">
            <mat-icon>vpn_key</mat-icon>
        </button>
        <button *ngIf="action ==='edit' && loginService.validatePermissionTree('users','users','delete')"
                mat-button
                class="mat-icon-button"
                (click)="tryDeleteUser(contact)"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
</div>
