<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form >

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input name="name"  placeholder="Nombre" autocomplete="off" matInput required [(ngModel)]="contact.name">
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input name="description"  placeholder="Descripcion" autocomplete="off" matInput required [(ngModel)]="contact.description">
                </mat-form-field>
            </div>


            <table class="settings-table">
                    <thead>
                    <tr>
                        <th><mat-icon matTooltip="sms">sms</mat-icon></th>
                        <th><mat-icon matTooltip="Conferencia">call</mat-icon></th>
                        <th><mat-icon matTooltip="Grabación">settings_voice</mat-icon></th>
                        <th><mat-icon matTooltip="E-mail">email</mat-icon></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="action != 'edit'">
                        <td><mat-checkbox class="example-margin" name="sms" [(ngModel)]="contact.notifications.sms" ></mat-checkbox></td>
                        <td><mat-checkbox class="example-margin" name="call"(click)="valideVoz()" [(ngModel)]="contact.notifications.call"></mat-checkbox></td>
                        <td><mat-checkbox class="example-margin" name="recording" (click)="valideVoz2()" [(ngModel)]="contact.notifications.recording"></mat-checkbox></td>
                        <td><mat-checkbox class="example-margin" name="email" [(ngModel)]="contact.notifications.email"></mat-checkbox></td>
                    </tr>
                    <tr *ngIf="action === 'edit'">
                        <td><mat-checkbox class="example-margin" name="sms" [(ngModel)]="contact.notifications.sms" ></mat-checkbox></td>
                        <td><mat-checkbox class="example-margin" (click)="valideVoz()" name="call" [(ngModel)]="contact.notifications.call"></mat-checkbox></td>
                        <td><mat-checkbox class="example-margin" (click)="valideVoz2()" name="recording" [(ngModel)]="contact.notifications.recording"></mat-checkbox></td>
                        <td><mat-checkbox class="example-margin" name="email" [(ngModel)]="contact.notifications.email"></mat-checkbox></td>
                    </tr>
                    </tbody>
                    </table>




            
          

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                mat-raised-button
                (click)="dialogRef.close(contact)"
                class="save-button mat-accent"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            GUARDAR
        </button>

        <button *ngIf="action ==='edit'"
                mat-raised-button
                (click)="dialogRef.close(['save',contact])"
                class="save-button mat-accent"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            ACTUALIZAR
        </button>

        <button *ngIf="action ==='edit'"
                mat-button
                class="mat-icon-button"
                (click)="tryDeleteGroup(contact)"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
</div>
