@import "src/app/core/scss/fuse";

:host {

    #reset-password {
        width: 100%;
        overflow: auto;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;

        #reset-password-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #reset-password-form {
                width: 400px;
                max-width: 400px;
                padding: 32px;
                text-align: center;
                background: #FFFFFF;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 128px;
                    margin: 32px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .login {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 500;

                    .text {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}



:host {
  display: block;
  background: #586071;
  overflow: auto;
  background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
 
}

.register /deep/ .mat-input-wrapper {
  margin:  0;
}

.register {
  background: white;
  width: 500px;
  max-width: 90%;

  .register-header {
    padding: 24px;
  }
  
  .welcome-text {
    text-align: center;
    padding: 10px;
    font-weight: 300;
    line-height: 1.7em;
    background-color: #e0e0e0;
    margin-bottom: 10px;
  }

  .register-content {
    padding: 5px 42px 5px;

    mat-input-container {
      width: 100%;
      margin: 3px 0;
    }

    .extra-options {
      margin: 3px 0 10px;
      font-size: 0.8em;

      .remember-me {
        color: #777;
      }
    }

    a {
      text-decoration: none;
      color: #2196F3;

      &:hover {
        text-decoration: underline;
      }
    }

    .note {
      color: #777;
      margin: 24px 0 0;
      text-align: center;
    }
  }
}

.mat-input-element:disabled {
  color: #2196F3;
  padding-left: 10px;
}