<div id="reset-password" fxLayout="column" fusePerfectScrollbar>
    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div fxLayout="row" fxLayoutAlign="center center" >
          <div class="register mat-elevation-z12" >
            <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
              <img src="assets/images/logos/angular.png" style="margin: 12px auto;">
            </div>
            <div class="welcome-text">
              Has recibido una invitación a la aplicación de SDR.<br/>
              Para continuar, por favor ingresa una nueva contraseña.
            </div>
            <form #form="ngForm" (ngSubmit)="passwordRestore()" *ngIf="identity" >
              <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
                <mat-input-container>
                  <input matInput placeholder="Nombre" type="text" value="{{identity.firstname}} {{identity.lastname}}" disabled >
                </mat-input-container>
                <mat-input-container>
                  <input matInput placeholder="E-Mail" type="text" value="{{identity.email}}" disabled >
                </mat-input-container>
                <mat-input-container>
                  <input matInput placeholder="Password (Al menos 8 caracteres)" type="password" name="password" required [(ngModel)]="password">
                </mat-input-container>
                <mat-input-container>
                  <input matInput placeholder="Password (Confirmar)" type="password" name="password-confirm" required [(ngModel)]="passwordConfirm">
                </mat-input-container>
                <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
                  <mat-checkbox name="accept" class="remember-me" [(ngModel)]="accept" required>Acepto los <a href="https://sdr.com.mx/" target="_blank">terminos y condiciones de uso.</a></mat-checkbox>
                </div>
                <button color="primary" mat-raised-button [disabled]="!form.valid || !password || password!=passwordConfirm || password.length<8 || !accept">Registrarse</button>
              </div>
            </form>
          </div>
        </div>

        
    </div>
</div>