<div id="login" fxLayout="column" fusePerfectScrollbar>

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/angular.png">
            </div>

           <!-- <div class="title">LOGIN TO YOUR ACCOUNT</div>-->

            <form #form="ngForm" autocomplete="off" (ngSubmit)="loginUser()">

                <mat-form-field>
                    <input matInput type="text" required placeholder="Email" name="email" [(ngModel)]="email">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" required placeholder="Password" name="password" [(ngModel)]="password">
                </mat-form-field>
                    <!--
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        Forgot Password?
                    </a>
                </div>
                -->
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                fxLayoutAlign="space-between center">
                <a class="forgot-password" [routerLink]="['/forgot-password']">
                    Recuperar Contraseña?
                </a>
                </div>
                
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                [disabled]="!form.valid">
                    Iniciar Sesión
                </button>

                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </form>
<!--
            <div class="separator">
                <span class="text">OR</span>
            </div>

            <button mat-raised-button class="google">
                Log in with Google
            </button>

            <button mat-raised-button class="facebook">
                Log in with Facebook
            </button>
        
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/pages/register'">Create an account</a>
            </div>
-->        
        </div>
       
    </div>

</div>