<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar *ngIf="loginService.validatePermissionTree('myfiles')">

        <mat-sidenav-container>
    
            <!-- SIDENAV -->
            <mat-sidenav class="sidenav left-sidenav" align="start" opened="false" mode="over"
                         fuseMatSidenavHelper="file-manager-left-sidenav">
                <!--app-main-->
                
                    <!-- SIDENAV HEADER -->
                    <div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

                        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="logo-icon mr-16">folder</mat-icon>
                            <span class="logo-text h1">File Manager</span>
                        </div>

                    </div>
                    <!-- / SIDENAV HEADER -->

                    <!-- SIDENAV CONTENT -->
                    <div class="content py-16" fusePerfectScrollbar>
                       <!-- 
                        <div class="nav">

                            <div class="nav-item" aria-label="inbox">
                                <a class="nav-link" matRipple>
                                    <mat-icon class="nav-link-icon">folder</mat-icon>
                                    <span class="title">My Files</span>
                                </a>
                            </div>

                            <div class="nav-item" aria-label="starred">
                                <a class="nav-link" matRipple>
                                    <mat-icon class="nav-link-icon">star</mat-icon>
                                    <div class="title">Starred</div>
                                </a>
                            </div>

                            <div class="nav-item" aria-label="starred">
                                <a class="nav-link" matRipple>
                                    <mat-icon class="nav-link-icon">folder_shared</mat-icon>
                                    <div class="title">Sharred with me</div>
                                </a>
                            </div>

                            <div class="nav-item" aria-label="starred">
                                <a class="nav-link" matRipple>
                                    <mat-icon class="nav-link-icon">access_time</mat-icon>
                                    <div class="title">Recent</div>
                                </a>
                            </div>

                            <div class="nav-item" aria-label="starred">
                                <a class="nav-link" matRipple>
                                    <mat-icon class="nav-link-icon">not_interested</mat-icon>
                                    <div class="title">Offline</div>
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                    <!-- / SIDENAV CONTENT -->
            
                <!--/app-main--> 
            </mat-sidenav>
            <!-- / SIDENAV -->
    
            <!-- CENTER -->
            <div class="center" fxFlex>
    
                <!-- HEADER -->
                <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">
    
                    <!-- TOOLBAR -->
                    <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">
    
                        <div class="left-side" fxLayout="row">
                            <button mat-button class="mat-icon-button"
                                (click)="router.navigate(['my-business'])"
                                aria-label="return">
                                <mat-icon>chevron_left</mat-icon>
                            </button>
                            <span class="mat-subheading-1">Ir a la empresa</span>
                        </div>
    
                        <div class="right-side" fxLayout="row">
                            <input  class="filter" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" *ngIf="filtered == true">
                            <button mat-button class="mat-icon-button" aria-label="Search" matTooltip="Search" (click)="showSearch()">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- / TOOLBAR -->
    
                    <!-- BREADCRUMB -->
                    <div class="breadcrumb text-truncate h1 pl-72" fxLayout="row" fxLayoutAlign="start center"
                         *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                        <div  fxLayout="row" fxLayoutAlign="start center">
                            <span>Mis Documentos</span>
                           <!-- <mat-icon class="separator">chevron_right</mat-icon>
                            <span></span>-->
                        </div>
                    </div>
                    <!-- / BREADCRUMB -->
    
                    <!-- ADD FILE BUTTON -->
                    <div class="file-uploader" *ngIf="loginService.validatePermissionTree('myfiles','directories','create') || loginService.validatePermissionTree('myfiles','directories','delete')">
                        <input hidden type="file" #fileInput (change)="saveFile($event)"/>
                        <button mat-fab
                                class="add-file-button mat-warn"
                                (click)="fileInput.click()"
                                aria-label="Add file"
                                *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <!-- / ADD FILE BUTTON -->
    
                </div>
                <!-- / HEADER -->
    
                <!-- CONTENT -->
                <div class="content mat-white-bg" fusePerfectScrollbar *ngIf="loginService.validatePermissionTree('myfiles','directories','read')">
                    <!--app-file-list-->
                        <mat-table #table [dataSource]="dataSource"  *fuseIfOnDom [@animateStagger]="{value:'50'}">

                            <!-- Type Column -->
                            <ng-container cdkColumnDef="icon">
                                <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
                                <mat-cell *cdkCellDef="let row" fxFlex="64px">
                                    <mat-icon class="type-icon" *ngIf="!row.mime" [ngClass]="row.type"></mat-icon>
                                    <mat-icon class="type-icon" *ngIf="row.mime" [ngClass]="row.type"></mat-icon>
                                </mat-cell>
                            </ng-container>
                        
                            <!-- Name Column -->
                            <ng-container cdkColumnDef="name">
                                <mat-header-cell *cdkHeaderCellDef>Nombre</mat-header-cell>
                                <mat-cell *cdkCellDef="let row"> {{row.name}}</mat-cell>
                            </ng-container>
                        
                            <!-- Type Column -->
                            <ng-container cdkColumnDef="type">
                                <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Tipo</mat-header-cell>
                                <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.type}}</mat-cell>
                            </ng-container>
                        
                            <!-- Owner Column -->
                            <!--<ng-container cdkColumnDef="owner">
                                <mat-header-cell *cdkHeaderCellDef fxHide.xs>Creador</mat-header-cell>
                                <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.owner}}</mat-cell>
                            </ng-container>-->
                        
                            <!-- Size Column -->
                            <ng-container cdkColumnDef="size">
                                <mat-header-cell *cdkHeaderCellDef fxHide.xs>Tamaño</mat-header-cell>
                                    <mat-cell *cdkCellDef="let row"  fxHide.xs>{{row.size === '' ? '-': row.size }}</mat-cell>
                            </ng-container>


                            <!-- Modified Column -->
                            <ng-container cdkColumnDef="created">
                                <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Fecha</mat-header-cell>
                                <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.created | date:'yyyy-MM-dd'}}</mat-cell>
                            </ng-container>
                        
                            <!-- Detail Button Column -->
                            <ng-container cdkColumnDef="detail-button">
                                <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
                                <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
                                    <button mat-icon-button class="sidenav-toggle"
                                            fuseMatSidenavToggler="file-manager-right-sidenav">
                                        <mat-icon>Información</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>
                        
                            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                                    (click)="itemClick(row)"
                                    (dblclick)="itemDoubleClick(row)"
                                    [ngClass]="{'mat-light-blue-50-bg':row == selected}"
                                    matRipple
                                    [@animate]="{value:'*',params:{y:'100%'}}"
                            >
                            </mat-row>
                        </mat-table>
                                    
                    <!--/app-file-list-->


                </div>
                <!-- / CONTENT -->
    
            </div>
            <!-- / CENTER -->
    
            <!-- SIDENAV -->
            <mat-sidenav class="sidenav right-sidenav " align="end" opened="true" mode="side"
                         fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
                 <!--app-details-->

                    <!-- SIDENAV HEADER -->
                    <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between" *ngIf="details == true">

                        <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">

                            <a  href="{{url_fileserve}}" target="blank"  *ngIf="selected.type == 'image' || selected.type == 'document' && loginService.validatePermissionTree('myfiles','directories','read')" >
                                    <i class="large material-icons"   matTooltip="Ver Imagen">exit_to_app</i>
                            </a>
                            <button mat-icon-button class="mat-icon-button"  *ngIf="selected.type == 'folder' " matTooltip="Borrar" (click)="removeDirectory()">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button class="mat-icon-button" *ngIf="selected.type == 'image' || selected.type == 'document' " matTooltip="Borrar" (click)="removeFile(selected)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        
                            <button mat-icon-button class="mat-icon-button" aria-label="More" matTooltip="More" *ngIf="loginService.validatePermissionTree('myfiles','directories','create') || loginService.validatePermissionTree('myfiles','directories','delete')" [matMenuTriggerFor]="userMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <div>
                            <div class="title mb-8">{{selected.name}}</div>
                       
                        </div>
                    </div>
                    <!-- / SIDENAV HEADER -->

                    <!-- SIDENAV CONTENT -->
                    <div class="content p-24 mat-white-bg" fusePerfectScrollbar *ngIf="details == true">

                        <div class="file-details"
                            *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms'}}">

                            <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="type-icon s-48" [ngClass]="selected.type"></mat-icon>
                            </div>
                        <!--
                            <div class="offline-switch">
                                <mat-slide-toggle ([ngModel])="selected.offline" labelPosition="before">Available Offline</mat-slide-toggle>
                            </div>
                        -->
                            <div class="title">Info</div>

                            <table>
                                <tr class="type">
                                    <th>Tipo</th>
                                    <td>{{selected.type}}</td>
                                </tr>

                                <tr class="size">
                                    <th>Tamaño</th>                           
                                    <td *ngIf="selected.type == 'folder'">{{selected.size === '' ? '-': selected.size }}</td>
                                    <td *ngIf="selected.type != 'folder'">{{selected.size === '' ? '-': selected.size | filesize }}</td>
                                </tr>

                                <!--<tr class="owner">
                                    <th>Creador</th>
                                    <td>{{selected.owner }}</td>
                                </tr>-->

                                <tr class="created">
                                    <th>Fecha</th>
                                    <td>{{selected.created | date:'yyyy-MM-dd HH:mm '}}</td>
                                </tr>
                                <tr >
                            
                                </tr>
                                
                            </table>
                        </div>

                    </div>
                    <!-- / SIDENAV CONTENT -->

                 <!--/app-details-->
                 <!--app-create-directory-->

                    <!-- SIDENAV HEADER -->
                    <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between" *ngIf="details == false">



                        <div>
                            <div class="title mb-8">Directorio</div>
                            <div class="subtitle secondary-text">
                                <span>Nuevo</span>
                                <span>: Directorio</span>
                            </div>
                        </div>
                    </div>
                    <!-- / SIDENAV HEADER -->

                    <!-- SIDENAV CONTENT -->
                    <div class="content p-24 mat-white-bg" fusePerfectScrollbar *ngIf="details == false">

                        <div class="file-details"
                            *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms'}}">
                            
                                <input mdInput placeholder="Escribe un nombre" class="create-dirs" required [(ngModel)]="new_folder.name">
                            
                            <div fxLayout="column" fxLayout.gt-md="row" class="create-dirs" >
                                <div fxFlex class="text-right">
                                   <!-- <button mat-raised-button mat-button>Cancelar</button>-->
                                    <button mat-raised-button mat-button color="accent"  (click)="saveDirectory()" *ngIf="loginService.validatePermissionTree('myfiles','directories','create') || loginService.validatePermissionTree('myfiles','directories','delete')">Crear Directorio</button>
                                </div>
                            </div>
                      
                          

                          
                        </div>

                    </div>
                    <!-- / SIDENAV CONTENT -->

                  <!--/app-create-directory-->




            </mat-sidenav>
            <!-- / SIDENAV -->
    
        </mat-sidenav-container>
    </div>
    

<mat-menu #userMenu="matMenu">
<button  mat-menu-item (click)="newDirectory()">
    <mat-icon> person_add </mat-icon>
    <span> Nuevo Directorio </span>
</button>
</mat-menu>