<mat-table #table [dataSource]="dataSource"
        [@animateStagger]="{value:'50'}"
        matSort>
    <!-- Checkbox Column
    <ng-container cdkColumnDef="checkbox">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)"
                        (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>
    -->

    <!-- Avatar Column -->
    <ng-container cdkColumnDef="avatar">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <img class="avatar" [alt]="contact.firstname"
                src="assets/images/avatars/profile.jpg"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="firstname">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.firstname}} {{contact.lastname}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Company Column -->
    <ng-container cdkColumnDef="created">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Creado</mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="company text-truncate">
                {{contact.created_at | date:'d MMM yyyy'}}
            </p>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let contact; columns: displayedColumns;"
            class="contact"
            (click)="editContact(contact)"                                        
            matRipple
            [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<mat-paginator #paginator
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<!-- ADD CONTACT BUTTON -->
<button mat-fab class="mat-accent-bg" id="add-contact-button" (click)="newContact()" aria-label="add contact"
[@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" *ngIf="loginService.hasPermission(['business-users-create'])">
<mat-icon>person_add</mat-icon>
</button>
<!-- / ADD CONTACT BUTTON -->