<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar *ngIf="evento">

        <!-- HEADER -->
        <div class="header  white-fg p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="space-between end">
    
       
    
        </div>
        <!-- / HEADER -->
    
        <!-- CONTENT -->
        <div class="content">
            <div id="about" class="p-24" fxLayout="row" fxLayoutWrap>
    
                <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">
                    <div class="profile-box info-box general" fxLayout="column">
                        <header class="mat-accent-bg">
                            <div class="title">Impresión de Identificador</div>
                        </header>
                        <div class="content">

                                <div id="print-section" style="display:none;" *ngIf="evento">
                                  <table>
                                    <tr>
                                      <td class="header">
                                        <div *ngIf="user_type=='sdr'">
                                            {{user._user.firstname}} {{user._user.lastname}}
                                        </div>
                                        <div *ngIf="user_type=='business'">
                                            {{user._business_user.firstname}} {{user._business_user.lastname}}
                                        </div>
                                        <div *ngIf="user_type=='external'">
                                            {{user._external_user.name}}
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="avatar-container">
                                          <div *ngIf="user_type=='sdr'">
                                              <img src="{{ domainUrl }}/assets/images/avatars/profile.jpg" *ngIf="!user._user.avatar"/>
                                              <img src="{{ avatarPath+user._user.avatar}}" *ngIf="user._user.avatar">
                                              <h3 *ngIf="user._user.keywe">{{ user._user.keywe.puesto }} - {{ user._user.keywe.ubicacion }}</h3>
                                          </div>
                                          <div *ngIf="user_type=='business'">
                                              <img src="{{ domainUrl }}/assets/images/avatars/profile.jpg" *ngIf="!user._business_user.avatar"/>
                                              <img src="{{ avatarPath+user._business_user.avatar}}" *ngIf="user._business_user.avatar">
                                              <h3 *ngIf="user._business_user.business">{{ user._business_user.business.name }}</h3>
                                          </div>
                                          <div *ngIf="user_type=='external'">
                                              <img src="{{ domainUrl }}/assets/images/avatars/profile.jpg" *ngIf="!user._external_user.avatar"/>
                                              <img src="{{ avatarPath+user._external_user.avatar}}" *ngIf="user._external_user.avatar">
                                              <h3 *ngIf="user._external_user.company">{{ user._external_user.company }}</h3>
                                          </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="details-content">
                                        <table class="details-table">
                                          <tr>
                                            <td colspan="3" class="event-date">{{ tmp_fields.start_date }} - {{ tmp_fields.end_date }}</td>
                                          </tr>
                                          <tr>
                                            <td rowspan="7" width="190">
                                              <img [src]="qr_url" *ngIf="qr_url" />
                                            </td>
                                            <td width="80" class="event-label">Evento:</td>
                                            <td>{{ evento.name_event }}</td>
                                          </tr>
                                          <tr>
                                            <td class="event-label">Ingreso a: </td>
                                            <td> 
                                              <span *ngIf="evento.type[0].datacenter===true">DataCenter, </span>
                                              <span *ngIf="evento.type[0].comunicaiones===true">Cuarto comunicaciones, </span>
                                              <span *ngIf="evento.type[0].registros_vitales===true">Registros vitales, </span>
                                              <span *ngIf="evento.type[0].posiciones_alternas===true">Posiciones alternas de trabajo, </span>
                                              <span *ngIf="evento.type[0].areas_comunes===true">Areas comunes</span>
                                            
                                            </td>
                                          </tr>
                                          <tr>
                                            <td class="event-label">Ubicación:</td>
                                            <td>{{ evento.sede }} ({{ evento.sala}})</td>
                                          </tr>
                                          <tr>
                                            <td class="event-label">Detalles:</td>
                                            <td>{{ evento.descripcion }}</td>
                                          </tr>
                                          <tr >
                                            <td class="event-label">Ingresa/Retira dispositivos:</td>
                                            <td>
                                              <span *ngIf="evento.device_manage">Sí</span>
                                              <span *ngIf="!evento.device_manage">No</span>
                                            </td>
                                          </tr>
                                          <tr *ngIf="evento._user_authorize">
                                            <td class="event-label">Autoriza:</td>
                                            <td>
                                              <span>{{evento._user_authorize.firstname}} {{evento._user_authorize.lastname}}</span><br/>
                                              <small *ngIf="evento._user_authorize && evento._user_authorize.keywe">{{ evento._user_authorize.keywe.puesto }} - {{ evento._user_authorize.keywe.ubicacion }}</small><br/>
                                              <small *ngIf="evento._user_authorize">{{ evento._user_authorize.email }}</small>
                                            </td>
                                          </tr>
                                          <tr *ngIf="!evento._user_authorize">
                                            <td class="event-label">Autoriza:</td>
                                            <td>
                                              NO AUTORIZADO
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </div>

                                <div class="avatar-container" >
                                        <div class="take-photo" *ngIf="takePhoto && !base64">
                                          <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
                                          <div class="take-photo-button" *ngIf="webcam">
                                            <button mat-button (click)="captureBase64()"><mat-icon>camera_alt</mat-icon></button>
                                          </div>
                                          <button mat-mini-fab class="return-button" (click)="takePhoto=false"><mat-icon>reply</mat-icon></button>
                                        </div>
                                        <div class="take-photo" *ngIf="takePhoto && base64" style="max-width:320px; margin: 0 auto;">
                                          <img [src]="base64" style="width:320px; max-width:100%;" />
                                          
                                          <button mat-mini-fab class="return-button" (click)="clearPhoto()"><mat-icon>reply</mat-icon></button>
                                          <button mat-mini-fab class="save-button" (click)="savePhoto()"><mat-icon>cloud_upload</mat-icon></button>
                                          <!--
                                          <div style="overflow:hidden;width:320px;height:240px;text-align:center;background-position:center;background-size:contain;background-repeat:no-repeat;" [hidden]="!captured" [style.background-image]="base64?'url('+base64+')':null"></div>
                                          <button (click)="genBase64()"> generate base64 </button>
                                          <button (click)="genPostData()"> generate post data </button>
                                          <button *ngIf="webcam" (click)="captureBase64()" style="padding:1em;font-size:1.2em;width:100%">Capture</button>
                                          -->
                                        </div>
                                        <div class="avatar-image" *ngIf="!takePhoto">
                                          <!-- End webcam -->
                                          <img mat-card-avatar src="assets/images/avatars/profile.jpg" *ngIf="user._business_user && !user._business_user.avatar"/>
                                          <img [src]="avatarPath+user._business_user.avatar" mat-card-avatar class="profile-avatar" *ngIf="user._business_user && user._business_user.avatar">
                      
                                          <img mat-card-avatar src="assets/images/avatars/profile.jpg" *ngIf="user._external_user && !user._external_user.avatar"/>
                                          <img [src]="avatarPath+user._external_user.avatar" mat-card-avatar class="profile-avatar" *ngIf="user._external_user && user._external_user.avatar">
                      
                      
                                          <div class="change-photo-button" *ngIf="loginService.hasPermission('business-users-updateavatar')">
                                            <button mat-button (click)="takePhoto=true"><mat-icon>camera_alt</mat-icon> Tomar Foto</button>
                                          </div>
                                        </div>
                                        <h3 class="name" *ngIf="user_type=='sdr'">
                                            {{user._user.firstname}} {{user._user.lastname}}
                                        </h3>
                                        <h3 class="name" *ngIf="user_type=='business'">
                                            {{user._business_user.firstname}} {{user._business_user.lastname}}
                                        </h3>
                                        <h3 class="name" *ngIf="user_type=='external'">
                                            {{user._external_user.name}}
                                        </h3>
                                        <div *ngIf="user_type=='sdr'">
                                            <p mat-line *ngIf="user._user.keywe">{{ user._user.keywe.puesto }} - {{ user._user.keywe.ubicacion }}</p>
                                        </div>
                                        <div *ngIf="user_type=='business'">
                                            <p mat-line *ngIf="user._business_user.business">{{ user._business_user.business.name }}</p>
                                        </div>
                                        <div *ngIf="user_type=='external'">
                                            <p mat-line *ngIf="user._external_user.company">{{ user._external_user.company }}</p>
                                        </div>
                                      </div>
                                <ul class="list-details" style="margin-top:20px;" *ngIf="evento">
                                    <li><span class="label">Evento:</span><span>{{ evento.name_event }}</span></li>
                                    <li><span class="label">Fecha de la Visita:</span><span>{{ tmp_fields.start_date }} a {{ tmp_fields.end_date }}</span></li>
                                    <li><span class="label">Ingreso a:</span>

                                      <span *ngIf="evento.type[0].acceso_edificio===true">Acceso al Edificio, </span>
                                      <span *ngIf="evento.type[0].datacenter===true">DataCenter, </span>
                                      <span *ngIf="evento.type[0].comunicaiones===true">Cuarto comunicaciones, </span>
                                      <span *ngIf="evento.type[0].registros_vitales===true">Registros vitales, </span>
                                      <span *ngIf="evento.type[0].posiciones_alternas===true">Posiciones alternas de trabajo, </span>
                                      <span *ngIf="evento.type[0].areas_comunes===true">Areas comunes</span></li>
                                    
                                       
                                    <li><span class="label">Ubicación:</span><span>{{ evento.sede }} ({{ evento.sala}})</span></li>
                                    <li><span class="label">Detalles:</span><span>{{ evento.descripcion }}</span></li>
                                    <li ><span class="label">Ingresa/Retira dispositivos:</span> 
                                        <span class="badge badge-title primary" *ngIf="evento.device_manage"><i class="fa fa-check"></i></span>
                                        <span class="badge badge-title danger" *ngIf="!evento.device_manage"><i class="fa fa-close"></i></span>
                                    </li>
                                    <li *ngIf="evento._user_authorize"><span class="label">Autoriza:</span><span>{{evento._user_authorize.firstname}} {{evento._user_authorize.lastname}}</span><br/>
                                        <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize && evento._user_authorize.keywe">{{ evento._user_authorize.keywe.puesto }} - {{ evento._user_authorize.keywe.ubicacion }}</small><br/>
                                        <span class="label">&nbsp;</span><small *ngIf="evento._user_authorize">{{ evento._user_authorize.email }}</small>
                                    </li>
                                    <li *ngIf="!evento._user_authorize"><span class="label">Autoriza:</span><span><strong>NO Autorizado</strong></span></li>
                                    </ul>
                                    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap" style="margin-top:20px;" *ngIf="evento._user_authorize">
                                    <button mat-raised-button color="accent" (click)="print()">Imprimir</button>
                                    </div>
                            
                        </div>
                    </div>
                  
    
                </div>
               
    
            </div>
        </div>
        <!-- / CONTENT -->
    
    </div>
    
    
    
    
    