<div class="page-layout carded fullwidth" fusePerfectScrollbar >

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header white-fg p-24" fxLayout="column" fxLayoutAlign="start start"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
    
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">group_work</mat-icon>
                    <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Grupos</span>
                </div>
    
            </div>
            <!-- / APP TITLE -->
    
            <!-- SEARCH -->
            <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon>search</mat-icon>
                </label>
                <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
                    <input matInput name="" [formControl]="searchInput" id="search" placeholder="Buscar un grupo">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
        </div>
        
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" *ngIf="loginService.validatePermissionTree('users','groups','read')">

            <!-- CONTENT -->
            <div class="content" fusePerfectScrollbar>

                <div class="mat-white-bg" fxFlex>
                    
                    <div id="contact-list">
                        <div class="example-container">
                            <mat-table #table [dataSource]="dataSource"
                                    [@animateStagger]="{value:'50'}"
                                    matSort
                                    >
                              

                                <!-- Name Column -->
                                <ng-container cdkColumnDef="name">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        {{ contact.name }}
                                    </mat-cell>
                                </ng-container>

                                <!-- Description Column -->
                                <ng-container cdkColumnDef="description">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <p class="text-truncate font-weight-600">{{contact.description}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Notifications Column 
                                <ng-container cdkColumnDef="notifications">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Notificaciones</mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-xs>
                                        {{contact.notifications}}
                                        <mat-icon *ngIf="contact.notifications.sms" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                                        <mat-icon *ngIf="!contact.notifications.sms" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>

                                 <!-- SMS Column -->
                                 <ng-container cdkColumnDef="sms">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header><mat-icon>sms</mat-icon></mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-xs>
                                        
                                        <mat-icon *ngIf="contact.notifications.sms" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                                        <mat-icon *ngIf="!contact.notifications.sms" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>

                                 <!-- Call Column -->
                                 <ng-container cdkColumnDef="call">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header><mat-icon>call</mat-icon></mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-xs>
                                       
                                        <mat-icon *ngIf="contact.notifications.call" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                                        <mat-icon *ngIf="!contact.notifications.call" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>

                                 <!-- Mic Column -->
                                 <ng-container cdkColumnDef="recording">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header><mat-icon>mic</mat-icon></mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-xs>
                                        
                                        <mat-icon *ngIf="contact.notifications.recording" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                                        <mat-icon *ngIf="!contact.notifications.recording" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>

                                 <!-- Email Column -->
                                 <ng-container cdkColumnDef="email">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header><mat-icon>email</mat-icon></mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-xs>
                                        
                                        <mat-icon *ngIf="contact.notifications.email" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                                        <mat-icon *ngIf="!contact.notifications.email" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>
                                

                                 <!-- Buttons Column -->
                                <ng-container cdkColumnDef="buttons">
                                    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
                                    <mat-cell *cdkCellDef="let contact">
                                        <div fxFlex="row" fxLayoutAlign="end center">
                            
                                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                                    (click)="$event.stopPropagation();"> 
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                            
                                            <mat-menu #moreMenu="matMenu">
                                                <button mat-menu-item aria-label="remove" (click)="deleteGroup(contact)" *ngIf="loginService.validatePermissionTree('users','groups','delete')">
                                                    <mat-icon>delete</mat-icon>
                                                    <span>Eliminar</span>
                                                </button>
                                                <button mat-menu-item aria-label="edit" (click)="editGroup(contact)" *ngIf="loginService.validatePermissionTree('users','groups','update')">
                                                    <mat-icon>edit</mat-icon>
                                                    <span>Editar</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                            
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *cdkRowDef="let contact; columns: displayedColumns;"
                                        class="contact"
                                        (click)="router.navigate(['business/call-tree/notifier/'+contact._id])"
                                        matRipple
                                        [@animate]="{value:'*',params:{y:'100%'}}">
                                </mat-row>
                            </mat-table>
                            <mat-paginator #paginator
                                        [length]="dataSource.filteredData.length"
                                        [pageIndex]="0"
                                        [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
  <!-- ADD CONTACT BUTTON -->
  <button mat-fab class="mat-accent-bg" id="add-contact-button" (click)="newGroup()" aria-label="add contact"
  [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" *ngIf="loginService.hasPermission(['users-groups-create'])">
  <mat-icon>group_add</mat-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

