<div tfFlex="100%" class="no-padd full-height">
  <mat-toolbar>
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button (click)="router.navigate(['/access/solicitud/'+evento._id]);">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h4 *ngIf="evento">Actividad: {{ evento.name_event }}</h4>
    </div>
  </mat-toolbar>
  <div class="content-auto-scroll-no-bar">
    <div style="padding-top:20px;">
      <div fxLayout="row" fxLayoutAlign="center stretch" *ngIf="my_invite">
        <mat-card fxFlex="70" fxFlex.md="70" fxFlex.sm="90" fxFlex.xs="100">
          <mat-card-content>
            <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start" fxLayoutAlign="start center">
              <div fxFlex="40">
                <img [src]="qr_url" *ngIf="qr_url" />
              </div>
              <div fxFlex>
                <mat-list style="padding-top:0; background: #fbfbfb; border-radius: 5px;" *ngIf="loginService.identity">
                  <mat-list-item class="small-list-item">
                    <mat-icon class="mat-icon-custom" mat-list-avatar *ngIf="!loginService.identity.avatar">person</mat-icon>
                    <img [src]="avatarPath+loginService.identity.avatar" mat-list-avatar *ngIf="loginService.identity.avatar">
                    <h3 class="name" mat-line>{{loginService.identity.firstname}} {{loginService.identity.lastname}}</h3>
                    <p mat-line *ngIf="loginService.identity.business"><small> {{ loginService.identity.business.name }}</small></p>
                  </mat-list-item>
                </mat-list>
                <h3 style="text-align:center; margin-top: 20px;">{{ evento.name_event }}</h3>
                <ul class="list-details" style="margin-top:20px;">
                  <li><span class="label">Fecha de la Visita:</span><span>{{ tmp_fields.start_date }} a {{ tmp_fields.end_date }}</span></li>
                  <li><span class="label">Ubicación:</span><span>{{ evento.sede }} ({{ evento.sala}})</span></li>
                  <li><span class="label">Detalles:</span><span>{{ evento.descripcion }}</span></li>
                  <li *ngIf="full_evento && full_evento._user_authorize"><span class="label">Autoriza:</span><span>{{full_evento._user_authorize.firstname}} {{full_evento._user_authorize.lastname}}</span><br/>
                    <span class="label">&nbsp;</span><small *ngIf="full_evento && full_evento._user_authorize && full_evento._user_authorize.keywe">{{ full_evento._user_authorize.keywe.puesto }} - {{ full_evento._user_authorize.keywe.ubicacion }}</small><br/>
                    <span class="label">&nbsp;</span><small *ngIf="full_evento && full_evento._user_authorize">{{ full_evento._user_authorize.email }}</small>
                  </li>
                </ul>
              </div>
            </div>
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>