<div id="login" fxLayout="column" fusePerfectScrollbar>

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    
            <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
                
                <div class="logo">
                    <img src="assets/images/logos/angular.png">
                </div>

                <form #form="ngForm"  name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="email">
                        <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button class="submit-button" color="accent"
                            aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()">
                        Enviar correo de recuperación
                    </button>
                </form>

                <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link" [routerLink]="['/']">Regresar</a>
                </div>

      </div>

  </div>

</div>