  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" class="full-height">
    <div fxFlex="25" class="flex-column-inline-left full-height">
      <md-toolbar>
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
          <h4>Tipos de Dispositivos</h4>
        </div>
      </md-toolbar>
      <div class="content-auto-scroll-no-bar">
        
        <div class="roles-list">
          <md-nav-list class="chat-contacts">
            <md-list-item class="chat-contact" *ngFor="let dt of deviceTypes" (click)="setActiveDeviceType(dt)" md-ripple [ngClass]="{'active': dt._id==current_device_type._id}">
              <!--<img [src]="user.avatar" md-list-avatar *ngIf="user.avatar">-->
              <h3 class="name" md-line>{{ dt.name }}</h3>
            </md-list-item>
          </md-nav-list>
        </div>
      </div>
    </div> 

    <div fxFlex class="flex-column-inline-left full-height" *ngIf="!edit_mode && !device_details">
      <md-toolbar>
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
          <h4>Lista de Dispositivos</h4>
          <span fxFlex></span>
          <button md-icon-button mdTooltip="Agregar Dispositivo" (click)="newDevice()" *ngIf="loginService.validatePermissionTree('mybusiness','devices','create')">
            <md-icon> add </md-icon>
          </button>
        </div>
      </md-toolbar>
      <div class="content-auto-scroll-no-bar">

        <table class="table table-condensed table-grey-header table-bordered table-hover kasax-table">
          <thead>
          <tr>
            <th>
              Marca
            </th>
            <th>
              Modelo
            </th>
            <th>
              Serie
            </th>
            <th>
              Uso Rack
            </th>
            <th>
              Consumo (watts)
            </th>
            <th>
              Redundancia
            </th>
            <th>
              Soporte
            </th>
            <th>
              Status
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="pointer" *ngFor="let device of filteredDevices()" (click)="showDevice(device)" [ngClass]="{'active': device._id=='123'}">
            <td>{{ device.marca }}</td>
            <td>{{ device.modelo }}</td>
            <td>{{ device.serie }}</td>
            <td>{{ device.cant_rack }}</td>
            <td>{{ device.cant_consumo }}</td>
            <td>
              <span *ngIf="device.redundante" class="badge success badge-title"><i class="fa fa-check"></i></span>
              <span *ngIf="!device.redundante" class="badge danger badge-title"><i class="fa fa-remove"></i></span>
            </td>
            <td>
              <span *ngIf="device.soporte_vigente" class="badge success badge-title"><i class="fa fa-check"></i></span>
              <span *ngIf="!device.soporte_vigente" class="badge danger badge-title"><i class="fa fa-remove"></i></span>
            </td>
            <td>
              <span *ngIf="device.status=='Standby'" class="badge"><i class="fa fa-clock-o" *ngIf="device.movement_request" mdTooltip="Pendiente de movimiento"></i> Inactivo</span>
              <span *ngIf="device.status=='Ingresado'" class="badge success"><i class="fa fa-clock-o" *ngIf="device.movement_request" mdTooltip="Pendiente de movimiento"></i> En uso</span>
            </td>
            <!--
            <td><span class="badge">{{ pr.folio }}</span></td>
            <td><span *ngIf="pr._oportunity">{{ pr._oportunity.id_oportunidad }}</span></td>
            <td><span *ngIf="pr._oportunity">{{ pr._oportunity.nombre_cuenta }}</span></td>
            <td>{{ pr.cve_producto+' - '+pr.nombre_producto }}</td>
            -->
          </tr>
          </tbody>
        </table>
          
        
      </div>
      
      
    </div>

    <div fxFlex class="flex-column-inline-left full-height" *ngIf="edit_mode">
      <form #newdeviceForm="ngForm" novalidate class="full-height">
        <md-toolbar>
          <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
            <h4>Nuevo Dispositivo</h4>
          </div>
        </md-toolbar>
        <div class="content-auto-scroll">
          <div class="padded-20">
            <div fxLayout="column" fxLayout.gt-md="row">
              <md-select class="small-select" fxFlex="49" placeholder="Tipo de Dispositivo" name="_devicetype" required [(ngModel)]="current_device._devicetype" style="margin-top:9px">
                <md-option value=""></md-option>
                <md-option *ngFor="let type of deviceTypes" value="{{type._id}}">{{ type.name }}</md-option>
              </md-select>
              <md-input-container fxFlex class="custom-input" fxFlex="49" fxFlexOffset="2%">
                <input mdInput placeholder="Marca" name="marca" required [(ngModel)]="current_device.marca">
              </md-input-container>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
              <md-input-container fxFlex class="custom-input" fxFlex="49">
                <input mdInput placeholder="Modelo" name="modelo" required [(ngModel)]="current_device.modelo">
              </md-input-container>
              <md-input-container fxFlex class="custom-input" fxFlex="49" fxFlexOffset="2%">
                <input mdInput placeholder="Serie" name="serie" required [(ngModel)]="current_device.serie">
              </md-input-container>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
              <md-input-container fxFlex class="custom-input" fxFlex="49">
                <input mdInput type="number" placeholder="Cantidad de unidad de rack" name="cant_rack" required [(ngModel)]="current_device.cant_rack">
              </md-input-container>
              <md-input-container fxFlex class="custom-input" fxFlex="49" fxFlexOffset="2%">
                <input mdInput type="number" placeholder="Cant. Consumo energético promedio (watts)" name="cant_consumo" required [(ngModel)]="current_device.cant_consumo">
              </md-input-container>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
              <md-checkbox [(ngModel)]="current_device.redundante" name="redundante" style="margin-top:16px" fxFlex="49">
                ¿El equipo cuenta con fuentes de poder redundantes?
              </md-checkbox>
              <md-checkbox [(ngModel)]="current_device.soporte_vigente" name="soporte_vigente" style="margin-top:16px" fxFlex="49" fxFlexOffset="2%">
                ¿El equipo cuenta con soporte vigente?
              </md-checkbox>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
              <md-input-container fxFlex class="custom-input" fxFlex>
                <input mdInput placeholder="Num. proyecto Salesforce" name="salesforce_proyecto_id" [(ngModel)]="current_device.salesforce_proyecto_id">
              </md-input-container>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row" *ngIf="!current_device.redundante">
              <div class="alert alert-danger" fxFlex>
                <small>*La ausencia de redundancia eléctrica puede implicar en la intermitencia de su servicio. Por favor considere el uso de un ATS.</small>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div fxLayout="column" fxLayout.gt-md="row" class="action-buttons">
            <div fxFlex class="text-right">
              <button md-raised-button md-button (click)="editMode(false)">Cancelar</button>
              <button md-raised-button md-button color="accent" [disabled]="!newdeviceForm.valid" (click)="saveDevice()">Guardar Dispositivo</button>
            </div>
          </div>
        </div>
      </form>
      
    </div>

    <div fxFlex class="flex-column-inline-left full-height" *ngIf="device_details && device_details._id">
      
        <md-toolbar>
          <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
            <button md-icon-button (click)="device_details=undefined">
              <md-icon>chevron_left</md-icon>
            </button>
            <h4>Detalles del Dispositivo</h4>
            <span fxFlex></span>
            <span *ngIf="device_details.status=='Standby'" class="badge badge-title"><i class="fa fa-clock-o" *ngIf="device_details.movement_request" mdTooltip="Pendiente de movimiento"></i> Inactivo</span>
            <span *ngIf="device_details.status=='Ingresado'" class="badge success badge-title"><i class="fa fa-clock-o" *ngIf="device_details.movement_request" mdTooltip="Pendiente de movimiento"></i> En uso</span>
          </div>
        </md-toolbar>
        <div class="content-auto-scroll-no-bar">
          
                <p style="margin-top: 21px;margin-left: 20px;"><strong>Datos Principales:</strong></p>
                <table class="table table-condensed table-grey-header table-bordered table-hover kasax-table">
                  <thead>
                  <tr>
                    <th>
                      Creado
                    </th>
                    <th>
                      Marca
                    </th>
                    <th>
                      Modelo
                    </th>
                    <th>
                      Serie
                    </th>
                    <th>
                      Uso Rack
                    </th>
                    <th>
                      Consumo (watts)
                    </th>
                    <th>
                      Redundancia
                    </th>
                    <th>
                      Soporte
                    </th>
                    <th>
                      Salesforce
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{ humanDate( device_details.created_at ) }}</td>
                    <td>{{ device_details.marca }}</td>
                    <td>{{ device_details.modelo }}</td>
                    <td>{{ device_details.serie }}</td>
                    <td>{{ device_details.cant_rack }}</td>
                    <td>{{ device_details.cant_consumo }}</td>
                    <td>
                      <span *ngIf="device_details.redundante" class="badge success badge-title"><i class="fa fa-check"></i></span>
                      <span *ngIf="!device_details.redundante" class="badge danger badge-title"><i class="fa fa-remove"></i></span>
                    </td>
                    <td>
                      <span *ngIf="device_details.soporte_vigente" class="badge success badge-title"><i class="fa fa-check"></i></span>
                      <span *ngIf="!device_details.soporte_vigente" class="badge danger badge-title"><i class="fa fa-remove"></i></span>
                    </td>
                    <td>{{ device_details.salesforce_proyecto_id }}</td>
                  </tr>
                  </tbody>
                </table>

                <p style="margin-top: 21px;margin-left: 20px;"><strong>Registro de Actividad</strong></p>
                
                <table class="table table-condensed table-grey-header table-bordered table-hover kasax-table">
                  <thead>
                  <tr>
                    <th>
                      Fecha
                    </th>
                    <th>
                      Prev. Status
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Datacenter
                    </th>
                    <th>
                      Fase
                    </th>
                    <th>
                      Solicitó
                    </th>
                    <th>
                      Autorizó
                    </th>
                    <th>
                      Comentarios
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let hist of device_details.historical">
                    <td>{{ humanDate(hist.fecha) }}</td>
                    <td>{{ hist.prev_status }}</td>
                    <td>{{ hist.status }}</td>
                    <td>{{ hist.datacenter }}</td>
                    <td>{{ hist.fase }}</td>
                    <td ></td>
                    <td ></td>
                    <td>{{ hist.comments }}</td>
                  </tr>
                  </tbody>
                </table>
              
              
            
          
        </div>
        
      
      
    </div>


    
  </div>