
.chat-contacts {
    padding-top: 0;

    .chat-contact {
        position: relative;
        cursor: pointer;
        transition: background .1s linear;

        &:hover {
        background: #EEE;
        }

        .name {  }

        .last-message {
        color: #888;
        }
    }
}
