// Import Fuse main library
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
@import 'angular-tree-component/dist/angular-tree-component.css';
@import "app/core/scss/core";

fuse-main {
    display: block;
    height: calc(100%);
    mat-card, mat-card-content, mat-tab-group, .mat-tab-body-wrapper, mat-tab-body, .mat-tab-body-content, .full-height{
      height: 100%;
    }
    .full-height-bar{
      height: 100%;
    }
}

.toolbar{
    width:100%;
  
    h4{
      margin-top: 14px;
      margin-left: 8px;
      color: #888;
    }
  }

.toolbar-button {
    button {
        .badge {
        position: absolute;
        height: 15px;
        line-height: 15px;
        right: 0px;
        top: 9px;
        }
    }
} 


.action-buttons{
    background-color: #f5f5f5;
    padding: 15px 20px;
}

.permissions-list{
    padding: 20px 30px;
}

.content-auto-scroll{
    overflow-y: scroll;
    height: 100%;
}

.flex-column-inline-left{
    border-right: solid 1px #c5c5c5;
}
.flex-column-inline-right{
    border-left: solid 1px #c5c5c5;
    margin-left: -1px;
}

.badge{
    background-color: #777777;
    color: #fff;
    padding: 3px 6px;
    border-radius: 12px;
}
.badge.white{
  background-color: rgba(255, 255, 255, 0.5);
  color: #4c4c4c;
}
.badge.primary, .badge.success{
  background-color: #8BC34A;
}
.badge.warning{
  background-color: #FFC425;
}
.badge.danger{
  background-color: #F44336;
}
.badge.badge-title{
  font-size: .7em;
}
.badge.badge-small{
  padding: 0px 4px;
  border-radius: 12px;
  min-width: 21px;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
}

.users-container {
  background: #F5F5F5;
  padding-top: .6rem;
  padding-bottom: .6rem;
  text-align: center;
  border-top: solid 1px #E3E3E3;
  border-bottom: solid 1px #E3E3E3;
  margin-bottom: 1rem;
  .categories-title {
    font-size: 1.4rem;
    font-weight: 400;
    color: #5d5d5d;
    margin: 8px 0px 20px;
  }

  .horizontal-categories {
       overflow-x:hidden;
    .scroll-content
    {
      position: relative;
      contain: style layout;
     
    }

    .categories-row
    {

      &::after{
        content: '';
        flex: 0 0 5px;
        max-width:5px;
      }
    }

    .horizontal-item
    {
      min-width: 90px;
      max-width: 90px;
      padding: 0px 0px 0px 10px;
      img {
        border-radius: 50%;
        width: 100%;
        height: auto;
        cursor: pointer;
      }
      .username {
        
        color: #666;
      }
    }
  }
}

.avatar-flex {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.custom-toolbar-color{
  background: #FBFBFB;
}

.no-padd{
  padding: 0 !important;
}
.padded-20{
  padding: 20px;
}


ul.list-details{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    padding: 8px 12px;
    /*border-bottom: solid 1px #D6D6D6;*/
    .label{
      min-width: 140px;
      display: inline-block;
      color: #666;
      font-weight: bold;
      font-size: 1em;
      text-align: left;
    }
  }
  li.pointer{
    transition: all .3s ease;
  }
  li.pointer:hover{
        background-color: rgba(0, 0, 0, 0.12);
  }
}