@import "src/app/core/scss/fuse";
:host {
    #about {
        max-width: 1200px;
    }
    agm-map {
        width: 100%;
        height: 500px;
        margin-right: 0%;
    }
   

   

    .add-button {
        z-index: 10;
        bottom: 490px;
        right: 0%; 
    }
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }



    .img-card{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }

    .mat-icon-button{
        margin-left: 65%;
        bottom: 20px;
    }


    .amg-img{
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0 0;
    }

    // Card
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(25, 109, 165, 0.7);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        width: 300px;
        height: auto;
        margin-top: 10px;
    }
    
    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
        height: 180px;
    }

    .img-carted {
        border-radius: 5px 5px 0 0;
        height: 255px;
        max-height: 255px;
        min-height: 255px;
    }
    .button{
        text-align: center;
    }
    .btn-card:hover{
        background-color: #00bcd4;
    }



    .board-list {
        padding: 32px 0;
        max-height: none !important;

        .board-list-item {
           
            padding: 0px 0;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px; /* 5px rounded corners */
            width: 300px;
            height: auto;
            margin-top: 10px;
            cursor: pointer;
            margin-right: 10px;
            

            &:hover {
                @include mat-elevation(4);
            }

            .board-name {
                padding-top: 16px;
                font-weight: 500;
            }
        }
    }
    .about-content-details{
        text-align: justify;
        text-justify: inter-word;
    }

    .s-card1{
       margin-top: 2px;
       font-weight: 700;
    }
    .s-card2{
        margin-top: 2px;
        font-weight: 600;
     }
     .s-card3{
        margin-top: 2px;
        font-weight: 500;
     }
}

