<div id="countdown" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-80" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        
        <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

            <div class="left-side" fxLayout="row">
                    <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="secondary-text s-16">home</mat-icon>
                        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                        <span class="secondary-text"><a routerLink="/kiosko"><h1>Sitios</h1></a></span>
                    </div>
            </div>
            <div class="right-side" fxLayout="row">
                
            </div>
        </div>
       
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
 
        <div id="about" class="p-20" fxLayout="row" fxLayoutWrap>

            <div class="about-content" fxLayout="column" fxFlex="{{ size1 }}" fusePerfectScrollbar>
                <div class="board-list" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap
                *fuseIfOnDom [@animateStagger]="{value:'50'}">
                        <div class="board-list-item"  *ngFor="let site of current_site"  fxLayout="column" fxLayoutAlign="center center"
                        [@animate]="{value:'*',params:{y:'100%'}}" >
                        <div *ngIf="site.img">
                            <img src="{{ server +  site.img.file}}" class="img-carted"  alt="Avatar" style="width:100%" (dblclick)="closeModal(site)" (click)="openModal(site)" >
                        </div>
                        <div class="container">
                            <h4><b>{{ site.name }}</b></h4> 
                            <p aling="justi">
                                    {{ site.description }}.
                            </p>
                        </div>
                            <div class="button">
                                <button mat-button  class="btn-card" *ngIf="loginService.validatePermissionTree('users')" (click)="showEditSite(site)">Editar</button>
                                <button mat-button  class="btn-card"  *ngIf="loginService.validatePermissionTree('users')"  (click)="removeSite(site._id)">Eliminar</button>
                            </div>
                        </div>
                </div>


            </div>

            <div class="about-sidebar" fxLayout="column" fxFlex="{{ size2 }}" >

                <div class="profile-box friends" fxLayout="column">

                        <div *ngIf="create_place">
                            <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="12" id="agm-map" >
                                <div *ngIf="current_site">
                                    
                                    <agm-marker  [markerClickable]="true"   [latitude]="curent_lat" [longitude]="current_lng" [iconUrl]="'assets/icons/user-17-512.png'" [label]="loginService.identity.firstname" > 
                                    </agm-marker>


                                    
                                        <agm-marker   [markerClickable]="true"  *ngFor="let data of current_site"  [latitude]="data.lat" [longitude]="data.lng"  [label]="data.name"  id="ag-marker-{{data._id}}">
                                            <agm-info-window [disableAutoPan]="true" #infoWindow id="info-windows" [isOpen]="data.type">
                                                <div class="info-win" *ngIf="data.img">
                                                    <div class="about-content" fxLayout="column" fxFlex="40" >
                                                        <img class="amg-img" src="{{ server +  data.img.file }}" alt="Photo of a Shiba Inu">
                                                    </div>
                                                    <div class="about-content-details" fxLayout="column" fxFlex="60" >
                                                        <mat-card-title><b>{{ data.name }}</b></mat-card-title><br>
                                                        <span class="s-card1">{{ data.tel }}</span>
                                                        <span><b>Dirección:</b> {{ data.calle }}, {{ data.colonia }}, {{ data.municipio }}</span>
                                                        <span><b>Descripción:</b> {{ data.description }}</span>
                                                    </div>
                                                 </div>
                                            </agm-info-window>
                                        </agm-marker>
                                

                                </div>
                            </agm-map>
                        </div>

                        <button mat-fab class="add-button mat-accent-bg" matTooltip="Agregar lugar" *ngIf="create_place" [ngStyle]="{'margin-left': margin }" (click)="showAddSite()">
                            <mat-icon>add</mat-icon>
                        </button>
                </div>
            
            </div>
                
        </div>
 

</div>

