#dashboard-project {

    mat-sidenav-container {

        .add-button {
            position: fixed;
            z-index: 10;
            bottom: 10px;
            right: 10px;
        }

        .event-item {
            cursor: pointer;
        }
        .event-item:hover {
            background-color: rgba(181, 181, 181, 0.18);
        }

        .nexts-events .secondary-text {
            font-size: 1em !important;
        }

        .mat-drawer-content,
        .mat-sidenav-content {
            flex: 1 1 100%;
        }

        .center {

            > .header {
                height: 160px;
                min-height: 160px;
                max-height: 160px;

                .selected-project {
                    background: rgba(0, 0, 0, 0.12);
                    color: #FFFFFF;
                    padding: 8px 16px;
                    height: 40px;
                    line-height: 24px;
                    font-size: 16px;
                }

                .project-selector {
                    margin-left: 1px;
                    border-radius: 0;
                    background: rgba(0, 0, 0, 0.12);

                    mat-icon {
                        color: #FFFFFF;
                    }
                }
            }

            > .content {
                flex: 1;

                mat-tab-group {
                    height: 100%;

                    .mat-tab-body-wrapper {
                        flex-grow: 1;
                    }
                }

                .mat-tab-label-container {
                    padding: 0 24px;
                }
            }
        }

        .sidenav {
            width: 250px !important;
            min-width: 250px !important;
            max-width: 250px !important;
        }
    }
}
ngx-charts-area-chart{
    max-width: 100px;
    max-height: 100px;

}