<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row">

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

            

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group dynamicHeight>

                    <mat-tab label="KPI's">
                        
                        

                        <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap  [@animateStagger]="{value:'50'}">
                            
                            
                            
                            
                            <div class="about-content" fxLayout="column" fxFlex="40" fusePerfectScrollbar>
                                  <!-- WIDGET 5  -->
                                  <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

                                        <!-- Front -->
                                                        
                                    <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                            <button mat-icon-button fuseWidgetToggle aria-label="more">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                        </div>
    
                                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                            <div class="light-blue-fg font-size-72 line-height-72">
                                                <mat-icon fontSet="meteocons" fontIcon="icon-windy" class="mr-8 s-16"></mat-icon> 32°
                                            </div>
                                            <div class="h3 secondary-text font-weight-500">Temperatura</div>
                                        </div>
    
                                    </div>
                                    <!-- / Front -->
    
                                    <!-- Back -->
                                    <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
             
                                    </div>
                                    <!-- / Back -->
    

                                        
                                        <!-- / Front -->

                                    </fuse-widget>
                                    <!-- / WIDGET 5 -->
                            </div>
                            <div class="about-content" fxLayout="column" fxFlex="60" fusePerfectScrollbar>

                                    <!-- WIDGET 5  -->
                                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

                                        <!-- Front -->
                                        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                            <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>

                                                <div fxFlex class="py-8 h3">Temperatura Promedio</div>

                                                
                                            </div>

                                            <div fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                                                <div class="h-420 mb-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                                        <!-- Grafic-->
                                                        <ngx-charts-area-chart
                                                        class="graf1"
                                                        [view]="view"
                                                        [scheme]="colorScheme"
                                                        [results]="multi"
                                                        [gradient]="gradient"
                                                        [xAxis]="showXAxis"
                                                        [yAxis]="showYAxis"
                                                        [legend]="showLegend"
                                                        [showXAxisLabel]="showXAxisLabel"
                                                        [showYAxisLabel]="showYAxisLabel"
                                                        [xAxisLabel]="xAxisLabel"
                                                        [yAxisLabel]="yAxisLabel"
                                                        [autoScale]="autoScale"
                                                        (select)="onSelect($event)">
                                                      </ngx-charts-area-chart>
                                                      
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / Front -->

                                    </fuse-widget>
                                    <!-- / WIDGET 5 -->


                                    <!-- WIDGET 7 DOCUMENTS-->
                                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" *ngIf="loginService.validatePermissionTree('mybusiness','users')">

                                        <!-- Front -->
                                        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                            <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                                <div class="h3">Mis Documentos 
                                                    <button mat-icon-button>
                                                        <mat-icon class="amber-600-fg">folder</mat-icon>
                                                    </button>
                                                </div>
                                                <mat-form-field>
                                                    <mat-select class="simplified" 
                                                                aria-label="Change range">
                                                        <mat-option *ngFor="let dir of current_directory"
                                                                    [value]="dir._id" (click)="showFiles(dir)">
                                                            {{ dir.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
        
                                            <div *ngIf="showDetails == true">
                                                        
                                                <mat-list>
                                                        <mat-list-item *ngFor="let file of select_files">
                                
                                                                <mat-icon *ngIf="file.type !=  'document'" class="cyan-600-fg" mat-list-icon>{{file.type}}</mat-icon>
                                                                        
                                                                <mat-icon *ngIf="file.type ==  'document'" class="warn-600-fg" mat-list-icon>picture_as_pdf</mat-icon>
                                                            
                                                                <h4 mat-line>{{file.name}}</h4>        
                                                                <p mat-line> {{file.size |  filesize}}</p>
                                                    
                                                                <button mat-icon-button aria-label="More information" matTooltip="Ver Archivo o Imagen" (click)="viewImg(file)">
                                                                    <mat-icon>exit_to_app</mat-icon>
                                                                </button>

                                                        </mat-list-item>
                                                </mat-list>
                                                
                                            </div>

                                        </div>
                                        <!-- / Front -->

                                    </fuse-widget>
                                    <!-- / WIDGET 7 -->
                            </div>

                        </div>
                        <!-- / WIDGET GROUP -->
                        

                    </mat-tab>

                    <mat-tab label="Resumen de la Actividad">

                        <!-- WIDGET GROUP -->
                        <div class="widget-group" fxLayout="row" fxFlex="100" fxLayoutWrap  [@animateStagger]="{value:'50'}">

                            <!-- WIDGET 8 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="h3 p-16">
                                        {{widgets.widget8.title}}
                                    </div>

                                    <mat-divider></mat-divider>

                                    <div class="h-400">
                                        <ngx-charts-pie-chart
                                            
                                            [scheme]="widget8.scheme"
                                            [results]="widgets.widget8.mainChart"
                                            [legend]="widget8.legend"
                                            [explodeSlices]="widget8.explodeSlices"
                                            [labels]="widget8.labels"
                                            [doughnut]="widget8.doughnut"
                                            [gradient]="widget8.gradient"
                                            (select)="widget8.onSelect($event)">
                                        </ngx-charts-pie-chart>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 8 -->

                            <!-- WIDGET 9 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="h3">{{widgets.widget9.title}}</div>
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="widget9.currentRange" aria-label="Change range">
                                                <mat-option *ngFor="let range of widgets.widget9.ranges | keys"
                                                            [value]="range.key">
                                                    {{range.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="p-16" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                                         fxLayoutAlign.gt-xs="space-between end">
                                        <div fxFlex="0 1 auto">
                                            <div class="h4 secondary-text">{{widgets.widget9.weeklySpent.title}}</div>
                                            <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                                <span class="secondary-text">$</span>
                                                <span>{{widgets.widget9.weeklySpent.count[widget9.currentRange]}}</span>
                                            </div>
                                        </div>
                                        <div class="h-52" fxFlex>
                                            <ngx-charts-area-chart
                                                
                                                [results]="widgets.widget9.weeklySpent.chart[widget9.currentRange]"
                                                [scheme]="widget9.scheme"
                                                [gradient]="widget9.gradient"
                                                [xAxis]="widget9.xAxis"
                                                [yAxis]="widget9.yAxis"
                                                [legend]="widget9.legend"
                                                [showXAxisLabel]="widget9.showXAxisLabel"
                                                [showYAxisLabel]="widget9.showYAxisLabel"
                                                [xAxisLabel]="widget9.xAxisLabel"
                                                [yAxisLabel]="widget9.yAxisLabel"
                                                [curve]="widget9.curve">
                                            </ngx-charts-area-chart>
                                        </div>
                                    </div>

                                    <div class="p-16" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                                         fxLayoutAlign.gt-xs="space-between end">
                                        <div fxFlex="0 1 auto">
                                            <div class="h4 secondary-text">{{widgets.widget9.totalSpent.title}}</div>
                                            <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                                <span class="secondary-text">$</span>
                                                <span>{{widgets.widget9.totalSpent.count[widget9.currentRange]}}</span>
                                            </div>
                                        </div>
                                        <div class="h-52" fxFlex>
                                            <ngx-charts-area-chart
                                                
                                                [results]="widgets.widget9.totalSpent.chart[widget9.currentRange]"
                                                [scheme]="widget9.scheme"
                                                [gradient]="widget9.gradient"
                                                [xAxis]="widget9.xAxis"
                                                [yAxis]="widget9.yAxis"
                                                [legend]="widget9.legend"
                                                [showXAxisLabel]="widget9.showXAxisLabel"
                                                [showYAxisLabel]="widget9.showYAxisLabel"
                                                [xAxisLabel]="widget9.xAxisLabel"
                                                [yAxisLabel]="widget9.yAxisLabel"
                                                [curve]="widget9.curve">
                                            </ngx-charts-area-chart>
                                        </div>
                                    </div>

                                    <div class="p-16" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
                                         fxLayoutAlign.gt-xs="space-between end">
                                        <div fxFlex="0 1 auto">
                                            <div class="h4 secondary-text">{{widgets.widget9.remaining.title}}</div>
                                            <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                                <span class="secondary-text">$</span>
                                                <span>{{widgets.widget9.remaining.count[widget9.currentRange]}}</span>
                                            </div>
                                        </div>
                                        <div class="h-52" fxFlex>
                                            <ngx-charts-area-chart
                                                
                                                [results]="widgets.widget9.remaining.chart[widget9.currentRange]"
                                                [scheme]="widget9.scheme"
                                                [gradient]="widget9.gradient"
                                                [xAxis]="widget9.xAxis"
                                                [yAxis]="widget9.yAxis"
                                                [legend]="widget9.legend"
                                                [showXAxisLabel]="widget9.showXAxisLabel"
                                                [showYAxisLabel]="widget9.showYAxisLabel"
                                                [xAxisLabel]="widget9.xAxisLabel"
                                                [yAxisLabel]="widget9.yAxisLabel"
                                                [curve]="widget9.curve">
                                            </ngx-charts-area-chart>
                                        </div>
                                    </div>

                                    <div class="p-16 border-top">
                                        <div class="h4 secondary-text">{{widgets.widget9.totalBudget.title}}</div>
                                        <div class="pt-8 mat-display-1 m-0 font-weight-300">
                                            <span class="secondary-text">$</span>
                                            <span>{{widgets.widget9.totalBudget.count}}</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 9 -->

                            <!-- WIDGET 10 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="simple-table-container" ms-responsive-table>
                                        <div class=" table-title">
                                            {{widgets.widget10.title}}
                                        </div>

                                        <table class="simple">

                                            <thead>
                                                <tr>
                                                    <th *ngFor="let column of widgets.widget10.table.columns">
                                                        {{column.title}}
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let row of widgets.widget10.table.rows">
                                                    <td *ngFor="let cell of row">
                                                        <span class="p-4" [ngClass]="cell.classes">
                                                            {{cell.value}}
                                                        </span>
                                                        <mat-icon *ngIf="cell.icon" class="s-16">{{cell.icon}}</mat-icon>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 10 -->

                        </div>
                        <!-- / WIDGET GROUP -->

                    </mat-tab>

                    <mat-tab label="Mi Equipo">

                        <!-- WIDGET GROUP -->
                        <div class="widget-group" fxLayout="row" fxFlex="100" fxLayoutWrap  [@animateStagger]="{value:'50'}">

                            <!-- WIDGET 11 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="p-24 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="h2">{{widgets.widget11.title}}</div>
                                        <div class="text-boxed red-bg white-fg m-0">{{widgets.widget11.table.rows.length}}
                                            members
                                        </div>
                                    </div>

                                    <mat-table #table [dataSource]="widget11.dataSource">

                                        <!-- Avatar Column -->
                                        <ng-container cdkColumnDef="avatar">
                                            <mat-header-cell fxFlex="64px" *cdkHeaderCellDef></mat-header-cell>
                                            <mat-cell fxFlex="64px" *cdkCellDef="let contact">
                                                <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name"
                                                     [src]="contact.avatar"/>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container cdkColumnDef="name">
                                            <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
                                            <mat-cell *cdkCellDef="let contact">
                                                <p class="text-truncate font-weight-600">{{contact.name}} {{contact.lastName}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Position Column -->
                                        <ng-container cdkColumnDef="position">
                                            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Position</mat-header-cell>
                                            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm>
                                                <p class="position text-truncate">
                                                    {{contact.position}}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Office Column -->
                                        <ng-container cdkColumnDef="office">
                                            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Office</mat-header-cell>
                                            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
                                                <p class="office text-truncate">
                                                    {{contact.office}}
                                                </p>
                                            </mat-cell>
                                        </ng-container>


                                        <!-- Email Column -->
                                        <ng-container cdkColumnDef="email">
                                            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
                                            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm>
                                                <p class="email text-truncate">
                                                    {{contact.email}}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Phone Column -->
                                        <ng-container cdkColumnDef="phone">
                                            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
                                            <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
                                                <p class="phone text-truncate">
                                                    {{contact.phone}}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *cdkHeaderRowDef="widgets.widget11.table.columns"></mat-header-row>
                                        <mat-row *cdkRowDef="let contact; columns: widgets.widget11.table.columns;">
                                        </mat-row>
                                    </mat-table>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 11 -->

                        </div>
                        <!-- / WIDGET GROUP -->

                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" align="end" mode="side" opened="true" fuseMatSidenavHelper="dashboards-right-sidenav" mat-is-locked-open="gt-md">

            <div class="sidenav-content" fusePerfectScrollbar>

                <button mat-fab class="add-button mat-accent-bg" matTooltip="Registrar Visita" (click)="router.navigate(['access/solicitud'])" *ngIf="loginService.hasPermission('access-event-create')">
                    <mat-icon>add</mat-icon>
                </button>

                <!-- WIDGET GROUP -->
                <div class="widget-group" fxLayout="column" fxFlex="100"  [@animateStagger]="{value:'50'}">

                    <!-- NOW WIDGET -->
                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="sidenav-widget p-0">

                        <!-- Front -->
                        <div class="fuse-widget-front">

                            <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                                <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="mr-8">place</mat-icon>
                                    Lerma 
                                </div>

                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>

                                    <mat-menu #moreMenu="matMenu">
                                        <button mat-menu-item aria-label="Flip widget">
                                            SDR Cuajimalpa
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>

                            <div class="p-16 pt-0" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text">
                                    <span>{{ dateNow }}</span>
                                </div>
                            </div>

                            <div class="p-16 pt-24" fxLayout="column" fxLayoutAlign="center center" *ngIf="today_events && nexts_events && today_events.length==0 && nexts_events==0">
                                <div class="h1 text-center">
                                    <span>Sin visitas pendientes a SDR.</span>
                                </div>
                            </div>


                            <div class="grey-300-bg p-16" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="today_events && today_events.length">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="mr-8 s-16"> today</mat-icon>
                                    <span>
                                        Mis visitas del día
                                    </span>
                                </div>

                            </div>

                            <div class="py-0" *ngIf="today_events && today_events.length">
                                <div class="py-16 px-24 event-item" fxLayout="row" fxLayoutAlign="space-between center"
                                     *ngFor="let ev of today_events" (click)="router.navigate(['/access/solicitud/'+ev._id])">
                                    <span class="h4">{{ev.name_event}}</span>
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        
                                        <span class="h2">{{ ev.start_date.format('HH:mm') }}</span>
                                        <span class="h2 font-weight-300 secondary-text">hrs</span>
                                    </div>
                                </div>
                            </div>

                            <div class="grey-300-bg p-16" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="nexts_events && nexts_events.length">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="mr-8 s-16"> today</mat-icon>
                                    <span>
                                        Mis próximas visitas
                                    </span>
                                </div>

                            </div>

                            <div class="py-0 nexts-events" *ngIf="nexts_events && nexts_events.length">
                                <div class="py-16 px-24 event-item" fxLayout="row" fxLayoutAlign="space-between center"
                                    *ngFor="let ev of nexts_events" (click)="router.navigate(['/access/solicitud/'+ev._id])">
                                   <span class="h4">{{ev.name_event}}</span>
                                   <div fxLayout="column" fxLayoutAlign="start center">
                                       
                                       <span class="h2">{{ ev.start_date.format('D MMM') }}</span>
                                       <span class="h2 font-weight-300 secondary-text">{{ ev.start_date.format('HH:mm') }} hrs</span>
                                   </div>
                               </div>
                            </div>

                        </div>
                        <!-- / Front -->

                    </fuse-widget>
                    <!-- / NOW WIDGET -->


                </div>
                <!-- / WIDGET GROUP -->
            </div>

        </mat-sidenav>
        <!-- / SIDENAV -->

    </mat-sidenav-container>

</div>
