<div class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-button class="mat-icon-button"  (click)="router.navigate(['/admin/']);"> <mat-icon>chevron_left</mat-icon> </button>
            <h2>Lector QR</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ title }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24" fusePerfectScrollbar>

               
                    <div fxFlex="20" style="text-align:center;" >
                      <img style="width:80px; height:80px" src="assets/images/icons/qr-code-icon.png">
                    </div>
                    <div fxFlex style="margin-left: 0px">
                      <section>
                        <h3>Por favor ingresa los datos del QR.</h3>
                        <div>
                          <mat-input-container fxFlex>
                            <input matInput autocomplete="off" placeholder="Datos del QR" [(ngModel)]="qr_code" (input)="onSearchChange($event.target.value)" #myInput>
                          </mat-input-container>
                          <button mat-button color="accent" (click)="searchEvent()">Buscar</button>
                        </div>
                      </section>
                    </div>
                

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
