@import "src/app/core/scss/fuse";
fuse-business-details-content {
  width: 100%;
  .sidenav-item {
    cursor: pointer;
  }
  .sidenav-item.active {
    background: mat-color($accent);
    mat-list-item {
      color: #fff;
    }
  }
  #add-contact-button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
  }
  .mat-white-bg .mat-accent-bg .mat-icon, .mat-white-bg .mat-accent-bg .icon{
      color: white !important;
  }
  .table, mat-table {
    width: 100%;
  }
  fuse-business-users-list {
    width: 100%;
  }
  fuse-file-manager-business {
    width: 100%;
  }
}
