<div class="page-layout carded left-sidenav" fusePerfectScrollbar>
    
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                     fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">

            <!-- SIDENAV HEADER -->
            <div class="header p-24" ngClass="mat-accent-bg" layout="row" layout-align="center center" ngClass.gt-md="white-fg">
                <button mat-button class="mat-icon-button"
                        *ngIf="loginService.validatePermissionTree('business')"
                        (click)="router.navigate(['business'])"
                        aria-label="return">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <span class="mat-subheading-1" *ngIf="loginService.validatePermissionTree('business')">Ir a clientes</span>
            </div>
            <!-- / SIDENAV HEADER -->

            <!-- SIDENAV CONTENT -->
            <div class="content" fusePerfectScrollbar>

                <div class="demo-sidenav">
                    <mat-list>
                        <h3 matSubheader>Secciones</h3>
                        <div class="sidenav-item" (click)="section='detalle'" [ngClass]="{'active': section=='detalle' }">
                            <mat-list-item>
                                <span>Detalle</span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="sidenav-item" (click)="section='usuarios'" [ngClass]="{'active': section=='usuarios' }">
                            <mat-list-item>
                                <span>Usuarios</span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="sidenav-item" *ngIf="current_business" (click)="router.navigate(['business/files/'+current_business._id])" [ngClass]="{'active': section=='archivos' }">
                            <mat-list-item>
                                <span>Archivos</span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="sidenav-item" *ngIf="current_business" (click)="router.navigate(['business/call-tree/'+current_business._id])" [ngClass]="{'active': section=='archivos' }">
                            <mat-list-item>
                                <span>Call Tree</span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                </div>
                        

            </div>
            <!-- / SIDENAV CONTENT -->

        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center">

            <!-- CONTENT HEADER -->
            <div class="header white-fg p-24">

                <h2 *ngIf="current_business">{{ current_business.name }}</h2>
            </div>
            <!-- / CONTENT HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg" *ngIf="section=='detalle'">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">
                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span >Detalle de la Empresa</span>
                    <span fxFlex><!-- fill space --></span>
                    
                    <button mat-button class="mat-icon-button"
                            (click)="saveBusiness()"
                            *ngIf="this.loginService.hasPermission('business-business-update')"
                            matTooltip="Guardar"
                            aria-label="save">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-button class="mat-icon-button"
                            (click)="deleteBusiness()"
                            *ngIf="this.loginService.hasPermission('business-business-delete')"
                            matTooltip="Delete"
                            aria-label="delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content p-24" fusePerfectScrollbar>

                    <!-- CONTENT -->
                    
                    <form *ngIf="current_business" layout="row" fxFlex #businessForm="ngForm">
                        
                        <div fxLayout="row">
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Nombre" name="name" required [(ngModel)]="current_business.name" [disabled]="is_disabled()">
                            </mat-input-container>
                            <div fxFlex class="text-right">
                                <mat-slide-toggle name="active" [(ngModel)]="current_business.active" [disabled]="is_disabled()">
                                <span *ngIf="current_business.active">Activa</span>
                                <span *ngIf="!current_business.active">Suspendida</span>
                                </mat-slide-toggle>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <!--<mat-input-container fxFlex>
                                <input matInput placeholder="Nombre" name="logo" required [(ngModel)]="current_business.logo">
                            </mat-input-container> -->
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Acronimo" name="acronimo" required [(ngModel)]="current_business.acronimo" [disabled]="is_disabled()">
                            </mat-input-container>
                        </div>
                    
                        <div fxLayout="row">
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Calle y No." name="calle" required [(ngModel)]="current_business.calle" [disabled]="is_disabled()">
                            </mat-input-container>
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Colonia" name="colonia" required [(ngModel)]="current_business.colonia" [disabled]="is_disabled()">
                            </mat-input-container>
                        </div>
                    
                        <div fxLayout="row">
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Municipio" name="municipio" required [(ngModel)]="current_business.municipio" [disabled]="is_disabled()">
                            </mat-input-container>
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Estado" name="estado" required [(ngModel)]="current_business.estado" [disabled]="is_disabled()">
                            </mat-input-container>
                        </div>
                    
                        <div fxLayout="row">
                            <mat-input-container fxFlex>
                                <input matInput placeholder="País" name="pais" required [(ngModel)]="current_business.pais" [disabled]="is_disabled()">
                            </mat-input-container>
                            <mat-input-container fxFlex>
                                <input matInput placeholder="C.P." name="cp" required [(ngModel)]="current_business.cp" [disabled]="is_disabled()">
                            </mat-input-container>
                            <mat-input-container fxFlex>
                                <input matInput placeholder="Teléfono" name="tel" required [(ngModel)]="current_business.tel" [disabled]="is_disabled()">
                            </mat-input-container>
                        </div>
                        <h3 class="mat-body-2">Campos Adicionales</h3>
                        <div fxLayout="row">
                            <div fxFlex>
                              
                              <table class="table table-condensed table-grey-header table-bordered">
                                <tbody>
                                <tr *ngFor="let ext of current_business.extradata; let i = index; let lst = last;">
                                  <td>
                                    <div fxLayout="column" *ngIf="lst">
                                      <mat-input-container fxFlex>
                                        <input matInput placeholder="Clave" name="clave" type="text" [(ngModel)]="ext.clave">
                                      </mat-input-container>
                                    </div>
                                    <span *ngIf="!lst">
                                      <strong>Clave:</strong> {{ ext.clave}}
                                    </span>
                                  </td>
                                  <td>
                                    <div fxLayout="column" *ngIf="lst">
                                      <mat-input-container fxFlex>
                                        <input matInput placeholder="Valor" name="valor" type="text" [(ngModel)]="ext.valor">
                                      </mat-input-container>
                                    </div>
                                    <span *ngIf="!lst">
                                      <strong>Valor:</strong> {{ ext.valor}}
                                    </span>
                                  </td>
                                  <td>
                                    <button mat-icon-button mdTooltip="Borrar elemento" (click)="removeExtradata(i)">
                                      <mat-icon>remove_circle_outline</mat-icon>
                                    </button>
                                  </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td width="48" >
                                        <button mat-icon-button mdTooltip="Agregar elemento" (click)="addExtradata()">
                                            <mat-icon>add_circle_outline</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                              </table>
                              
                              
                            </div>
                        </div>
                                
                            
                    </form>
                    
                    <!-- / DEMO CONTENT -->


                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg" *ngIf="section=='usuarios'">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">
                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span >Usuarios</span>
                    <span fxFlex><!-- fill space --></span>
                    <!-- / USER -->
                    <button mat-button class="mat-icon-button"
                            *ngIf="loginService.hasPermission(['business-roles-create','business-roles-update','business-roles-delete'])"
                            [matMenuTriggerFor]="rolesMenu"
                            aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #rolesMenu="matMenu">
                        <button mat-menu-item (click)="router.navigate(['business/roles'])">
                            Gestionar Perfiles
                        </button>
                    </mat-menu>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content" fusePerfectScrollbar>

                    <!-- DEMO CONTENT -->
                    <fuse-business-users-list *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}" [business]="current_business"></fuse-business-users-list>
                    <!-- / DEMO CONTENT -->


                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg" *ngIf="section=='archivos'">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">
                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span >Archivos</span>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content" fusePerfectScrollbar>

                    <!-- DEMO CONTENT -->
                    <!--<fuse-file-manager-business *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}" [business]="current_business"></fuse-file-manager-business>-->
                    files
                    <!-- / DEMO CONTENT -->


                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>
